<BsNavbar
  @type={{type}}
  @fluid={{true}}
  @collapsed={{collapsed}}
  @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}} as |navbar|
>
  <div class="navbar-header">
    {{navbar.toggle}}
    <a href="/" class="navbar-brand">
      <img src="/assets/images/fabrica-logo.svg" height="50" class="fabrica-logo"/>
    </a>
  </div>
  <navbar.content>
    <navbar.nav class="navbar-right" as |nav|>
      <nav.item>
        <LinkTo @route="about" @id="about">
          About
        </LinkTo>
      </nav.item>
      <nav.item>
        <a target="_blank" rel="noopener" href="https://support.datacite.org">
          Support
        </a>
      </nav.item>
      {{#if user}}
        {{#if session.isAuthenticated}}
          <nav.dropdown as |dd|>
            <dd.toggle id="account_menu_link">
              {{#if currentUser.isUser}}
                {{currentUser.name}}
              {{else}}
                {{uppercase currentUser.uid}}
              {{/if}}
              <span class="caret"></span>
            </dd.toggle>
            <dd.menu class="navbar-menu" as |menu|>
              <menu.item class="dropdown-header">
                Role:
                {{currentUser.roleName}}
              </menu.item>
              <menu.item>
                <DynamicLink @params={{settings}}>
                  <i class="fas fa-cog"></i>
                  Settings
                </DynamicLink>
              </menu.item>
              <menu.divider />
              <menu.item>
                <a {{action 'invalidateSession'}}>
                  <i class="fas fa-sign-out-alt"></i>
                  Sign out
                </a>
              </menu.item>
            </dd.menu>
          </nav.dropdown>
        {{else}}
          <nav.item>
            <LinkTo
              @route="sign-in"
              @id="sign-in"
              class="btn btn-sm btn-neutral"
            >
              <i class="fas fa-sign-in-alt"></i>
              {{t 'user.signin'}}
            </LinkTo>
          </nav.item>
        {{/if}}
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>