<BsNavbar
  @type={{type}} 
  @fluid={{true}} 
  @collapsed={{collapsed}} 
  @onCollapse={{action (mut collapsed) true}} 
  @onExpand={{action (mut collapsed) false}} as |navbar|>

  <div class="navbar-header">
    {{navbar.toggle}}
    <a href="/" class="navbar-brand">{{title}}</a>
  </div>
  <navbar.content>
    <navbar.nav class="navbar-right" as |nav|>
      <nav.item><a target="_blank" rel="noopener" href="https://support.datacite.org">Support</a></nav.item>
      {{#if user}}
        {{#if session.isAuthenticated}}
          <nav.dropdown as |dd|>
            <dd.toggle id="account_menu_link">
              {{#if currentUser.isUser}}
                {{currentUser.name}}
              {{else}}
                {{uppercase currentUser.uid}}
              {{/if}}
              <span class="caret"></span>
            </dd.toggle> 
            <dd.menu class="navbar-menu" as |menu|>
              <menu.item class="dropdown-header">
                Role: {{currentUser.roleName}}
              </menu.item>
              <menu.item>
                <DynamicLink @params={{home}}>{{fa-icon "cog"}} Settings</DynamicLink>
              </menu.item>
              <menu.divider/>
              <menu.item>
                <a {{action "invalidateSession"}}>{{fa-icon "sign-out"}} Sign out</a>
              </menu.item>
            </dd.menu>
          </nav.dropdown>
        {{else}}
          <nav.item><LinkTo @route="sign-in" @id="sign-in" class="btn btn-sm btn-neutral">{{fa-icon "sign-in"}} {{t "user.signin"}}</LinkTo></nav.item>
        {{/if}}
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
