<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>{{t "footer.about"}}</h4>
      <ListLinks @links={{data.about_links}} />
    </div>
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>Services</h4>
      <ListLinks @links={{data.services_links}} />
    </div>
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>Resources</h4>
      <ListLinks @links={{data.resources_links}} />
      <h4>Community</h4>
      <ListLinks @links={{data.community_links}} />
    </div>
    <div class='col-md-3 footer-column'>
      <h4 class="share">Contact us</h4>
      <a href='mailto:support@datacite.org' class="share">
        <i class="fas fa-envelope"></i>
      </a>
      <a href={{get (links) 'BLOG'}} class="share">
        <i class="fas fa-blog"></i>
      </a>
      <a href={{get (links) 'TWITTER'}} class="share">
        <i class="fab fa-twitter"></i>
      </a>
      <a href={{get (links) 'GITHUB'}} class="share">
        <i class="fab fa-github"></i>
      </a>
      <a href={{get (links) 'YOUTUBE'}} class="share">
        <i class="fab fa-youtube"></i>
      </a>
      <a href={{get (links) 'LINKEDIN'}} class="share">
        <i class="fab fa-linkedin"></i>
      </a>
      <ListLinks @links={{data.contact_links}} @class="share" />
      <FooterStatus />
    </div>
  </div>
</footer>
