<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="{{chartId}}-title">
      {{pluralize 2 label without-count=true}}
      <span class="small pull-right">by year</span>
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <h2 class="member graphs">
      {{#if model}}
        <LinkTo @route={{link}} @model={{model.id}}>{{format-number count}}</LinkTo>
      {{else}}
        <LinkTo @route={{link}}>{{format-number count}}</LinkTo>
      {{/if}}
      {{#if (not cumulative)}}<span class="small">in {{current-year}}</span>{{/if}}
    </h2>
    <div class="graphs" id={{chartId}}></div>
  </div>
</div>
