<a href="{{licenseURL}}">
  {{#each licenseLogo as |license|}}
    {{#if license.class}}
      <i class="{{license.class}}">{{#bs-popover placement="top" viewportPadding=10 triggerEvents='hover' title=license.tooltip.title}}{{license.tooltip.text}}{{/bs-popover}}</i>
    {{else}}
      {{license.logo}}
    {{/if}}
  {{/each}}
</a>
