{{#if edit}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent" id="content-member">
        <div class="panel-body">
          <div class="col-md-9 col-md-offset-3"><h3 class="edit">Update {{if (eq currentUser.uid model.id) 'Account' 'Client'}}</h3></div>

          {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "submit" model) submitOnEnter=true as |form|}}
            {{form.element controlType="text" label="Client ID" property="symbol" helpText='The Client ID is a unique identifier for each client. The Client ID must start with the Provider ID, followed by a dot. It can then contain only upper case letters, numbers, and at most one hyphen.' disabled=true}}
            {{form.element controlType="hidden" property="confirmSymbol" required=false}}
            {{#form.element controlType="power-select" property="repository" label="re3data Record (optional)" optionLabelPath="name" options=repositories destination=repository helpText='re3data is a registry of research data repositories.' as |el|}}
              {{#el.control onChange=(action "selectRepository") search=(action "searchRepository") searchField="name" searchPlaceholder="Type to search..." allowClear=true as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}
            {{form.element controlType="text" label="Client Name" property="name" required=false}}
            {{form.element controlType="text" label="Contact Name" property="contactName" helpText='Please enter the name of a person that can be contacted for technical or administrative issues.' required=false}}
            {{form.element controlType="email" label="Contact Email" property="contactEmail" helpText='Please enter an email address that can be contacted for technical or administrative issues.' required=false}}
            {{form.element controlType="textarea" label="Domains" property="domains" required=false helpText='List of (sub-)domains used for DOI registration, or use * to allow all domains'}}

            {{#if (can "create client" model.provider)}}
              {{form.element controlType="checkbox" label="Account is active" property="isActive" helpText='This account can register and update DOIs'}}
            {{/if}}

            <div class="col-md-9 col-md-offset-3">
              <div class="btn-toolbar">
                <button type="submit" class="btn btn-sm btn-fill">Update Client</button>
                <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
              </div>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>

      {{client-sidebar model=model}}
    </div>
  </div>
{{else if change}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="col-md-9 col-md-offset-3">
            <h3 class="edit">Set Password</h3>

            <span class="help-block">Click <a class="action-link" {{action "generate"}}>here</a> for a password suggestion.</span>
          </div>

          {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "setPassword" model) submitOnEnter=true as |form|}}
            {{form.element controlType="text" id="passwordInput" property="passwordInput" label="New Password" required=false}}
            {{form.element controlType="text" property="confirmPasswordInput" label="Confirm Password" required=false}}

            <div class="col-md-9 col-md-offset-3">
              <div class="btn-toolbar">
                <button type="submit" class="btn btn-sm btn-fill">Set Password</button>
                <button {{action "cancel" model}} class="btn btn-sm" id="cancel">Cancel</button>
              </div>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
{{else if delete}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if (gt model.totalDoiCount 0)}}
            <div class="alert alert-danger" role="alert">
              You need to transfer all DOIs to another client before you can delete this client.
            </div>
            <div class="pseudo-footer">
              <div class="btn-toolbar btn-sm pull-right">
                <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
                {{#link-to "clients.show.transfer" model.id class="btn btn-sm"}}{{fa-icon "arrow-circle-o-right"}}Transfer DOIs{{/link-to}}
              </div>
              <div class="clearfix"/>
            </div>
          {{else}}
            {{#bs-form formLayout="vertical" model=model onSubmit=(action "destroy" model) submitOnEnter=true as |form|}}
              {{#form.group validation=(if (v-get model 'isInvalid') "error" "success")}}
                {{form.element controlType="text" label='Are you sure you want to delete this client? This action cannot be undone.' property='confirmSymbol' showValidationOn="input" autofocus=true helpText='Please add the Client ID to delete.'}}
              {{/form.group}}

              <div class="pseudo-footer">
                <div class="btn-toolbar pull-right">
                  <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
                  <button {{action "destroy" model}} class="btn btn-sm btn-fill">Delete</button>
                </div>
                <div class="clearfix"/>
              </div>
            {{/bs-form}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}

          <h5>
            Client ID
            <span>{{fa-icon "question-circle-o"}}
              {{#bs-tooltip placement="top" viewportPadding=10}}The Client ID is a unique identifier for each client. It must contain only upper case letters and numbers, and must start with the Provider ID.{{/bs-tooltip}}
            </span>
          </h5>
          {{model.symbol}}

          {{#if model.repository.id}}
            <h5>
              re3data Record
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}re3data is a registry of research data repositories.{{/bs-tooltip}}
              </span>
            </h5>
            <a href="http://www.re3data.org/repository/{{model.repository.id}}">{{model.repository.id}}</a>
          {{/if}}

          {{#if model.repository.additionalName}}
            <h5>Additional Name</h5>
            {{model.repository.additionalName}}
          {{/if}}

          {{#if model.repository.subject}}
            <h5>
              {{pluralize-word model.subject.length "Subject" omitCount=true}}
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}German Research Foundation (DFG) classification of subject areas covered by this client.{{/bs-tooltip}}
              </span>
            </h5>
            <div class="subject">
              {{#each model.repository.subject as |sub|}}
                <span class="label label-primary">{{sub.name}}</span>
              {{/each}}
            </div>
          {{/if}}

          {{#if model.repository.description}}
            <h5>Description</h5>
            {{model.repository.description}}
          {{/if}}

          {{#if model.contactName}}
            <h5>Contact Name</h5>
            {{model.contactName}}
          {{/if}}

          {{#if model.contactEmail}}
            <h5>Contact Email</h5>
            <a href="mailto:{{model.contactEmail}}">{{model.contactEmail}}</a>
          {{/if}}

          {{#if model.repository.repositorySoftware}}
            <h5>Repository Software</h5>
            {{model.repository.repositorySoftware}}
          {{/if}}

          {{#if model.repository.repositoryUrl}}
            <h5>Repository URL</h5>
            <a href="{{model.repository.repositoryUrl}}">{{model.repository.repositoryUrl}}</a>
          {{/if}}

          {{#if model.domainList}}
            <h5>
              {{pluralize-word model.domainList.length "Domain" omitCount=true}}
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}URLs for DOIs must use {{#if (gt model.domainList.length 1)}}one of these (sub-)domains{{else}}this (sub-)domain{{/if}}.{{/bs-tooltip}}
              </span>
            </h5>
            {{#each model.domainList as |domain|}}
              {{domain}}<br/>
            {{/each}}
          {{/if}}

          {{#if (not model.hasPassword)}}
            <h5>Password</h5>
            <span class="small icon-warning">has not been set</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{#if (can "update client" model)}}
        <div class="panel facets">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "change" model}} class="btn btn-warning" id="set-password-provider">{{fa-icon "key"}}Set Password</button>
                <button {{action "edit" model}} class="btn btn-warning" id="edit-client">{{fa-icon "pencil"}}Update{{if (eq currentUser.uid model.id) ' Account' ' Client'}}</button>
                {{#if (can "delete client" model)}}
                  <button {{action "delete" model}} class="btn btn-warning" id="delete-client">{{fa-icon "trash"}}Delete{{if media.isXl ' Client'}}</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{client-sidebar model=model}}
    </div>
  </div>
{{/if}}
