<div class="panel-body metadata">
  {{#if model.created}}
    <h5>Record created</h5>
    <div class="created">
      {{format-time model.created year='numeric' month='long' day='numeric'}}
    </div>
  {{/if}}
  {{#if (gt model.updated model.created)}}
    <h5>Record last modified</h5>
    <div class="updated">
      {{format-time model.updated year='numeric' month='long' day='numeric'}}
    </div>
  {{/if}}
  {{#if model.state}}
    <div class="state">
      {{state-label state=model.state}}
    </div>
  {{/if}}
  {{#if model.registered}}
    <h5>DOI registered</h5>
    <div class="registered">
      {{format-time model.registered year='numeric' month='long' day='numeric'}}
    </div>
  {{/if}}
  {{#if (gt model.updated model.registered)}}
    <h5>DOI last updated</h5>
    <div class="updated">
      {{format-time model.updated year='numeric' month='long' day='numeric'}}
    </div>
  {{/if}}
  {{#if model.schemaVersionString}}
    <h5>
      Schema
      <span>{{fa-icon "question-circle-o"}}
        {{#bs-tooltip placement="top" viewportPadding=10}}Metadata schema version used.{{/bs-tooltip}}
      </span>
    </h5>
    <div class="schema-version">
      <a href="http://schema.datacite.org/meta/kernel-{{model.schemaVersionString}}">DataCite Metadata Schema {{model.schemaVersionString}}</a>
    </div>
  {{/if}}
 </div>
