{{#if new}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="col-md-10 col-md-offset-2"><h3 class="edit">Create Client</h3></div>

        {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-2" model=client onSubmit=(action "submit" client model) submitOnEnter=true as |form|}}
          {{form.element controlType="text" label="Client ID" property="symbol" helpText='The Client ID is the unique identifier for each client and can\'t be changed. The Client ID must start with the Provider ID, followed by a dot. It can then contain only upper case letters, numbers, and at most one hyphen.' useIcons=false required=false}}
          {{#form.element controlType="power-select" property="repository" label="re3data Record (optional)" optionLabelPath="name" options=repositories destination=repository helpText='re3data is a registry of research data repositories.' as |el|}}
            {{#el.control onChange=(action "selectRepository") search=(action "searchRepository") searchField="name" searchPlaceholder="Type to search..." allowClear=true as |item|}}
              {{item.name}}
            {{/el.control}}
          {{/form.element}}
          {{form.element controlType="text" label="Client Name" property="name" useIcons=false required=false}}
          {{form.element controlType="text" label="Contact Name" property="contactName" helpText='Please enter the name of a person that can be contacted for technical or administrative issues.' required=false}}
          {{form.element controlType="email" label="Contact Email" property="contactEmail" helpText='Please enter an email address that can be contacted for technical or administrative issues.' useIcons=false required=false}}
          {{form.element controlType="textarea" label="Domains" property="domains" helpText='List of (sub-)domains used for DOI registration, or use * to allow all domains' useIcons=false required=false}}
          {{form.element controlType="checkbox" label="Account is active" property="isActive" helpText='This account can register and update DOIs'}}

          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-sm btn-fill">Create Client</button>
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
{{else}}
  <div class='col-md-9 panel-list' id="content">
    {{#if searchable}}
      {{model-search model=model sortable=true}}
    {{/if}}
    {{#if model}}
      {{#each model as |client|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "clients.show" client.id}}{{client.name}}{{/link-to}}
            </h3>

            <h5>
              Client ID
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}The Client ID is a unique identifier for each client. It must contain only upper case letters and numbers, and must start with the Provider ID.{{/bs-tooltip}}
              </span>
            </h5>
            {{client.symbol}}

            {{#if client.repository}}
              <h5>
                re3data Record
                <span>{{fa-icon "question-circle-o"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}re3data is a registry of research data repositories.{{/bs-tooltip}}
                </span>
              </h5>
              <a href="http://www.re3data.org/repository/{{client.repository.id}}">{{client.repository.id}}</a>
            {{/if}}

            {{#if client.contactEmail}}
              <h5>Contact Email</h5>
              <a href="mailto:{{client.contactEmail}}">{{client.contactEmail}}</a>
            {{/if}}

            {{#if client.domainList}}
              <h5>
                {{pluralize-word client.domainList.length "Domain" omitCount=true}}
                <span>{{fa-icon "question-circle-o"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}URLs for DOIs must use {{#if (gt client.domainList.length 1)}}one of these (sub-)domains{{else}}this (sub-)domain{{/if}}.{{/bs-tooltip}}
                </span>
              </h5>
              {{#each client.domainList as |domain|}}
                {{domain}}<br/>
              {{/each}}
            {{/if}}
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=model numPagesToShow=5 showFL=true}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No clients found.
      {{/bs-alert}}
    {{/if}}
  </div>

  <div class='col-md-3'>
    {{#if (and (can "create client" model) (eq link "providers.show.clients"))}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
              <button {{action "new" model}} class="btn btn-warning" id="add-client">{{fa-icon "plus"}} Create Client</button>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if model.meta.years}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year joined</h4>
          <ul>
            {{#each model.meta.years as |year|}}
              <li>
                {{#if model.otherParams.year}}
                  {{#link-to link (query-params year=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
