{{#if new}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h3 class="edit">New Client</h3>

        {{#bs-form formLayout="vertical" model=client onSubmit=(action "submit" client model) submitOnEnter=true as |form|}}
          {{form.element controlType="text" label="Client ID" placeholder="Client ID" property="id" helpText='The Client ID is a unique identifier for each client. It must contain only lower case letters and numbers, and must start with the Provider ID.' useIcons=false required=false}}
          {{form.element controlType="text" label="re3data" placeholder="re3data" property="re3data" helpText='re3data is a registry of research data repositories.' useIcons=false required=false}}
          {{form.element controlType="text" label="Client Name" placeholder="Client Name" property="name" useIcons=false required=false}}
          {{form.element controlType="text" label="Contact Name" placeholder="Contact Name" property="contactName" useIcons=false required=false}}
          {{form.element controlType="email" label="Contact Email" placeholder="Contact Email" property="contactEmail" useIcons=false required=false}}
          {{form.element controlType="textarea" label="Domains" placeholder="Domains" property="domains" helpText='List of (sub-)domains used for DOI registration, or use * to allow all domains' useIcons=false required=false}}
          {{form.element controlType="checkbox" label="Account is active" property="isActive" helpText='This account can manage users, prefixes and DOIs'}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" class="btn btn-sm btn-fill">Save</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
{{else}}
  <div class='col-md-9 panel-list' id="content">
    {{#if searchable}}
      {{model-search model=model sortable=true}}
    {{/if}}
    {{#if model}}
      {{#each model as |client|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "clients.show" client.id}}{{client.name}}{{/link-to}}
            </h3>

            <h5>
              Client ID
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}The Client ID is a unique identifier for each client. It must contain only lower case letters and numbers, and must start with the Provider ID.{{/bs-tooltip}}
              </span>
            </h5>
            {{client.uid}}

            {{#if client.re3data}}
              <h5>
                re3data ID
                <span>{{fa-icon "question-circle-o"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}re3data is a registry of research data repositories.{{/bs-tooltip}}
                </span>
              </h5>
              <a href="https://doi.org/{{client.re3data}}">{{client.re3data}}</a>
            {{/if}}

            {{#if client.contactName}}
              <h5>Contact Name</h5>
              {{client.contactName}}
            {{/if}}

            {{#if client.contactEmail}}
              <h5>Contact Email</h5>
              <a href="mailto:{{client.contactEmail}}">{{client.contactEmail}}</a>
            {{/if}}

            {{#if client.domainList}}
              <h5>
                {{pluralize-word client.domainList.length "Domain" omitCount=true}}
                <span>{{fa-icon "question-circle-o"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}URLs for DOIs must use {{#if (gt client.domainList.length 1)}}one of these (sub-)domains{{else}}this (sub-)domain{{/if}}.{{/bs-tooltip}}
                </span>
              </h5>
              {{#each client.domainList as |domain|}}
                {{domain}}<br/>
              {{/each}}
            {{/if}}
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=model showFL=true}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No clients found.
      {{/bs-alert}}
    {{/if}}
  </div>

  <div class='col-md-3'>
    {{#if (and (can "create client" model) (eq link "providers.show.clients"))}}
      <div class="panel facets">
        <div class="panel-body">
          <button {{action "new" model}} class="btn btn-warning">{{fa-icon "plus"}} Add Client</button>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if model.meta.years}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year joined</h4>
          <ul>
            {{#each model.meta.years as |year|}}
              <li>
                {{#if model.otherParams.year}}
                  {{#link-to link (query-params year=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
