<div class='col-md-9 panel-list' id="content">
  {{#if searchable}}
    {{model-search model=model}}
  {{/if}}
  {{#if model}}
    {{#each model as |client|}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3 class="work">
            {{#link-to "clients.show" client.id}}{{client.name}}{{/link-to}}
          </h3>

          {{#if client.contact}}
            <h5>Contact</h5>
            {{client.contact}}
          {{/if}}

          {{#if client.email}}
            <h5>Email</h5>
            <a href="{{client.email}}">{{client.email}}</a>
          {{/if}}

          {{#if client.domainList}}
            <h5>
              Domains
              <span>{{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}URLs for DOIs must point to one of these domains.{{/bs-tooltip}}
              </span>
            </h5>
            {{#each client.domainList as |domain|}}
              {{domain}}<br/>
            {{/each}}
          {{/if}}
        </div>
        <div class="panel-footer">
          {{client.uid}}
          <span>{{fa-icon "question-circle-o"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each client has a unique ID that starts with the DOI service provider ID.{{/bs-tooltip}}
          </span>
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.meta.total_pages 1)}}
        {{page-numbers content=model showFL=true}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No clients found.
    {{/bs-alert}}
  {{/if}}
</div>

<div class='col-md-3'>
  {{#if (can "write client")}}
    <div class="panel facets">
      <div class="panel-body">
        <div class="pull-right">
          <button class="btn btn-warning">{{fa-icon "plus"}}Add Client</button>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if model.meta.years}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Year joined</h4>
        <ul>
          {{#each model.meta.years as |year|}}
            <li>
              {{#if model.otherParams.year}}
                {{#link-to link (query-params year=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
              {{else}}
                {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
              {{/if}}
              <div class="facet-title">{{year.title}}</div>
              <span class="number pull-right">{{year.count}}</span>
              <div class="clearfix"/>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>
