<div class="panel-body metadata">
  {{#if model.created}}
    <h5>Record created</h5>
    <div class="created">
      {{format-date model.created}}
    </div>
  {{/if}}
  {{#if (gt model.updated model.created)}}
    <h5>Record modified</h5>
    <div class="updated">
      {{format-date model.updated}}
    </div>
  {{/if}}
  {{#if model.registered}}
    <h5>DOI registered</h5>
    <div class="registered">
      {{format-date model.registered}}
    </div>
  {{/if}}
  {{#if (gt model.updated model.registered)}}
    <h5>DOI modified</h5>
    <div class="updated">
      {{format-date model.updated}}
    </div>
  {{/if}}
  {{#if model.schemaVersion}}
    <h5>
      Schema
      <span>{{fa-icon "question-circle-o"}}
        {{#bs-tooltip placement="top" viewportPadding=10}}Metadata schema version used.{{/bs-tooltip}}
      </span>
    </h5>
    <div class="schema-version">
      <a href="http://schema.datacite.org/meta/kernel-{{model.schemaVersion}}">DataCite Metadata Schema {{model.schemaVersion}}</a>
    </div>
  {{/if}}
 </div>
