{{#if this.creators}}
  {{#each (take (or this.showOnly this.creators.length) this.creators) as |creator index|}}
    {{#if (and creator.orcid (feature-flag 'showResearchers'))}}
      <a href="https://commons.datacite.org/orcid.org/{{creator.orcid}}">{{creator.displayName~}}</a>{{format-creator this.creators index=index}}
    {{else}}
      {{creator.displayName~}}{{format-creator this.creators index=index showOnly=(or this.showOnly this.creators.length)}}
    {{/if}}
  {{/each}}
{{/if}}
