<div class="panel facets add">
  <div class="panel-body metadata">
    {{#if model.created}}
      <h5>Record created</h5>
      <div class="created">
        {{format-date model.created}}
      </div>
    {{/if}}
    {{#if (gt model.updated model.created)}}
      <h5>Record modified</h5>
      <div class="updated">
        {{format-date model.updated}}
      </div>
    {{/if}}
    {{#if model.registered}}
      <h5>DOI registered</h5>
      <div class="registered">
        {{format-date model.registered}}
      </div>
    {{/if}}
    {{#if (gt model.updated model.registered)}}
      <h5>DOI modified</h5>
      <div class="updated">
        {{format-date model.updated}}
      </div>
    {{/if}}
    {{#if model.schema}}
      <h5>Schema</h5>
      <div class="schema-version">
        <a href="http://schema.datacite.org/meta/kernel-{{model.schemaVersion}}">DataCite Metadata Schema {{model.schemaVersion}}</a>
      </div>
    {{/if}}
   </div>
 </div>
