<h2 class="work">{{model.doi}}</h2>

<h3 class="edit">Transfer DOI</h3>

<div class="row">
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
          {{form.element controlType="hidden" property="doi" required=false}}

          {{#form.element controlType="power-select" property="client" label="Client" helpText='Transfer the DOI to this client. It can take up to 8 hours until these changes are indexed and show up outside of DOI Fabrica.' optionLabelPath="name" options=clients destination=client.id as |el|}}
            {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" searchPlaceholder="Type to search..." as |item|}}
              {{item.name}}
            {{/el.control}}
          {{/form.element}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
              <button type="submit" disabled={{isDisabled}} class="btn btn-sm btn-fill">Transfer</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    {{client-sidebar model=model}}
  </div>
</div>