{{#if (gt index 0)}}
  <div class="input-group">
    <textarea class="form-control description-field" value={{fragment.description}}
      oninput={{action "updateDescription" value="target.value"}}/>
    <span class="input-group-addon">
    {{#bs-button outline=true onClick=(action "deleteDescription" index)}}{{fa-icon "trash" style="margin:0"}}{{/bs-button}}
  </span>
  </div>
{{else}}
  <textarea class="form-control description-field" value={{fragment.description}}
    oninput={{action "updateDescription" value="target.value"}}/>
{{/if}}

<div class="power-select-label">
  <label for="descriptionType" class="subtitle">Description Type</label>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" value=fragment.descriptionType options=descriptionTypes destination=fragment.descriptionType disabled=disabled as |el|}}
    {{el.control class="description-types" onChange=(action "selectDescriptionType") search=(action "searchDescriptionType") placeholder="Select Description Type" searchPlaceholder="Type to search..." allowClear=false}}
  {{/form.element}}
</div>

<div class="power-select-label">
  <label for="descriptionLang" class="subtitle">Language (optional)</label>
</div>

<div class="power-select-fragment description-langs">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
    {{el.control class="description-langs" onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true }}
  {{/form.element}}
</div>

<hr />
