<div class="form-group">
  <label class="control-label col-md-3" data-test-dates>Dates</label>
  <div class="col-md-9">
    <div class="label-vertical">Different dates relevant to the resource.</div>
    {{#if showDates}}
      {{#each model.dates as |date index|}}
        <DoiDate @model={{model}} @fragment={{date}} @form={{form}} @index={{index}} />
      {{/each}}

      {{#if (lte model.dates.length 4)}}
        <BsButton @class="btn-sm" @id="add-date" @outline={{true}} @onClick={{action "addDate"}}>{{fa-icon "plus"}} Add {{if (gt model.dates.length 0) "another "}}date</BsButton>
      {{/if}}

      {{#if (gt model.dates.length 0)}}
        <BsButton @id="toggle-dates" @class="btn-sm" @outline={{true}} @onClick={{action "toggleDates"}}>{{fa-icon "eye-slash"}} Hide {{pluralize model.dates.length 'date'}}</BsButton>
      {{/if}}
    {{else}}
      {{#if (gt model.dates.length 0)}}
        <BsButton @id="toggle-dates" @class="btn-sm" @outline={{true}} @onClick={{action "toggleDates"}}>{{fa-icon "eye"}} Show {{pluralize model.dates.length 'date'}}</BsButton>
      {{else}}
        <BsButton @class="btn-sm btn-warning" @id="add-date" @outline={{true}} @onClick={{action "addDate"}}>{{fa-icon "plus"}} Add date</BsButton>
      {{/if}}
    {{/if}}
  </div>
</div>
