<div class="form-group">
  <label class="control-label col-md-3" data-test-rights-list>Rights</label>
  <div class="col-md-9">
    <div class="label-vertical">Rights information for the resource.</div>
    {{#if showRights}}
      {{#each model.rightsList as |rights index|}}
        <DoiRights @model={{model}} @fragment={{rights}} @form={{form}} @index={{index}} @spdx={{spdx}} />
      {{/each}}

      {{#if (lte model.rightsList.length 4)}}
        <BsButton @id="add-rights" @class="btn-sm" @outline={{true}} @onClick={{action "addRights"}}>{{fa-icon "plus"}} Add {{if (gt model.rightsList.length 0) "more "}} rights</BsButton>
      {{/if}}

      {{#if (gt model.rightsList.length 0)}}
        <BsButton @id="toggle-rights" @class="btn-sm" @outline={{true}} @onClick={{action "toggleRights"}}>{{fa-icon "eye-slash"}} Hide {{pluralize model.rightsList.length 'rights'}}</BsButton>
      {{/if}}
    {{else}}
      {{#if (gt model.rightsList.length 0)}}
        <BsButton @id="toggle-rights" @class="btn-sm" @outline={{true}} @onClick={{action "toggleRights"}}>{{fa-icon "eye"}} Show {{pluralize model.formats.rightsList.length 'rights'}}</BsButton>
      {{else}}
        <BsButton @class="btn-sm btn-warning" @id="add-rights" @outline={{true}} @onClick={{action "addRights"}}>{{fa-icon "plus"}} Add rights</BsButton>
      {{/if}}
    {{/if}}    
  </div>
</div>
