  <h3 class="member-results">Link Checker</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    <div class="panel-body">
      The URL <a target="_blank" rel="noopener noreferrer" href="{{model.url}}">{{model.url}}</a> registered for
      this DOI was last checked <strong>{{moment-from model.landingPage.checked }}</strong> on 
      {{format-time model.landingPage.checked year='numeric' month='long' day='numeric'}}.

      <ul class="checkbox">
        <li>
          {{#if isFound.isChecked}}
            <i class="far fa-check-circle"></i>
            {{isFound.text}}
            <div class="help-block checkbox-list">{{{isFound.helpText}}}</div>
          {{else}}
            <i class="far fa-circle"></i>
            {{isFound.text}}
            <div class="help-block checkbox-list text-warning">{{{isFound.helpText}}}</div>
          {{/if}}
        </li>
        {{#if isFound.isChecked}}
          <li>
            {{#if hasLandingPage.isChecked}}
              <i class="far fa-check-circle"></i>
              {{hasLandingPage.text}}
              <div class="help-block checkbox-list">{{{hasLandingPage.helpText}}}</div>
            {{else}}
              <i class="far fa-circle"></i>
              {{hasLandingPage.text}}
              <div class="help-block checkbox-list text-warning">{{{hasLandingPage.helpText}}}</div>
            {{/if}}
          </li>
          <li>
            {{#if hasDoi.isChecked}}
              <i class="far fa-check-circle"></i>
              {{hasDoi.text}}
              <div class="help-block checkbox-list">{{{hasDoi.helpText}}}</div>
            {{else}}
              <i class="far fa-circle"></i>
              {{hasDoi.text}}
              <div class="help-block checkbox-list text-warning">{{{hasDoi.helpText}}}</div>
            {{/if}}
          </li>
          {{#if (eq model.types.resourceTypeGeneral 'Dataset')}}
            <li>
              {{#if hasSchemaOrg.isChecked}}
                <i class="far fa-check-circle"></i>
                {{hasSchemaOrg.text}}
                <div class="help-block checkbox-list">{{{hasSchemaOrg.helpText}}}</div>
              {{else}}
                <i class="far fa-circle"></i>
                {{hasSchemaOrg.text}}
                <div class="help-block checkbox-list text-warning">{{{hasSchemaOrg.helpText}}}</div>
              {{/if}}
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>