{{#if this.hasMetadata}}
  <div id="metadata" class="input-group pull-right">
    <select onchange={{action "selectMetadata" value="target.value"}}>
      {{#each-in this.formats as |key value|}}
        <option name="metadata" value={{key}} selected={{eq this.metadata key}}>{{value}}</option>
      {{/each-in}}
    </select>
  </div>
  <h3 class="member-results">Metadata</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    {{#if this.output}}
      <div class="panel-body">
        <CodeBlock @class="metadata" @code="{{this.output}}" />
      </div>
    {{else}}
      <DoiSummary @model={{this.model}} />
      
      {{#if (not this.model.isDraft)}}
        <div class="panel-footer">
          <a target="_blank" rel="noopener" href={{this.model.identifier}}><i class="fas fa-external-link-alt"></i> {{this.model.identifier}}</a>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
