<div class="form-group compound-form">
  <label class="control-label col-md-3 required-label">DOI</label>
  <div class="col-md-9">
    <div class="label-vertical">A globally unique string that identifies the resource and can't be changed.</div>
    <div class="input-group">
      <span class="input-group-addon">
        {{#form.element controlType="power-select" id="prefix-field" formLayout="vertical" property="prefix" options=repositoryPrefixes destination=prefix searchEnabled=false as |el|}}
          {{#el.control onChange=(action "selectPrefix") searchPlaceholder="Select Prefix" optionLabelPath=id as |item|}}
            {{if item.prefix.id item.prefix.id item}}
          {{/el.control}}
        {{/form.element}}
      </span>
      {{form.element 
        controlType="text"
        class="suffix"
        id="suffix"
        formLayout="vertical"
        property="suffix"
        onChange=(action "selectSuffix")
        helpText="Click the circle icon for a new random suffix, or the cross icon to delete the random suffix and enter a value manually."
        required=false
      }}
      <span class="input-group-addon refresh" title="Refresh" aria-label="Refresh" {{action 'refresh'}}>{{fa-icon "refresh"}}</span>
      <span class="input-group-addon clear" title="Clear" aria-label="Clear" {{action 'clear'}}>{{fa-icon "times-circle"}}</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 required-label">State</label>
  <div class="col-md-9 input-fragment">
    <div class="label-vertical">The state determines whether a DOI is registered and findable. Once in Registered or Findable state, a DOI can't be set back to Draft state. <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/doi-states">More&nbsp;…</a></div>
    <div><RadioButton @radioId="draft-radio" @value="draft" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{draft}} />Draft <span class="help-block">only visible in Fabrica, DOI can be deleted</span></div>
    <div><RadioButton @radioId="registered-radio" @value="registered" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{registered}} />Registered <span class="help-block">registered with the DOI Resolver</span></div>
    <div><RadioButton @radioId="findable-radio" @value="findable" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{findable}} />Findable <span class="help-block">registered with the DOI Resolver and indexed in DataCite Search</span></div>
  </div>
</div>
