{{#if (gt index 0)}}
  <div class="col-md-9 col-md-offset-3">
    <div class="input-group">
      <input type="text"  class="form-control {{if errorMessage 'has-error'}} {{if isValidating 'has-success'}} title-field" value={{fragment.title}} oninput={{action "updateTitle" value="target.value"}} onblur={{action "validateTitle"}} disabled={{disabled}}/>
      <span class="input-group-btn">
        {{#bs-button outline=true onClick=(action "deleteTitle" index)}}{{fa-icon "trash"}}{{/bs-button}}
      </span>
    </div>

    {{#if errorMessage}}
      <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
    {{else}}
      <div class="help-block help-block-fragment title-field">One or more names or titles by which the resource is known.</div>
    {{/if}}
  </div>

{{else}}
  <label class="control-label col-md-3">Titles</label>
  <div class="col-md-9">
    <input type="text" class="form-control {{if errorMessage 'has-error'}} {{if isValidating 'has-success'}} title-field" value={{fragment.title}} oninput={{action "updateTitle" value="target.value"}} onblur={{action "validateTitle"}} disabled={{metadataFieldsDisabled}}/>

  {{#if errorMessage}}
  <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
  {{else}}
  <div class="help-block help-block-fragment">One or more names or titles by which the resource is known.</div>
  {{/if}}
</div>
{{/if}}

<div class="power-select-label">
  <div class="col-md-9 col-md-offset-3">
    <label for="titleType" class="subtitle">Title Type (optional)</label>
  </div>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" value=fragment.titleType options=titleTypes destination=fragment.titleType disabled=disabled as |el|}}
  {{#el.control onChange=(action "selectTitleType") search=(action "searchTitleType") placeholder="Select Title Type" searchPlaceholder="Type to search..." allowClear=true as |item|}}
  {{item}}
  {{/el.control}}
  {{/form.element}}
</div>

<div class="power-select-label">
  <div class="col-md-9 col-md-offset-3">
    <label for="titleType" class="subtitle">Language (optional)</label>
  </div>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
  {{#el.control onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true as |item|}}
  {{item}}
  {{/el.control}}
  {{/form.element}}
</div>