  <div class="power-select-label">
    <label for="rights" class="subtitle">Rights</label>
  </div>
  

  <div class="power-select-fragment" data-test-rights>
    {{#form.element
      controlType="power-select"
      helpText="Any rights information for this resource. The property may be repeated to record complex rights characteristics."
      options=rightsArray
      value=fragment.rights
      disabled=disabled
      allowClear=true
      destination=fragment.rights as |el|
    }}
    {{#el.control
        searchEnabled=true
        onChange=(action "selectRights")
        placeholder="Search rights in the SPDX index"
        onkeydown=(action "createOnEnter")
        search=(action "searchRights")
        searchPlaceholder="Type to search..."
        allowClear=true
        noMatchesMessage="Press ENTER to add new rights name."
        as |item| }}
      {{if item.name item.name fragment.rights}}
    {{/el.control}}
    {{/form.element}}
  </div>


 

{{#if (gt index 0)}}
<div class="power-select-label">
  <label for="funder-identifier" class="subtitle">Funder Identifier</label>
</div>
  <div class="input-group">
<input type="text" class="form-control rights-identifier-field" value={{fragment.rightsIdentifier}}
   oninput={{action "updateRightsIdentifier" value="target.value"}}
  data-test-rights-identifier />

<div class="help-block help-block-fragment rights-identifier-field}}">
  A short, standardized version of the license name. Example: CC-BY-3.0
</div>
  <span class="input-group-btn">
    <BsButton @outline={{true}} @onClick={{action "deleteRights" index}}>{{fa-icon "trash"}}</BsButton>
  </span>
  </div>
{{else}}


<div class="power-select-label">
  <label for="rights-identifier" class="subtitle">Rights Identifier</label>
</div>
<input type="text" class="form-control rights-identifier-field" value={{fragment.rightsIdentifier}}
   oninput={{action "updateRightsIdentifier" value="target.value"}}
  data-test-rights-identifier />

<div class="help-block help-block-fragment rights-identifier-field}}">
  A short, standardized version of the license name. Example: CC-BY-3.0
</div>
{{/if}}



<div class="power-select-label">
  <label for="rights-uri" class="subtitle">Rights Uri</label>
</div>
<input type="text" class="form-control rights-uri-field" value={{fragment.rightsUri}}
  oninput={{action "updateRightsUri" value="target.value"}} data-test-rights-uri />

<div class="help-block help-block-fragment rights-uri-field}}">
  The code assigned by the funder to a sponsored award (grant).
</div>

<div class="power-select-label">
  <label for="rights-identifier-scheme" class="subtitle">Rights Identifier Scheme</label>
</div>

<input type="text" class="form-control rights-identifier-scheme-field" value={{fragment.rightsIdentifierScheme}}
  oninput={{action "updateRightsIdentifierScheme" value="target.value"}} data-test-rights-identifier-scheme />

<div class="help-block help-block-fragment rights-identifier-scheme-field}}">
  The name of the scheme.
</div>

<div class="power-select-label">
  <label for="scheme-uri" class="subtitle">Scheme Uri</label>
</div>

<input type="text" class="form-control scheme-uri-field" value={{fragment.schemeUri}}
  oninput={{action "updateSchemeUri" value="target.value"}} data-test-scheme-uri />

<div class="help-block help-block-fragment scheme-uri-field}}">
  The URI of the Rights Identifier Scheme. For example, https://spdx.org/licenses/
</div>


<hr />