<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3 required-label">Creators</label>
  <div class="col-md-9">
    <div class="label-vertical">The main researchers or organizations involved in producing the resource, in priority order.</div>
    {{#each model.creators as |creator index|}}
      {{#if (gt index 0)}}
        <DoiCreator @model={{model}} @fragment={{creator}} @form={{form}} @index={{index}} />
      {{else}}
        <DoiCreator @model={{model}} @fragment={{creator}} @form={{form}} @index={{index}} />
      {{/if}}
    {{/each}}

    {{#if (lte model.creators.length 24)}}
      <BsButton @id="add-creator" @class="btn-sm" @outline={{true}} @onClick={{action "addCreator"}}>{{fa-icon "plus"}} Add another creator</BsButton>
    {{/if}}
  </div>
</div>
