<div class="form-group">
  <label class="control-label col-md-3" data-test-dates>Dates</label>
  <div class="col-md-9">
    <div class="label-vertical">Different dates relevant to the resource.</div>
    {{#if this.showDates}}
      {{#each this.model.dates as |date index|}}
        <DoiDate @model={{this.model}} @fragment={{date}} @form={{form}} @index={{index}} />
      {{/each}}

      {{#if (lte this.model.dates.length 4)}}
        <BsButton @class="btn-sm" @id="add-date" @outline={{true}} @onClick={{action "addDate"}}><i class="fas fa-plus"></i> Add {{if (gt this.model.dates.length 0) "another "}}date</BsButton>
      {{/if}}

      {{#if (gt this.model.dates.length 0)}}
        <BsButton @id="toggle-dates" @class="btn-sm" @outline={{true}} @onClick={{action "toggleDates"}}><i class="fas fa-eye-slash"></i> Hide {{pluralize this.model.dates.length 'date'}}</BsButton>
      {{/if}}
    {{else}}
      {{#if (gt this.model.dates.length 0)}}
        <BsButton @id="toggle-dates" @class="btn-sm" @outline={{true}} @onClick={{action "toggleDates"}}><i class="fas fa-eye"></i> Show {{pluralize this.model.dates.length 'date'}}</BsButton>
      {{else}}
        <BsButton @class="btn-sm btn-warning" @id="add-date" @outline={{true}} @onClick={{action "addDate"}}><i class="fas fa-plus"></i> Add date</BsButton>
      {{/if}}
    {{/if}}
  </div>
</div>
