<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3">Subject(s)</label>
  <div class="col-md-9">
    {{#each model.subjects as |subject index|}}
      <DoiSubject @model={{model}} @fragment={{subject}} @form={{form}} @index={{index}} />
    {{/each}}

    {{#if (lte model.subjects.length 6)}}
      <BsButton @class="btn-sm" @id="add-subject" @outline={{true}} @onClick={{action "addSubject"}}>{{fa-icon "plus"}} Add {{if (gt model.subjects.length 0) "another "}} subject</BsButton>
    {{/if}}
  </div>
</div>