<div class="form-group">
  <label class="control-label col-md-3" data-test-sizes>Sizes</label>
  <div class="col-md-9">
    <div class="label-vertical">Size (e.g. bytes, pages, inches, etc.) or duration (extent), e.g. hours, minutes, days, etc., of the resource.</div>
    {{#if this.showSizes}}
      {{#each this.model.sizes as |size index|}}
        <DoiSize @model={{this.model}} @fragment={{size}} @form={{form}} @index={{index}} />
      {{/each}}

      {{#if (lte this.model.sizes.length 5)}}
        <BsButton @class="btn-sm" @id="add-size" @outline={{true}} @onClick={{action "addSize"}}><i class="fas fa-plus"></i> Add {{if (gt this.model.sizes.length 0) "another "}}size</BsButton>
      {{/if}}

      {{#if (gt this.model.sizes.length 0)}}
        <BsButton @id="toggle-sizes" @class="btn-sm" @outline={{true}} @onClick={{action "toggleSizes"}}><i class="fas fa-eye-slash"></i> Hide {{pluralize this.model.sizes.length 'size'}}</BsButton>
      {{/if}}
    {{else}}
      {{#if (gt this.model.sizes.length 0)}}
        <BsButton @id="toggle-sizes" @class="btn-sm" @outline={{true}} @onClick={{action "toggleSizes"}}><i class="fas fa-eye"></i> Show {{pluralize this.model.sizes.length 'size'}}</BsButton>
      {{else}}
        <BsButton @class="btn-sm btn-warning" @id="add-size" @outline={{true}} @onClick={{action "addSize"}}><i class="fas fa-plus"></i> Add size</BsButton>
      {{/if}}
    {{/if}}
  </div>
</div>
