{{#if model.publicationYear}}
  <div id="citation" class="input-group pull-right">
    <select onchange={{action 'selectStyle' value="target.value"}}>
      {{#each-in citationFormats as |key value|}}
        <option name="citation" value={{key}} selected={{eq citation key}}>{{value}}</option>
      {{/each-in}}
    </select>
  </div>
  <h3 class="member-results">Citation</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    <div class="panel-body" data-test-citation>
      <DoiCitationBody @text="{{format-text citationOutput}}" />
    </div>
  </div>
{{/if}}
