  <h3 class="member-results">Link Checker</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    <div class="panel-body">
      The URL <a target="_blank" rel="noopener" href="{{this.model.url}}">{{this.model.url}}</a> registered for
      this DOI was last checked <strong>{{moment-from this.model.landingPage.checked }}</strong> on 
      {{format-time this.model.landingPage.checked year='numeric' month='long' day='numeric'}}.

      <ul class="checkbox">
        <li>
          {{#if this.isFound.isChecked}}
            <i class="far fa-check-circle"></i>
            {{this.isFound.text}}
            <div class="help-block checkbox-list">{{{this.isFound.helpText}}}</div>
          {{else}}
            <i class="far fa-circle"></i>
            {{this.isFound.text}}
            <div class="help-block checkbox-list text-warning">{{{this.isFound.helpText}}}</div>
          {{/if}}
        </li>
        {{#if this.isFound.isChecked}}
          <li>
            {{#if this.hasLandingPage.isChecked}}
              <i class="far fa-check-circle"></i>
              {{this.hasLandingPage.text}}
              <div class="help-block checkbox-list">{{{this.hasLandingPage.helpText}}}</div>
            {{else}}
              <i class="far fa-circle"></i>
              {{this.hasLandingPage.text}}
              <div class="help-block checkbox-list text-warning">{{{this.hasLandingPage.helpText}}}</div>
            {{/if}}
          </li>
          <li>
            {{#if this.hasDoi.isChecked}}
              <i class="far fa-check-circle"></i>
              {{this.hasDoi.text}}
              <div class="help-block checkbox-list">{{{this.hasDoi.helpText}}}</div>
            {{else}}
              <i class="far fa-circle"></i>
              {{this.hasDoi.text}}
              <div class="help-block checkbox-list text-warning">{{{this.hasDoi.helpText}}}</div>
            {{/if}}
          </li>
          {{#if (eq this.model.types.resourceTypeGeneral 'Dataset')}}
            <li>
              {{#if this.hasSchemaOrg.isChecked}}
                <i class="far fa-check-circle"></i>
                {{this.hasSchemaOrg.text}}
                <div class="help-block checkbox-list">{{{this.hasSchemaOrg.helpText}}}</div>
              {{else}}
                <i class="far fa-circle"></i>
                {{this.hasSchemaOrg.text}}
                <div class="help-block checkbox-list text-warning">{{{this.hasSchemaOrg.helpText}}}</div>
              {{/if}}
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>