<div class="input-group">
  <input class="form-control date-field" value={{fragment.date}} onblur={{action "updateDate" value="target.value"}} placeholder="Date "
    data-test-date />
  <span class="input-group-btn">
    <BsButton @outline={{true}} @onClick={{action "deleteDate" index}}><i class="fas fa-trash"></i></BsButton>
  </span>
</div>

<div class="power-select-label">
  <label for="dateType" class="required-label subtitle">Date Type</label>
</div>

<div class="power-select-fragment">
  <!--
  <form.element @controlType="power-select" @helpText="Type of date." @value={{fragment.dateType}} @options={{dateTypesList}} @destination={{fragment.dateType}} @disabled={{disabled}} as |el|>
  <el.control @onChange={{action "selectDateType"}} @placeholder="Select Date Type" />
  </form.element>
  -->
</div>

<div class="power-select-label">
  <label for="dateInformation" class="subtitle">Date Information</label>
</div>

<input class="form-control date-information-field" value={{fragment.dateInformation}}
  placeholder="Date Information" 
  oninput={{action "updateDateInformation" value="target.value"}} data-test-date />
<div class="help-block help-block-fragment">Specific information about the date, if appropriate.</div>

<hr />
