<div class='col-md-3'>
  {{#if (and (eq link "repositories.show.dois") (or (can "create doi" model) (can "upload doi" model) (can "move doi" repository)))}}
    <div class="panel facets">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group-vertical btn-group-sm">
            {{#if (can "create doi" model)}}
              {{#link-to "repositories.show.dois.new" repository.id class="btn btn-warning" id="new-doi"}}{{fa-icon "wpforms"}} Create{{if media.isXl ' DOI'}} (Form){{/link-to}}
            {{/if}}
            {{#if (can "upload doi" model)}}
              {{#link-to "repositories.show.dois.upload" repository.id class="btn btn-warning" id="upload-doi"}}{{fa-icon "upload"}} Create{{if media.isXl ' DOI'}} (File Upload){{/link-to}}
            {{/if}}
            {{#if (and (can "move doi" repository) (gt model.length 0))}}
              {{#link-to "repositories.show.transfer" repository.id class="btn btn-warning" id="transfer-dois"}}{{fa-icon "arrow-circle-o-right"}}Transfer{{if media.isXl ' DOIs'}}{{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="edit"></div>
      </div>
    </div>
  {{/if}}

  {{#if (and (can "viewState doi") (or model.meta.states model.query.state))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>State</h4>
        <ul>
          {{#if model.meta.states}}
            {{#each model.meta.states as |state|}}
              <li>
                {{#if model.query.state}}
                  {{#link-to link (query-params state=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params state=state.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{state.title}}</div>
                <span class="number pull-right">{{format-number state.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params state='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{titleize model.query.state}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.resourceTypes model.query.resource-type-id)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Resource Type</h4>
        <ul>
          {{#if model.meta.resourceTypes}}
            {{#each model.meta.resourceTypes as |resourceType|}}
              <li>
                {{#if model.query.resource-type-id}}
                  {{#link-to link (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params resource-type-id=resourceType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{resourceType.title}}</div>
                <span class="number pull-right">{{format-number resourceType.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{humanize (underscore model.query.resource-type-id)}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if isPerson}}
    {{#if (or model.meta.published model.query.published)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Year published</h4>
          <ul>
            {{#if model.meta.published}}
              {{#each model.meta.published as |year|}}
                <li>
                  {{#if model.query.published}}
                    {{#link-to link (query-params published='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params published=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{format-number year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params published='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.query.published}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{#if (or model.meta.created model.query.created)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Year created</h4>
          <ul>
            {{#if model.meta.created}}
              {{#each model.meta.created as |year|}}
                <li>
                  {{#if model.query.created}}
                    {{#link-to link (query-params created='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params created=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{format-number year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params created='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.query.created}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if (and (can "source doi" model) (or model.meta.registered model.query.registered))}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Year registered</h4>
        <ul>
          {{#if model.meta.registered}}
            {{#each model.meta.registered as |year|}}
              <li>
                {{#if model.query.registered}}
                  {{#link-to link (query-params registered='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params registered=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params registered='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.registered}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (not (is-empty model.content)) (not-eq link "repositories.show.dois" or model.meta.clients model.query.client-id))}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Repository</h4>
        <ul>
          {{#if model.meta.clients}}
            {{#each model.meta.clients as |client|}}
              <li>
                {{#if model.query.client-id}}
                  {{#link-to link (query-params client-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params client-id=client.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{client.title}}</div>
                <span class="number pull-right">{{format-number client.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params client-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.client-id}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (can "source doi" model) (or model.meta.affiliations model.query.affiliation-id))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Affiliation</h4>
        <ul>
          {{#if model.meta.affiliations}}
            {{#each model.meta.affiliations as |affiliation|}}
              {{#if (not-eq affiliation.id affiliation.title)}}
                <li>
                  {{#if model.query.affiliation-id}}
                    {{#link-to link (query-params affiliation-id=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params affiliation-id=affiliation.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{affiliation.title}}</div>
                  <span class="number pull-right">{{format-number affiliation.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params affiliation-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.affiliation-id}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#unless isPerson}}
    {{#if (or model.meta.prefixes model.query.prefix)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Prefix</h4>
          <ul>
            {{#if model.meta.prefixes}}
              {{#each model.meta.prefixes as |prefix|}}
                <li>
                  {{#if model.query.prefix}}
                    {{#link-to link (query-params prefix='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params prefix=prefix.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{prefix.title}}</div>
                  <span class="number pull-right">{{format-number prefix.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params prefix='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.query.prefix}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{/unless}}
  {{#if (or model.meta.certificates model.query.certificate)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Repository Certificate</h4>
        <ul>
          {{#if model.meta.certificates}}
            {{#each model.meta.certificates as |certificate|}}
              <li>
                {{#if model.query.certificate}}
                  {{#link-to link (query-params certificate="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params certificate=certificate.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{certificate.title}}</div>
                <span class="number pull-right">{{certificate.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params certificate="")}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{titleize model.query.certificate}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.schemaVersions model.query.schema-version)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Schema Version</h4>
        <ul>
          {{#if model.meta.schemaVersions}}
            {{#each model.meta.schemaVersions as |schemaVersion|}}
              <li>
                {{#if model.query.schema-version}}
                  {{#link-to link (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params schema-version=schemaVersion.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{schemaVersion.title}}</div>
                <span class="number pull-right">{{format-number schemaVersion.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.schema-version}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (can "source doi" model) (or model.meta.sources model.query.source))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Source</h4>
        <ul>
          {{#if model.meta.sources}}
            {{#each model.meta.sources as |source|}}
              <li>
                {{#if model.query.source}}
                  {{#link-to link (query-params source=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params source=source.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{lowercase source.title}}</div>
                <span class="number pull-right">{{format-number source.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params source='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.source}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (can "viewHealth doi" model) (or model.meta.linkChecksStatus model.query.link-checks-status))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Link Check Status</h4>
        <ul>
          {{#if model.meta.linkChecksStatus}}
            {{#each model.meta.linkChecksStatus as |linkCheckStatus|}}
              <li>
                {{#if model.query.link-check-status}}
                  {{#link-to link (query-params link-check-status=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params link-check-status=linkCheckStatus.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{linkCheckStatus.id}}</div>
                <span class="number pull-right">{{format-number linkCheckStatus.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params link-check-status='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.query.link-check-status}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>

<div class="col-md-9 panel-list" id="content">
  {{model-search model=model link=link sortable=true}}

  {{#if model}}
    {{#each model as |doi|}}
      <div class="panel panel-transparent">
        {{doi-summary model=doi isList=true}}

        <div class="panel-footer">
          {{#if doi.isDraft}}
            {{fa-icon "info-circle"}} {{doi.doi}}
          {{else}}
            <a href={{doi.identifier}}>{{fa-icon "external-link"}} {{doi.identifier}}</a>
          {{/if}}
        </div>
        <br/>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.meta.totalPages 1)}}
        {{page-numbers model=model link=link}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No DOIs found.
    {{/bs-alert}}
  {{/if}}
</div>
