<div style="display:flex;">
  {{#if hasMetrics}}
      {{#if citations}}
        <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px">{{fa-icon "quote-right"}} {{ format-numbers citations }} {{  pluralize citations 'Citation' without-count=true}}</i>
      {{else}}
        <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px">{{fa-icon "info-circle"}}  No citations were reported.</i>
      {{/if}}
      {{#if hasUsage }}
        {{#if views}}
          <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px"> {{fa-icon "eye"}}  {{ format-numbers views }}  {{ pluralize views 'View' without-count=true }} </i>
        {{/if}}
        {{#if downloads}}
          <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px"> {{fa-icon "download"}}  {{ format-numbers downloads }}   {{ pluralize downloads 'Download' without-count=true }} </i>
        {{/if}}
      {{else}}
        <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px">{{fa-icon "info-circle"}}  No usage information was reported.</i>
      {{/if}}
  {{else}}
    <i style="margin-right: 1.5em; margin-bottom: 4px; margin-top: 4px">{{fa-icon "info-circle"}}  No citations were reported. No usage information was reported.</i>
  {{/if}}
</div>
