<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3">Size(s)</label>
  <div class="col-md-9">
    {{#each model.sizes as |size index|}}
      <DoiSize @model={{model}} @fragment={{size}} @form={{form}} @index={{index}} />
    {{/each}}

    {{#if (or (not model.sizes) (lte model.sizes.length 5))}}
      <BsButton @class="btn-sm" @id="add-size" @outline={{true}} @onClick={{action "addSize"}}>{{fa-icon "plus"}} Add {{if (gt model.sizes.length 0) "another "}}size</BsButton>
    {{/if}}
  </div>
</div>
