<div class="form-group {{if (v-get model 'types.resourceTypeGeneral' 'isInvalid') 'has-error' 'has-feedback'}}">
  <label class="control-label col-md-3">Resource Type General</label>
  <div class="col-md-9 input-fragment">
    <div class="label-vertical">The general type of the resource.</div>
    <form.element @controlType="power-select" @id="resource-type-general" @property="types.resourceTypeGeneral" @options={{resourceTypesGeneral}} @disabled={{disabled}} @helpText="If none of the provided values matches, use Other and specify the resource type in the field below." @destination={{resourceTypeGeneral}} as |el|>
      <el.control
        @onChange={{action "selectResourceTypeGeneral"}}
        @placeholder="Select Resource Type General" as |item|>
          {{humanize (underscore item)}}
      </el.control>
    </form.element>
  </div>
</div>

<div class="form-group">
  <div class="col-md-9 col-md-offset-3">
    <div class="power-select-label">
      <label for="subject" class="subtitle">Resource Type</label>
    </div>
    <div class="power-select-fragment" doi-resource-type>
      <form.element @controlType="text" @id="resource-type" @property="types.resourceType" @helpText="A description of the resource, the preferred format is a single term of some detail." @placeholder="Resource Type" @required={{false}} @disabled={{disabled}} />
    </div>
  </div>
</div>
