{{#if edit}}
  <h2 class="work">{{model.doi}}</h2>

  <h3 class="edit">Edit DOI</h3>

  <div class="row">
    <div class='col-md-9'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
            {{form.element controlType="text" label="DOI" placeholder="DOI (required)" property="doi" helpText="The globally unique string that identifies the resource." disabled=true}}
            {{form.element controlType="hidden" property="confirmDOI" required=false}}
            {{form.element controlType="text" label="URL" placeholder="URL (required)" property="url" helpText="The location of the landing page with more information about the resource." required=false}}

            {{#if useForm}}
              {{multi-input-form model=model}}
              {{form.element controlType="textarea" label="Title" placeholder="Title (required)" property="title" rows=2 helpText="A name or title by which a resource is known." required=false}}
              {{form.element controlType="text" label="Publisher" placeholder="Publisher (required)" property="publisher" helpText="The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource." required=false}}
              {{#form.element controlType="power-select" label="Publication Year" property="published" options=years destination=published helpText="The year when the resource was or will be made publicly available." as |el|}}
                {{#el.control onchange=(action (mut published)) placeholder="Select Publication Year" as |item|}}
                  {{item}}
                {{/el.control}}
              {{/form.element}}
              {{form.element controlType="text" label="Resource Type" placeholder="Resource Type" property="resourceTypeSubtype" helpText="A description of the resource, the preferred format is a single term of some detail." required=false}}
              {{#form.element controlType="power-select" property="resource-type" helpText='The general type of the resource.' optionLabelPath="title" options=resourceTypes destination=resourceType as |el|}}
                {{#el.control onChange=(action "selectResourceType") search=(action "searchResourceType") searchField="title" searchPlaceholder="Type to search..." as |item|}}
                  {{item.title}}
                {{/el.control}}
              {{/form.element}}
              {{form.element controlType="textarea" label="Description" placeholder="Description" property="description" rows=8 helpText="All additional information that does not fit in any of the other categories." required=false}}
            {{else}}
              {{#form.element controlType="textarea" label="Metadata" placeholder="Metadata (required)" property="xml" rows=15 helpText='Metadata that describe the resource. You can also upload a file with metadata in DataCite XML format, or one of the other supported formats.' required=false as |el|}}
                {{el.control class="form-control metadata"}}
              {{/form.element}}

              <div class="btn-toolbar btn-file">
                {{#x-file-input name="files" multiple=false action=(action "didSelectFiles") accept="application/xml,application/json,text/plain"}}
                  <span class="btn btn-sm">{{fa-icon "upload"}} Upload File</span>
                {{/x-file-input}}
              </div>
            {{/if}}

            {{#form.element controlType="power-select" label="State" property="state" options=states destination=state helpText='The state determines whether the above information is only visible from within the account (draft), the DOI has been made public via the Handle System (registered), or in addition this information is also included in DataCite Search (findable).' as |el|}}
              {{#el.control onchange=(action (mut state)) placeholder="Select State" as |item|}}
                {{titleize item}}
              {{/el.control}}
            {{/form.element}}

            <div class="pseudo-footer">
              <div class="btn-toolbar">
                <div class="btn-toolbar pull-right">
                  <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-fill">Save</button>
                </div>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else if transfer}}
  <h2 class="work">{{model.doi}}</h2>

  <h3 class="edit">Transfer DOI</h3>

  <div class="row">
    <div class='col-md-9'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
            {{form.element controlType="hidden" property="doi" required=false}}
            {{form.element controlType="hidden" property="confirmDOI" required=false}}
            {{#form.element controlType="power-select" property="client" label="Client" helpText='Transfer all DOIs to this client. It can take up to 8 hours until these changes are indexed and show up outside of DOI Fabrica.' optionLabelPath="name" options=clients destination=client.id as |el|}}
              {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" searchPlaceholder="Type to search..." as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
                <button type="submit" disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Transfer</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else if delete}}
  <h2 class="work">{{model.doi}}</h2>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "destroy" model) submitOnEnter=true as |form|}}
            {{#form.group validation=(if (v-get model 'isInvalid') "error" "success")}}
              {{form.element controlType="text" label='Are you sure you want to delete this DOI? This action cannot be undone.' property='confirmDoi' showValidationOn="input" autofocus=true helpText='Please add the DOI to confirm.'}}
            {{/form.group}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                <button {{action "destroy" model}} disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Delete</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class='col-md-9'>
      <h2 class="work">{{model.doi}}</h2>
    </div>

    {{#if (can "edit doi" model)}}
      <div class='col-md-3'>
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "edit" model}} class="btn btn-warning">{{fa-icon "pencil"}} Edit DOI</button>
                {{#if (and (can "delete doi" model) model.isDraft)}}
                  <button {{action "delete" model}} class="btn btn-warning">{{fa-icon "trash"}} Delete DOI</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else if (can "transfer doi" model)}}
      <div class='col-md-3'>
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "transfer" model}} class="btn btn-warning">{{fa-icon "arrow-circle-o-right"}} Transfer DOI</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  {{doi-url model=model}}
  {{doi-metadata model=model}}
{{/if}}
