{{#if (gt index 0)}}
  <div class="col-md-9 col-md-offset-3">
    <div class="input-group">
      {{input type="text" class="form-control (if errorMessage 'has-error') (if isValidating 'has-success')" value=fragment.name oninput=(action "updateName") onblur=(action "validateName") disabled=metadataFieldsDisabled readonly=isReadonly}}
      <span class="input-group-btn">
        {{#bs-button outline=true onClick=(action "deleteCreator" index)}}{{fa-icon "trash"}}{{/bs-button}}
      </span>
    </div>
    
    {{#if errorMessage}}
      <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
    {{else}}
      <div class="help-block help-block-fragment">The main researchers involved in producing the data, or the authors of the publication, in priority order. For personal names use the Given Name and Family Name fields instead.</div>
    {{/if}}

    <div class="power-select-label">
      <label for="givenName" class="subtitle">Given Name (optional)</label>
      <input type="text" class="form-control" value={{fragment.givenName}} oninput={{action "updateGivenName" value="target.value"}} onblur={{action "validateGivenName"}} disabled={{metadataFieldsDisabled}}/>
    </div>

    <div class="power-select-label">
      <label for="familyName" class="subtitle">Family Name (optional)</label>
      <input type="text" class="form-control" value={{fragment.familyName}} oninput={{action "updateFamilyName" value="target.value"}} onblur={{action "validateFamilyName"}} disabled={{metadataFieldsDisabled}}/>
    </div>

    <div class="power-select-label">
      <label for="affiliation" class="subtitle">Affiliation (optional)</label>
      <input type="text" class="form-control" value={{fragment.affiliation}} oninput={{action "updateAffiliation" value="target.value"}} onblur={{action "validateAffiliation"}} disabled={{metadataFieldsDisabled}}/>
    </div>
  </div>
{{else}}
  <label class="control-label col-md-3">Creators</label>
  <div class="col-md-9">
    {{input type="text" class="form-control (if errorMessage 'has-error') (if isValidating 'has-success')" value=fragment.name oninput=(action "updateName") onblur=(action "validateName") disabled=metadataFieldsDisabled readonly=isReadonly}}
      
    {{#if errorMessage}}
      <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
    {{else}}
      <div class="help-block help-block-fragment">The main researchers involved in producing the data, or the authors of the publication, in priority order.  For personal names use the Given Name and Family Name fields instead.</div>
    {{/if}}

    <div class="power-select-label">
      <label for="givenName" class="subtitle">Given Name (optional)</label>
      <input type="text" class="form-control" value={{fragment.givenName}} oninput={{action "updateGivenName" value="target.value"}} onblur={{action "validateGivenName"}} disabled={{metadataFieldsDisabled}}/>
    </div>

    <div class="power-select-label">
      <label for="familyName" class="subtitle">Family Name (optional)</label>
      <input type="text" class="form-control" value={{fragment.familyName}} oninput={{action "updateFamilyName" value="target.value"}} onblur={{action "validateFamilyName"}} disabled={{metadataFieldsDisabled}}/>
    </div>

    <div class="power-select-label">
      <label for="affiliation" class="subtitle">Affiliation (optional)</label>
      <input type="text" class="form-control" value={{fragment.affiliation}} oninput={{action "updateAffiliation" value="target.value"}} onblur={{action "validateAffiliation"}} disabled={{metadataFieldsDisabled}}/>
    </div>
  </div>
{{/if}}