  <h3 class="member-results">Link Checker</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    <div class="panel-body">
      {{#if model.landingPage.checked }}

      <p>Summary of information found by the automated link checking.</p>
      <p>
        Landing page was last checked <strong>{{moment-from model.landingPage.checked }}</strong> on <strong>{{format-time model.landingPage.checked year='numeric' month='long' day='numeric'}}</strong>
      </p>

      {{#if hasError}}
      <p class="alert alert-danger">
        <strong>Error message:</strong> {{model.landingPage.error}}
        {{#bs-tooltip placement="top"}}A raw potential error message, these can vary but are provided as a hint.{{/bs-tooltip}}
      </p>
      {{/if}}

      <table class="table table-striped table-condensed" style="table-layout:fixed;">
        <thead>
          <tr><th>Information</th><th>Found</th></tr>
        </thead>
        <tbody>
          <tr class="{{if isStatusError 'danger'}}">
            <td>HTTP Status Code
              {{#bs-tooltip placement="top"}}A status code as returned by the checked web server at time of check.{{/bs-tooltip}}
            </td>
            {{#if isStatusError}}
            <td>
              {{model.landingPage.status}}
              {{#bs-tooltip placement="top"}}Status codes reflect potential errors, however they can change e.g. was 404 but manual check reveals 200.{{/bs-tooltip}}
            </td>
            {{else}}
            <td>
              {{model.landingPage.status}}
            </td>
            {{/if}}
          </tr>

          <tr>
            <td>HTTP Content Type
              {{#bs-tooltip placement="top"}}Content-type as returned by the checked web server at time of check.{{/bs-tooltip}}
            </td>
            <td>{{model.landingPage.contentType}}</td>
          </tr>

          <tr>
            <td>Redirects
              {{#bs-tooltip placement="top"}}The redirect urls followed by the check.{{/bs-tooltip}}
            </td>
            <td>
              {{#if model.landingPage.redirectUrls}}
                {{#each model.landingPage.redirectUrls as |redirect_url|}}
                {{redirect_url}}<br>
                {{/each}}
              {{else}}
                No redirects
              {{/if}}
            </td>
          </tr>

          <tr>
            <td>DOI Found on landing page
              {{#bs-tooltip placement="top"}}Shows if any of the returned response contained the DOI.{{/bs-tooltip}}
            </td>
            <td>{{bodyHasDoi}}</td>
          </tr>

          <tr>
            <td>Schema.org found on landing page
              {{#bs-tooltip placement="top"}}Was schema.org JSON+LD metadata found on the landing page response{{/bs-tooltip}}
            </td>
            <td>{{hasSchemaOrg}}</td>
          </tr>

          <tr>
            <td>Schema.org ID
              {{#bs-tooltip placement="top"}}The schema.org identifier in the metadata if found.{{/bs-tooltip}}
            </td>
            <td>{{format-text model.landingPage.schemaOrgId}}</td>
          </tr>

          <tr>
            <td>Dublin Core ID
              {{#bs-tooltip placement="top"}}The DC identifier if found in a meta tag{{/bs-tooltip}}
            </td>
            <td>{{model.landingPage.dcIdentifier}}</td>
          </tr>

          <tr>
            <td>Citation DOI
              {{#bs-tooltip placement="top"}}The ID found in citation meta tag{{/bs-tooltip}}
            </td>
            <td>{{model.landingPage.citationDoi}}</td>
          </tr>

        </tbody>
      </table>

    {{else}}
      No information to display, the automated link checker has not checked this DOI.
    {{/if}}
    </div>
  </div>