  <h3 class="member-results">Link Checker</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    <div class="panel-body">
      The URL <a target="_blank" href="{{model.landingPage.url}}">{{model.landingPage.url}}</a> registered for
      this DOI was last checked <strong>{{moment-from model.landingPage.checked }}</strong> on 
      {{format-time model.landingPage.checked year='numeric' month='long' day='numeric'}}.

      {{#if hasError}}
        <div class="alert alert-danger">{{model.landingPage.error}}</div>
      {{/if}}

      <ul class="checkbox">
        <li>
          {{#if isFound.isChecked}}
            {{fa-icon "check-circle-o"}}
            {{isFound.text}}
            <div class="help-block checkbox-list">{{{isFound.helpText}}}</div>
          {{else}}
            {{fa-icon "circle-o"}}
            {{isFound.text}}
            <div class="help-block checkbox-list text-warning">{{{isFound.helpText}}}</div>
          {{/if}}
        </li>
        <li>
          {{#if hasLandingPage.isChecked}}
            {{fa-icon "check-circle-o"}}
            {{hasLandingPage.text}}
            <div class="help-block checkbox-list">{{{hasLandingPage.helpText}}}</div>
          {{else}}
            {{fa-icon "circle-o"}}
            {{hasLandingPage.text}}
            <div class="help-block checkbox-list text-warning">{{{hasLandingPage.helpText}}}</div>
          {{/if}}
        </li>
        <li>
          {{#if hasDoi.isChecked}}
            {{fa-icon "check-circle-o"}}
            {{hasDoi.text}}
            <div class="help-block checkbox-list">{{{hasDoi.helpText}}}</div>
          {{else}}
            {{fa-icon "circle-o"}}
            {{hasDoi.text}}
            <div class="help-block checkbox-list text-warning">{{{hasDoi.helpText}}}</div>
          {{/if}}
        </li>
        {{#if (eq model.types.resourceTypeGeneral 'Dataset')}}
          <li>
            {{#if hasSchemaOrg.isChecked}}
              {{fa-icon "check-circle-o"}}
              {{hasSchemaOrg.text}}
              <div class="help-block checkbox-list">{{{hasSchemaOrg.helpText}}}</div>
            {{else}}
              {{fa-icon "circle-o"}}
              {{hasSchemaOrg.text}}
              <div class="help-block checkbox-list text-warning">{{{hasSchemaOrg.helpText}}}</div>
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>