{{#if (gt index 0)}}
<div class="power-select-label">
  <label for="dateInformation" class="subtitle">Date</label>
</div>

<div class="input-group">
  <input class="form-control date-field" value={{fragment.date}} onblur={{action "updateDate" value="target.value"}} placeholder="Date "
    data-test-date />
  <span class="input-group-addon">
    <BsButton @outline={{true}} @onClick={{action "deleteDate" index}}>{{fa-icon "trash" pull="left" style="margin:0;"}}
    </BsButton>
  </span>
</div>
{{else}}
<input class="form-control date-field" value={{fragment.date}} onblur={{action "updateDate" value="target.value"}} placeholder="Date"
  data-test-date />
    <div class="help-block help-block-fragment">Different dates relevant to the work. Enter dates such as YYYY, YYYY-MM-DD, YYYYMM-DDThh:mm:ssTZD, or ranges such as 2004-03-02/2005-06-02. <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/schema-optional-properties-v43#section-8-date">More ..</a></div>
{{/if}}


{{#if fragment.date}}


<div class="power-select-label">
  <label for="dateType" class="required-label subtitle">Date Type</label>
</div>

<div class="power-select-fragment">
  {{#form.element 
    controlType="power-select" 
    helpText="Type of date."
    value=fragment.dateType 
    options=dateTypesList 
    destination=fragment.dateType 
    allowClear=true
    disabled=disabled as |el|}}
  {{el.control onChange=(action "selectDateType") placeholder="Select Date Type" allowClear=true}}
  {{/form.element}}
</div>




<div class="power-select-label">
  <label for="dateInformation" class="subtitle">Date Information</label>
</div>

<input class="form-control date-information-field" value={{fragment.dateInformation}}
  placeholder="Date Information" 
  oninput={{action "updateDateInformation" value="target.value"}} data-test-date />
  <div class="help-block help-block-fragment">Specific information about the date, if appropriate.</div>

{{/if}}

<hr />
