{{#if new}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h3 class="edit">New DOI</h3>

        <span class="help-block">Use the prefix 10.5072 for testing.
          Click <a class="action-link" {{action "generate"}}>here</a> for a DOI name suggestion.</span>

        {{#bs-form formLayout="vertical" model=doi onSubmit=(action "submit" doi model) as |form|}}
          {{#form.group validation=doiValidation}}
            <div class="compound-label">1. DOI</div>
            <div class="compound-form input-group">
              <div class="input-group-btn">
                {{#bs-dropdown as |dd|}}
                {{#dd.button class="btn btn-primary btn-fill"}}DOI Prefix <span class="caret"></span>{{/dd.button}}
                  {{#dd.menu as |ddm|}}
                    {{#each prefixes as |prefix|}}
                      {{#ddm.item}}<a {{action "setPrefix" prefix.id}}>{{prefix.id}}</a>{{/ddm.item}}
                    {{/each}}
                  {{/dd.menu}}
                {{/bs-dropdown}}
              </div>
              {{form.element controlType="text" placeholder="Please add a DOI with one of your prefixes" property="doi" required=false}}
            </div>
          {{/form.group}}

          {{form.element controlType="text" label="2. URL" placeholder="Please add a URL in http/https format" property="url" required=false}}
          {{form.element controlType="textarea" label="3. Metadata" placeholder="Please add metadata in DataCite XML format" property="xml" rows=15 required=false}}

          <div class="btn-toolbar btn-file">
            {{#x-file-input name="files" multiple=false action=(action "didSelectFiles") accept="application/xml,application/json,text/plain"}}
              <span class="btn btn-sm">{{fa-icon "upload"}} Upload File</span>
            {{/x-file-input}}
          </div>
          
          {{#form.element controlType="power-select" label="4. State" property="state" options=events destination=state helpText='Draft DOIs are only visible from within the account, and can be deleted. Findable DOIs are registered with the Global Handle System and included in DataCite Search.' as |el|}}
            {{#el.control onchange=(action (mut state)) optionLabelPath="name" placeholder="Select State" as |item|}}
              {{titleize item}}
            {{/el.control}}
          {{/form.element}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" class="btn btn-sm btn-fill">Save</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
{{else}}
  <div class='col-md-9 panel-list' id="content">
    {{#if searchable}}
      {{model-search model=model sortable=true}}
    {{/if}}

    {{#if model}}
      {{#each model as |doi|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "dois.show" doi.id}}{{if doi.title doi.title doi.doi}}{{/link-to}}
              <span class="small">{{doi.resource-type.title}}</span>
            </h3>
            {{#if doi.author}}
              {{{format-author doi.author}}}
            {{/if}}
            {{#if doi.published}}
              <div class="metadata">
                {{format-metadata doi.published resourceType=doi.resource-type resourceTypeSubtype=doi.resourceTypeSubtype containerTitle=doi.containerTitle version=doi.version}}
              </div>
            {{/if}}
            <div class="updated">
              Last updated {{format-time doi.updated year='numeric' month='long' day='numeric'}}.
              <span class="text-{{doi.state}}">{{titleize doi.state}}</span>
            </div>
            {{#if doi.license}}
              {{cc-license licenseURL=doi.license}}
            {{/if}}
          </div>
          <div class="panel-footer">
            <a href="{{doi.identifier}}">{{fa-icon "external-link"}} {{doi.identifier}}</a>
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=model numPagesToShow=5 showFL=true}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No DOIs found.
      {{/bs-alert}}
    {{/if}}
  </div>

  <div class='col-md-3'>
    {{#if (and (can "create doi" model) (eq link "clients.show.dois"))}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
              <button {{action "new" model}} class="btn btn-warning" id="add-doi">{{fa-icon "plus"}}Add{{if media.isXl ' DOI'}}</button>
              {{#if (and (can "transfer doi" model) (gt model.length 0))}}
                {{#link-to "clients.show.transfer" model.otherParams.client-id class="btn btn-warning" id="transfer-dois"}}{{fa-icon "arrow-circle-o-right"}}Transfer{{if media.isXl ' DOIs'}}{{/link-to}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if model.meta.states}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>State</h4>
          <ul>
            {{#each model.meta.states as |state|}}
              <li>
                {{#if model.otherParams.state}}
                  {{#link-to link (query-params state=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params state=state.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{state.title}}</div>
                <span class="number pull-right">{{format-number state.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.resource-types}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Resource Types</h4>
          <ul>
            {{#each model.meta.resource-types as |resource-type|}}
              <li>
                {{#if model.otherParams.resource-type-id}}
                  {{#link-to link (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params resource-type-id=resource-type.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{resource-type.title}}</div>
                <span class="number pull-right">{{format-number resource-type.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.years}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Publication Year</h4>
          <ul>
            {{#each model.meta.years as |year|}}
              <li>
                {{#if model.otherParams.year}}
                  {{#link-to link (query-params year='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.registered}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>DOI Registration Year</h4>
          <ul>
            {{#each model.meta.registered as |year|}}
              <li>
                {{#if model.otherParams.registered}}
                  {{#link-to link (query-params registered='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params registered=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.schema-versions}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Schema Versions</h4>
          <ul>
            {{#each model.meta.schema-versions as |schema-version|}}
              <li>
                {{#if model.otherParams.schema-version}}
                  {{#link-to link (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params schema-version=schema-version.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{schema-version.title}}</div>
                <span class="number pull-right">{{format-number schema-version.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
