<label class="control-label col-md-3">Creator</label>
<div class="col-md-9">
  {{#each authors as |item index|}}
    <div class="compound-form input-group">
      {{input type="text" focus-out=(action "update") class="form-control" value=item.name}}

      <span class="input-group-btn">
        <button {{action "delete" item}} class="btn btn-warning btn-fill">{{fa-icon "trash"}}</button>
      </span>
    </div>
  {{/each}}

  <div class="help-block">
    The main researchers involved in producing the data, or the authors of the publication, in priority order.
    The format for personal names should be "Smith, John".
  </div>

  <button {{action "add"}} disabled={{isDisabled}} class="btn btn-sm btn-file btn-add">{{fa-icon "plus"}} Add Creator</button>
</div>
