{{#if (gt index 0)}}
  <div>
    <div class="input-group">
      <input type="text" class="form-control title-field" value={{fragment.title}} placeholder="Title" oninput={{action "updateTitle" value="target.value"}} data-test-title/>
      <span class="input-group-btn">
        <BsButton @outline={{true}} @onClick={{action "deleteTitle" index}}><i class="fas fa-trash"></i></BsButton>
      </span>
    </div>
  </div>
{{else}}
  <div>
    <input type="text" class="form-control title-field" value={{fragment.title}} placeholder="Title" oninput={{action "updateTitle" value="target.value"}} data-test-title/>
  </div>
{{/if}}

<div class="power-select-label">
  <label for="titleType" class="subtitle">Title Type</label>
</div>

<div class="power-select-fragment title-type">
  <form.element @controlType="power-select" @value={{fragment.titleType}} @options={{titleTypes}} @destination={{fragment.titleType}} @disabled={{disabled}} as |el|>
    <el.control @onChange={{action "selectTitleType"}} @placeholder="Select Title Type" @allowClear={{true}} />
  </form.element>
</div>

<div class="power-select-label">
  <label for="titleType" class="subtitle">Language</label>
</div>

<div class="power-select-fragment title-lang">
  <form.element @controlType="power-select" @disabled={{disabled}} @value={{language}} @options={{languages}} as |el|>
    <el.control @onChange={{action "selectLanguage"}} @search={{action "searchLanguage"}} @placeholder="Select Language" @searchPlaceholder="Type to search..." @allowClear={{true}} />
  </form.element>
</div>

<hr />
