{{#if (and (not this.simple) (gt index 0)) }}
  <div class="power-select-label">
    <label for="subject" class="subtitle">
      Subject
    </label>
  </div>
{{/if}}
<div class="input-group">
  <div class="power-select-fragment" data-test-doi-subject>
    <@form.element
       @controlType="power-select"
       @options={{subjects}}
       @value={{fragment.subject}}
       @destination={{fragment.subject}}
       class="power-select-subject" as |el|
       >
       <el.control
         @searchEnabled={{true}}
         @onChange={{action "updateSubject"}}
         @placeholder="Search Subject from the OECD Fields of Science and Technology (FOS) OR create a new keyword"
         @onKeydown={{ action "createOnEnter" }}
         @search={{ action "searchSubject" }}
         @allowClear={{true}}
         @searchPlaceholder="Type to search subject OR create a new keyword..."
         @noMatchesMessage="Press ENTER to add new subject, keyword, classification code, or key phrase describing the resource."
         @disabled={{disabled}}
         class="power-select-subject-field"
         />
       {{#unless this.simple }}
         <div class="help-block">
           The default subject scheme is provided by the
           <a
             target="_blank"
             rel="noopener"
             href="https://www.oecd.org/science/inno/38235147.pdf"
             >
             OECD Fields of Science and Technology (FOS)
           </a>
           .
         </div>
       {{/unless}}
     </@form.element>
  </div>
    <span class="input-group-addon" style="vertical-align:top;padding-top:3px;">
    <BsButton @outline={{true}} @onClick={{action 'deleteSubject' index}}>
      <i class="fas fa-trash pull-left"></i>
    </BsButton>
  </span>
</div>
{{#unless this.simple }}
<div class="power-select-label">
  <label for="subjectScheme" class="subtitle">
    Subject Scheme
  </label>
</div>
<div class="input-group">
  <input
    type="text"
    placeholder="Subject Scheme"
    class="form-control subject-scheme-field"
    disabled={{this.oecdSelected}}
    value={{fragment.subjectScheme}}
    oninput={{action 'updateSubjectScheme' value='target.value'}}
    data-test-subject-scheme
  />
  <div class="help-block help-block-fragment">
    The name of the subject scheme or classification code or authority if one
    is used.
  </div>
  <div class="power-select-label">
    <label for="subjectSchemeUri" class="subtitle">
      Subject Scheme URI
    </label>
  </div>
  <input
    type="text"
    placeholder="Subject Scheme URI"
    class="form-control subject-scheme-uri-field"
    disabled={{this.oecdSelected}}
    value={{fragment.subjectSchemeUri}}
    oninput={{action 'updateSubjectSchemeUri' value='target.value'}}
    data-test-subject-uri
  />
  <span class="input-group-btn">
    <BsButton @outline={{true}} @onClick={{action 'deleteSubject' index}}>
      <i class="fas fa-trash"></i>
    </BsButton>
  </span>
</div>
<div class="help-block help-block-fragment">
  The URI of the subject identifier scheme. For example http://id.loc.gov/authorities/subjects
</div>
<div class="power-select-label">
  <label for="classificationCode" class="subtitle">
    Classification Code
  </label>
</div>
<input
  type="text"
  placeholder="Classification Code"
  class="form-control subject-classification-code-field"
  disabled={{this.oecdSelected}}
  value={{fragment.classificationCode}}
  oninput={{action 'updateClassificationCode' value='target.value'}}
  data-test-classification-code
/>
<div class="help-block help-block-fragment">
  The classification code used for the subject term in the subject scheme
</div>
<hr />
{{/unless}}
