{{#if (gt fragment.nameIdentifiers.length 0)}}
  <label for="nameIdentifiers" class="subtitle">Name Identifier (optional)</label>

  {{#each fragment.nameIdentifiers as |nameIdentifier index|}}
    <DoiNameIdentifier @model={{model}} @creator={{fragment}} @fragment={{nameIdentifier}} @form={{form}} @index={{index}} @joinNameParts={{action "joinNameParts"}} @setNameType={{action "selectNameType"}} @setReadOnly={{action "setReadOnly"}} />
  {{/each}}
{{/if}}

{{#if (lte fragment.nameIdentifiers.length 2)}}
  <BsButton @class="btn-sm add-name-identifier" @outline={{true}} @onClick={{action "addNameIdentifier"}}>{{fa-icon "plus-circle"}} Add another name identifier</BsButton>
{{/if}}

<div class="radio-fragment">
  <RadioButton @value="Personal" @groupValue={{nameType}} @radioClass="radio select-person" @changed={{action "selectNameType"}} @disabled={{isReadonlyNameType}} /><span class="subtitle">Person</span> <RadioButton @value="Organizational" @groupValue={{nameType}} @radioClass="radio select-organisation" @changed={{action "selectNameType"}} @disabled={{isReadonlyNameType}} /><span class="subtitle">Organization</span>
</div>

{{#if (gt index 0)}}
  {{#if showPersonal}}
    <div>
      <label for="givenName" class="subtitle">Given Name</label>
      <input type="text" class="form-control given-name-field no-error no-success" value={{fragment.givenName}} oninput={{action "updateGivenName" value="target.value"}} readonly={{isReadonlyNameParts}}/>
    </div>

    <div>
      <label for="familyName" class="subtitle">Family Name</label>
      <input type="text" class="form-control family-name-field no-error no-success" value={{fragment.familyName}} oninput={{action "updateFamilyName" value="target.value"}} readonly={{isReadonlyNameParts}}/>
    </div>
  {{/if}}

  <div>
    <label for="name" class="subtitle">Name{{if showPersonal ' (from Given Name and Family Name)'}}</label>
  </div>
  <div class="input-group">
    <input type="text" class="form-control creator-field no-error no-success" value={{fragment.name}} oninput={{action "updateName" value="target.value"}} readonly={{isReadonly}}/>
    <span class="input-group-btn">
      <BsButton @outline={{true}} @onClick={{action "deleteCreator" index}}>{{fa-icon "trash"}}</BsButton>
    </span>
  </div>

  <div class="help-block help-block-fragment no-error no-success">The main {{if showPersonal 'researchers' 'organizations'}} involved in producing the data, or the authors of the publication, in priority order.</div>
{{else}}
  {{#if showPersonal}}
    <div>
      <label for="givenName" class="subtitle">Given Name</label>
      <input type="text" class="form-control given-name-field {{if (not (v-get fragment 'givenName' 'messages')) 'no-error'}}" value={{fragment.givenName}} oninput={{action "updateGivenName" value="target.value"}} readonly={{isReadonlyNameParts}}/>
      
      {{#if (v-get fragment 'givenName' 'errors')}}
        <div class="help-block help-block-fragment">{{v-get fragment 'givenName' 'message'}}</div>
      {{else if (v-get fragment 'givenName' 'warnings')}}
        <div class="help-block help-block-fragment">{{v-get fragment 'givenName' 'warningMessage'}}</div>
      {{else}}
        <div class="help-block help-block-fragment no-error">The personal or first name of the creator.</div>
      {{/if}}
    </div>

    <div>
      <label for="familyName" class="subtitle">Family Name</label>
      <input type="text" class="form-control family-name-field {{if (not (v-get fragment 'familyName' 'messages')) 'no-error'}}" value={{fragment.familyName}} oninput={{action "updateFamilyName" value="target.value"}} readonly={{isReadonlyNameParts}}/>
      
      {{#if (v-get fragment 'familyName' 'errors')}}
        <div class="help-block help-block-fragment">{{v-get fragment 'familyName' 'message'}}</div>
      {{else if (v-get fragment 'familyName' 'warnings')}}
        <div class="help-block help-block-fragment">{{v-get fragment 'familyName' 'warningMessage'}}</div>
      {{else}}
        <div class="help-block help-block-fragment no-error">The surname or last name of the creator.</div>
      {{/if}}
    </div>

    <div>
      <label for="name" class="subtitle">Name (from Given Name and Family Name)</label>
    </div>
    <input type="text" class="form-control creator-field no-error no-success" value={{fragment.name}} oninput={{action "updateName" value="target.value"}} readonly={{isReadonly}}/>
    
    <div class="help-block help-block-fragment no-error no-success">The main researchers involved in producing the data, or the authors of the publication, in priority order.</div>
  {{else}}
    <div>
      <label for="name" class="subtitle">Name</label>
    </div>
    <input type="text" class="form-control creator-field {{if (not (v-get fragment 'name' 'messages')) 'no-error'}}" value={{fragment.name}} oninput={{action "updateName" value="target.value"}} readonly={{isReadonly}}/>

    {{#if (v-get fragment 'name' 'errors')}}
      <div class="help-block help-block-fragment">{{v-get fragment 'name' 'message'}}</div>
    {{else if (v-get fragment 'name' 'warnings')}}
      <div class="help-block help-block-fragment">{{v-get fragment 'name' 'warningMessage'}}</div>
    {{else}}
      <div class="help-block help-block-fragment no-error">The main organizations involved in producing the data, or the authors of the publication, in priority order.</div>
    {{/if}}
  {{/if}}
{{/if}}

{{#if (gt fragment.affiliation.length 0)}}
  <label for="affiliation" class="subtitle">Affiliation (optional)</label>

  {{#each fragment.affiliation as |affiliation index|}}
    <DoiAffiliation @model={{model}} @creator={{fragment}} @fragment={{affiliation}} @form={{form}} @index={{index}} />
  {{/each}}

  {{#if (not hasErrors)}}
    <div class="help-block help-block-fragment affiliation-field no-error no-success">
      Affiliation names and identifiers are provided by the Research Organization Registry (ROR).
    </div>
  {{/if}}

  {{#if (lte fragment.affiliation.length 2)}}
    <BsButton @class="btn-sm add-affiliation" @outline={{true}} @onClick={{action "addAffiliation"}}>{{fa-icon "plus-circle"}} Add another affiliation</BsButton>
  {{/if}}
{{/if}}

<hr />
