<h3 class="work">
  {{#if isList}}
    <LinkTo @route="dois.show" @model={{model.id}}>{{#if (and (gt model.titles.length 0) (gt model.titles.firstObject.title.length 0))}}{{format-text model.titles.firstObject.title}}{{else}}{{model.doi}}{{/if}}</LinkTo>
    <span class="small" data-test-resource-type-general>{{model.types.resourceTypeGeneral}}</span>
  {{else}}
    {{#if model.isDraft}}
      {{#if (and (gt model.titles.length 0) (gt model.titles.firstObject.title.length 0))}}{{format-text model.titles.firstObject.title}}{{else}}{{model.doi}}{{/if}}
    {{else}}
      <a target="_blank" rel="noopener"
        href="{{model.identifier}}" data-test-doi>{{#if (gt model.titles.length 0)}}{{format-text model.titles.firstObject.title}}{{else}}{{model.doi}}{{/if}}</a>
    {{/if}}
    <span class="small" data-test-resource-type-general>{{model.types.resourceTypeGeneral}}</span>
  {{/if}}
</h3>
{{#if model.creators}}
  <CreatorShow @creators={{model.creators}} />
{{/if}}
<div class="metadata" data-test-metadata>
  {{format-metadata model.publicationYear resourceTypeGeneral=model.types.resourceTypeGeneral resourceType=model.types.resourceType container=model.bcontainer publisher=model.publisher version=model.version}}
</div>
{{#if model.descriptions}}
  <div class="description" data-test-description>
    {{#if (gt model.descriptions.length 0)}}{{format-text model.descriptions.firstObject.description limit=150}}{{/if}}
  </div>
{{/if}}
{{#if isList}}
  <div class="created" data-test-created>
    Created
    {{format-time model.created year='numeric' month='long' day='numeric' hour='numeric' minute='numeric' second='numeric' timeZone='UTC' timeZoneName='short' hour12=false}}.
    <span class="text-{{model.state}}">{{titleize model.state}}</span>
  </div>
{{/if}}
{{#if isResearcherProfile}}
  <div class="metadata license">
    <div class="metrics-counter">
      {{#if (add model.citationCount model.viewCount model.downloadCount)}}
          {{#if model.citationCount}}
            <i class="metrics-icons" citations-test-badge> {{fa-icon "quote-right"}} {{ format-numbers model.citationCount }} {{ pluralize model.citationCount 'Citation' without-count=true}}</i>
          {{else}}
            <i class="metrics-icons" citations-test-badge>{{fa-icon "info-circle"}}  No citations were reported.</i>
          {{/if}}
          {{#if (add model.viewCount model.downloadCount) }}
            {{#if model.viewCount}}
              <i class="metrics-icons"> {{fa-icon "eye"}}  {{ format-numbers model.viewCount }}  {{ pluralize model.viewCount 'View' without-count=true }} </i>
            {{/if}}
            {{#if model.downloadCount}}
              <i class="metrics-icons"> {{fa-icon "download"}}  {{ format-numbers model.downloadCount }}   {{ pluralize model.downloadCount 'Download' without-count=true }} </i>
            {{/if}}
          {{else}}
            <i class="metrics-icons">{{fa-icon "info-circle"}}  No usage information was reported.</i>
          {{/if}}
      {{else}}
        <i>{{fa-icon "info-circle"}}  No citations were reported. No usage information was reported.</i>
      {{/if}}
    </div>
  </div>
{{/if}}
{{#if model.rightsList}}
  {{#each model.rightsList as |rights|}}
    <CcLicense @licenseURL={{rights.rightsUri}} />
  {{/each}}
{{/if}}


