    <div class="container-fluid"     style="padding-left: 0px;">
      <div class="row" style="display:flex">
        {{#if hasMetrics}}
            {{#if citations}}
              <p style="margin-right: 1.5em;">{{fa-icon "quote-right"}} {{ format-numbers citations }} {{  pluralize citations 'Citation' without-count=true}}</p>
            {{else}}
              <p style="margin-right: 1.5em;">{{fa-icon "info-circle"}}  No citations were reported.</p>
            {{/if}}
            {{#if hasUsage }}
              {{#if views}}
                <p style="margin-right: 1.5em;"> {{fa-icon "eye"}}  {{ format-numbers views }}  {{ pluralize views 'View' without-count=true }} </p>
              {{/if}}
              {{#if downloads}}
                <p style="margin-right: 1.5em;"> {{fa-icon "download"}}  {{ format-numbers downloads }}   {{ pluralize downloads 'Download' without-count=true }} </p>
              {{/if}}
            {{else}}
              <p style="margin-right: 1.5em;">{{fa-icon "info-circle"}}  No usage information was reported.</p>
            {{/if}}
        {{else}}
          <p style="margin-right: 1.5em;">{{fa-icon "info-circle"}}  No citations were reported. No usage information was reported.</p>
        {{/if}}
      </div>
    </div>
