{{#if (gt index 0)}}
  <div class="input-group">
    <input type="text" class="form-control title-field no-error no-success" value={{fragment.title}} oninput={{action "updateTitle" value="target.value"}}/>
    <span class="input-group-btn">
      <BsButton @outline={{true}} @onClick={{action "deleteTitle" index}}>{{fa-icon "trash"}}</BsButton>
    </span>
  </div>
  <div class="help-block help-block-fragment no-error no-success">One or more names or titles by which the resource is known.</div>
{{else}}
  <input type="text" class="form-control title-field" value={{fragment.title}} oninput={{action "updateTitle" value="target.value"}}/>

  {{#if (v-get fragment 'title' 'errors')}}
    <div class="help-block help-block-fragment">{{v-get fragment 'title' 'message'}}</div>
  {{else if (v-get fragment 'title' 'warnings')}}
    <div class="help-block help-block-fragment">{{v-get fragment 'title' 'warningMessage'}}</div>
  {{else}}
    <div class="help-block help-block-fragment">One or more names or titles by which the resource is known.</div>
  {{/if}}
{{/if}}

<div class="power-select-label">
  <label for="titleType" class="subtitle">Title Type (optional)</label>
</div>

<div class="power-select-fragment title-type">
  {{#form.element controlType="power-select" value=fragment.titleType options=titleTypes destination=fragment.titleType disabled=disabled as |el|}}
    {{el.control onChange=(action "selectTitleType") placeholder="Select Title Type" allowClear=true}}
  {{/form.element}}
</div>

<div class="power-select-label">
  <label for="titleType" class="subtitle">Language (optional)</label>
</div>

<div class="power-select-fragment title-lang">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
    {{el.control onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true}}
  {{/form.element}}
</div>

<hr />
