  <div
    class="container"
    :title="'Metrics for DOI: ' + doi"
  >
    <div class="container-fluid ">
      <div class="row" style="display:flex">
            {{#if count}}
              {{!-- <a
                :href="link + '#citations-tab'"
                :title={{ pluralize citations 'Citation' }}
              > --}}
              {{!-- <citationIcon :class="(['', '0',0].includes(citations) == false) ? activeClass : inactiveClass" /> --}}
              {{!-- {{inline-svg "citationIcon"}} --}}
            <p style="margin-right: 1.5em;">{{fa-icon "quote-right"}}  {{ pluralize count 'Citation' }}</p>
            {{/if}}
            {{#if count}}
              {{!-- <p --}}
                {{!-- :href="link + '#views-tab'"
                :title={{ pluralize views 'View' }}
              > --}}
              {{!-- <citationIcon :class="(['', '0',0].includes(views) == false) ? activeClass : inactiveClass" /> --}}
               <p style="margin-right: 1.5em;"> {{fa-icon "eye"}}  {{ pluralize count 'View' }} </p>
            {{!-- </a> --}}
            {{/if}}
            {{#if count}}
              {{!-- a
                :href="link + '#downloads-tab'"
                :title={{ pluralize downloads 'Downloas' }}
              > --}}
              {{!-- <citationIcon :class="(['', '0',0].includes(downloads) == false) ? activeClass : inactiveClass" /> --}}
             <p style="margin-right: 1.5em;"> {{fa-icon "download"}}   {{ pluralize count 'Download' }} </p>
            {{!-- </a> --}}
            {{/if}}
      </div>
    </div>
  </div>
