{{#if (gt index 0)}}
  <div class="input-group">
    <input type="text" class="form-control name-identifier-field no-error no-success" value={{fragment.nameIdentifier}} oninput={{action "updateNameIdentifier" value="target.value"}}/>
    <span class="input-group-btn">
      {{#bs-button outline=true onClick=(action "deleteNameIdentifier" index)}}{{fa-icon "trash"}}{{/bs-button}}
    </span>
  </div>
{{else}}
  <input type="text" class="form-control name-identifier-field no-error no-success" value={{fragment.nameIdentifier}} oninput={{action "updateNameIdentifier" value="target.value"}}/>
{{/if}}
