<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3">Related Identifiers</label>
  <div class="col-md-9">
    <div class="label-vertical">Identifiers of related resources. These must be globally unique identifiers.</div>
    {{#each model.relatedIdentifiers as |relatedIdentifier index|}}
      <DoiRelatedIdentifier @model={{model}} @fragment={{relatedIdentifier}} @form={{form}} @index={{index}} />
    {{/each}}

    {{#if (or (not model.relatedIdentifiers) (lte model.relatedIdentifiers.length 24))}}
      <BsButton @id="add-related-identifier" @class="btn-sm" @outline={{true}} @onClick={{action "addRelatedIdentifier"}}>{{fa-icon "plus"}} Add {{if (gt model.relatedIdentifiers.length 0) "another "}} related identifier</BsButton>
    {{/if}}
  </div>
</div>