<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3">Funding Reference(s)</label>
  <div class="col-md-9">
    {{#each model.fundingReferences as |fundingReference index|}}
      <DoiFundingReference @model={{model}} @fragment={{fundingReference}} @form={{form}} @index={{index}} />
    {{/each}}

    {{#if (lte model.fundingReferences.length 4)}}
      <BsButton @id="add-funding-reference" @class="btn-sm" @outline={{true}} @onClick={{action "addFundingReference"}}>{{fa-icon "plus"}} Add another Funder Reference</BsButton>
    {{/if}}
  </div>
</div>