<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3" data-test-funding-references>Funding References</label>
  <div class="col-md-9 compact-select">
    <div class="label-vertical">Information about financial support (funding) for the resource being registered.</div>
    {{#if showFundingReferences}}
      {{#each model.fundingReferences as |fundingReference index|}}
        <DoiFundingReference @model={{model}} @fragment={{fundingReference}} @form={{form}} @index={{index}} />
      {{/each}}

    {{#if (lte model.fundingReferences.length 4)}}
      <BsButton @id="add-funding-reference" @class="btn-sm" @outline={{true}} @onClick={{action "addFundingReference"}}>{{fa-icon "plus"}} Add {{if (gt model.fundingReferences.length 0) "another "}}funding reference</BsButton>
    {{/if}}

      {{#if (gt model.fundingReferences.length 0)}}
        <BsButton @id="toggle-funding-references" @class="btn-sm" @outline={{true}} @onClick={{action "toggleFundingReferences"}}>{{fa-icon "eye-slash"}} Hide {{pluralize model.fundingReferences.length 'funding reference'}}</BsButton>
      {{/if}}
    {{else}}
      {{#if (gt model.fundingReferences.length 0)}}
        <BsButton @id="toggle-funding-references" @class="btn-sm" @outline={{true}} @onClick={{action "toggleFundingReferences"}}>{{fa-icon "eye"}} Show {{pluralize model.fundingReferences.length 'funding reference'}}</BsButton>
      {{else}}
        <BsButton @class="btn-sm btn-warning" @id="add-funding-reference" @outline={{true}} @onClick={{action "addFundingReference"}}>{{fa-icon "plus"}} Add funding reference</BsButton>
      {{/if}}
    {{/if}}
  </div>
</div>