{{#if edit}}
  <h2 class="work">{{model.doi}}</h2>

  <h3 class="edit">Edit DOI</h3>

  <div class="row">
    <div class='col-md-9'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
            {{form.element controlType="text" label="1. DOI" placeholder="Please add a DOI with one of your prefixes" property="doi" disabled=true}}
            {{form.element controlType="hidden" property="confirmDOI" required=false}}
            {{form.element controlType="text" label="2. URL" placeholder="Please add a URL in http/https format" property="url" required=false}}
            {{form.element controlType="textarea" label="3. Metadata" placeholder="Please add metadata in DataCite XML format" property="xml" rows=lines required=false}}
            {{#form.element controlType="power-select" label="4. State" property="state" options=states destination=state helpText='Draft DOIs are only visible from within the account, and can be deleted. Findable DOIs are registered with the Global Handle System and included in DataCite Search.' as |el|}}
              {{#el.control onchange=(action (mut state)) placeholder="Select State" as |item|}}
                {{titleize item}}
              {{/el.control}}
            {{/form.element}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                <button type="submit" disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Save</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else if transfer}}
  <h2 class="work">{{model.doi}}</h2>

  <h3 class="edit">Transfer DOI</h3>

  <div class="row">
    <div class='col-md-9'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
            {{form.element controlType="hidden" property="doi" required=false}}
            {{form.element controlType="hidden" property="confirmDOI" required=false}}
            {{#form.element controlType="power-select" property="client" label="Client" helpText='Transfer all DOIs to this client. It can take up to 8 hours until these changes are indexed and show up outside of DOI Fabrica.' optionLabelPath="name" options=clients destination=client.id as |el|}}
              {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" searchPlaceholder="Type to search..." as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                <button type="submit" disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Transfer</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else if delete}}
  <h2 class="work">{{model.doi}}</h2>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "destroy" model) submitOnEnter=true as |form|}}
            {{#form.group validation=(if (v-get model 'isInvalid') "error" "success")}}
              {{form.element controlType="text" label='Are you sure you want to delete this DOI? This action cannot be undone.' property='confirmDoi' showValidationOn="input" autofocus=true helpText='Please add the DOI to confirm.'}}
            {{/form.group}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                <button {{action "destroy" model}} disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Delete</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class='col-md-9'>
      <h2 class="work">{{model.doi}}</h2>
    </div>

    {{#if (can "edit doi" model)}}
      <div class='col-md-3'>
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "edit" model}} class="btn btn-warning">{{fa-icon "pencil"}} Edit DOI</button>
                {{#if (and (can "delete doi" model) model.isDraft)}}
                  <button {{action "delete" model}} class="btn btn-warning">{{fa-icon "trash"}} Delete DOI</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else if (can "transfer doi" model)}}
      <div class='col-md-3'>
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "transfer" model}} class="btn btn-warning">{{fa-icon "arrow-circle-o-right"}} Transfer DOI</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  {{doi-url model=model}}
  {{doi-metadata model=model}}
{{/if}}
