<h3 class="work">
  {{#if isList}}
    {{#link-to "clients.show.dois.show" model.client.id model.id}}{{#if (gt model.titles 0)}}{{format-text model.titles}}{{else}}{{model.doi}}{{/if}}{{/link-to}}
    <span class="small">{{model.types.resourceTypeGeneral}}</span>
  {{else}}
    {{#if model.isDraft}}
      {{format-text model.titles}}
    {{else}}
      {{#if (gt model.titles 0)}}<a target="_blank" href="{{model.identifier}}">{{format-text model.titles}}</a>{{/if}}
    {{/if}}
    <span class="small">{{model.types.resourceTypeGeneral}}</span>
  {{/if}}
</h3>
{{#if model.creator}}
  {{{format-creator model.creator}}}
{{/if}}
<div class="metadata">
  {{format-metadata model.publicationYear resourceTypeGeneral=model.types.resourceTypeGeneral resourceType=model.types.resourceType publisher=model.publisher version=model.version}}
</div>
{{#if model.descriptions}}
  <div class="description">
    {{format-text model.descriptions limit=150}}
  </div>
{{/if}}
{{#if isList}}
  <div class="created">
    Created {{format-time model.created year='numeric' month='long' day='numeric'}}.
    <span class="text-{{model.state}}">{{titleize model.state}}</span>
  </div>
{{/if}}
{{#if model.rightsList}}
  {{#each model.rightsList as |rights|}}
    {{cc-license licenseURL=rights.rightsUri}}
  {{/each}}
{{/if}}