{{#if hasMetadata}}
  <div id="metadata" class="input-group pull-right">
    <select onchange={{action 'selectMetadata' value="target.value"}}>
      {{#each-in formats as |key value|}}
        <option name="metadata" value={{key}} selected={{eq metadata key}}>{{value}}</option>
      {{/each-in}}
    </select>
  </div>
  <h3 class="member-results">Metadata</h3>
  <div class="clearfix"/>

  <div class="panel panel-transparent">
    {{#if output}}
      <div class="panel-body">
        {{#code-block class="metadata"}}
{{output}}
        {{/code-block}}
      </div>
    {{else}}
      {{doi-summary model=model}}
      
      {{#if (not model.isDraft)}}
        <div class="panel-footer">
          <a target="_blank" rel="noopener" href="{{model.identifier}}">{{fa-icon "external-link"}} {{model.identifier}}</a>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
