{{#if (gt index 0)}}
  <div class="input-group" style="padding-top:30px;">
    <div class="power-select-fragment">
      {{#form.element controlType="power-select" disabled=disabled value=fragment.name options=organizationsNames as |el|}}
        {{el.control onChange=(action "selectOrganization") search=(action "searchOrganization") placeholder="Select Organization" searchPlaceholder="Type to search..." allowClear=true}}
      {{/form.element}}
    </div>
    <span class="input-group-addon" style="vertical-align:top;padding-top:3px;background-color:white;">
    {{#bs-button outline=true onClick=(action "deleteAffiliation" index)}}{{fa-icon "trash" pull="left" style="margin:0;"}}{{/bs-button}}
    </span>
  </div>
{{else}}
  <div class="power-select-fragment">
    {{#form.element controlType="power-select" disabled=disabled value=fragment.name options=organizations as |el|}}
      {{#el.control onChange=(action "selectRor") search=(action "searchRor") placeholder="Select Affiliation" searchPlaceholder="Type to search..." allowClear=true as |item|}}
        {{if item.name item.name fragment.name}}
      {{/el.control}}
    {{/form.element}}
  </div>
{{/if}}

{{#if fragment.affiliationIdentifier}}
  <input type="text" class="form-control affiliation-identifier-field no-error no-success" value={{fragment.affiliationIdentifier}} readonly="true"/>
{{/if}}
