{{#if (gt index 0)}}
  <div class="input-group">
    <textarea class="form-control description-field {{if (not isSeriesInformation) 'no-error'}}" rows="4" style="resize:none" value={{fragment.description}}
      oninput={{action "updateDescription" value="target.value"}}/>
    <span class="input-group-addon">
      {{#bs-button outline=true onClick=(action "deleteDescription" index)}}{{fa-icon "trash" pull="left" style="margin:0;"}}{{/bs-button}}
    </span>
  </div>
{{else}}
  <textarea class="form-control description-field" rows="4" style="resize:none" value={{fragment.description}} 
    oninput={{action "updateDescription" value="target.value"}}/>
{{/if}}

{{#if (v-get fragment 'description' 'warnings')}}
  <div class="help-block help-block-fragment description-field">{{v-get fragment 'description' 'warningMessage'}}</div>
{{else if isSeriesInformation}}
  <div class="help-block help-block-fragment description-field">Enter series information in the recommended format of series title, followed by comma and optional volume(issue), firstpage-lastpage</div>
{{else}}
  <div class="help-block help-block-fragment description-field no-error">All additional information that does not fit in any of the other categories.</div>
{{/if}}

<div class="power-select-label">
  <label for="descriptionType" class="subtitle">Description Type</label>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" value=fragment.descriptionType options=descriptionTypes destination=fragment.descriptionType disabled=disabled as |el|}}
    {{el.control class="description-types" onChange=(action "selectDescriptionType") placeholder="Select Description Type" allowClear=false}}
  {{/form.element}}
</div>


<div class="power-select-label">
  <label for="descriptionLang" class="subtitle">Language (optional)</label>
</div>

<div class="power-select-fragment description-langs">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
    {{el.control class="description-langs" onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true }}
  {{/form.element}}
</div>

<hr />
