{{#if (gt index 0)}}
  <div class="input-group">
    {{input type="text" class="form-control" value=fragment.name oninput=(action "updateName") onblur=(action "validateName") readonly=isReadonly}}
    <span class="input-group-btn">
      {{#bs-button outline=true onClick=(action "deleteCreator" index)}}{{fa-icon "trash"}}{{/bs-button}}
    </span>
  </div>
{{else}}
  {{input type="text" class="form-control creator-field" value=fragment.name oninput=(action "updateName") onblur=(action "validateName") readonly=isReadonly}}
{{/if}}

{{#if errorMessage}}
  <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
{{else}}
  <div class="help-block help-block-fragment">The main researchers involved in producing the data, or the authors of the publication, in priority order.{{if showPersonal ' Personal names must be entered via the given name and family name fields below.'}}</div>
{{/if}}

<div class="radio-fragment">
  {{radio-button value="Personal" groupValue=nameType radioClass="radio" changed="selectNameType"}}<span class="subtitle">Person</span> {{radio-button value="Organizational" groupValue=nameType radioClass="radio" changed="selectNameType"}}<span class="subtitle">Organization</span>
</div>

<div class="power-select-label">
  <label for="nameIdentifiers" class="subtitle">Name Identifier (optional)</label>

  {{#each fragment.nameIdentifiers as |nameIdentifier index|}}
    {{doi-name-identifier model=model creator=fragment fragment=nameIdentifier form=form index=index setIsValidating=(action "setIsValidating") setHasErrors=(action "setHasErrors")}}
  {{/each}}

  <div class="help-block help-block-fragment name-identifier-field">Uniquely identifies an individual or legal entity, according to various schemas.</div>

  {{#if (lte fragment.nameIdentifiers.length 2)}}
    {{#bs-button class="btn-sm add-name-identifier" outline=true onClick=(action "addNameIdentifier")}}{{fa-icon "plus"}} Add
  Name Identifier{{/bs-button}}
  {{/if}}
</div>

{{#if showPersonal}}
  <div class="power-select-label">
    <label for="givenName" class="subtitle">Given Name (optional)</label>
    <input type="text" class="form-control" value={{fragment.givenName}} oninput={{action "updateGivenName" value="target.value"}} onblur={{action "validateGivenName"}} disabled={{metadataFieldsDisabled}}/>
  </div>

  <div class="power-select-label">
    <label for="familyName" class="subtitle">Family Name (optional)</label>
    <input type="text" class="form-control" value={{fragment.familyName}} oninput={{action "updateFamilyName" value="target.value"}} onblur={{action "validateFamilyName"}} disabled={{metadataFieldsDisabled}}/>
  </div>

  <div class="power-select-label">
    <label for="affiliation" class="subtitle">Affiliation (optional)</label>
  </div>

  <div class="power-select-fragment">
    {{#form.element controlType="power-select" disabled=disabled value=organization options=organizations helpText='Organization names are provided by the Research Organization Registry (ROR).' as |el|}}
      {{el.control onChange=(action "selectOrganization") search=(action "searchOrganization") placeholder="Select Organization" searchPlaceholder="Type to search..." allowClear=true}}
    {{/form.element}}
  </div>
{{/if}}

<hr />
