<div class="input-group">
  {{!-- <input type="text" placeholder="Format" class="form-control format-field" value={{fragment}} oninput={{action "updateFormat" value="target.value"}} onblur={{action "selectFormat" }} data-test-format/>     --}}
  <div class="power-select-fragment" data-test-format>
  {{#form.element
    controlType='power-select'
    options=formats
    value=fragment.format
    disabled=disabled
    destination=fragment.format as |el|
  }}
    {{el.control
      searchEnabled=true
      onChange=(action 'updateFormat')
      placeholder='Search standard formats OR create a new format'
      onkeydown=(action 'createOnEnter')
      search=(action 'searchFormat')
      allowClear=true
      searchPlaceholder='Type to search format OR create a new format...'
      noMatchesMessage='Press ENTER to add new format, keyword, classification code, or key phrase describing the resource.'
    }}
    <div class="help-block">
      The default format scheme is provided by the
      <a
        target="_blank"
        rel="noopener"
        href="https://www.iana.org/assignments/media-types/media-types.xhtml"
      >
        IANA Media Types
      </a>
      .
    </div>
  {{/form.element}}
</div>
  <span class="input-group-btn">
    <BsButton @outline={{true}} @onClick={{action "deleteFormat" index}}><i class="fas fa-trash"></i></BsButton>
  </span>
</div>
<hr />
