<div class="form-group">
  <label class="control-label col-md-3">State</label>
  <div class="col-md-9">
    <div><RadioButton @value="draft" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{draft}} />Draft <span class="help-block">only visible in Fabrica, DOI can be deleted</span></div>
    <div><RadioButton @value="registered" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{registered}} />Registered <span class="help-block">registered with the DOI Resolver</span></div>
    <div><RadioButton @value="findable" @groupValue={{state}} @radioClass="radio" @changed={{action "selectState"}} @disabled={{findable}} />Findable <span class="help-block">registered with the DOI Resolver and indexed in DataCite Search</span></div>
    <div class="help-block">
      The state determines whether a DOI is registered and findable. Once in Registered or Findable state, a DOI can't be set back to Draft state. <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/doi-states">More&nbsp;…</a>
    </div>
  </div>
</div>


