{{#if (gt index 0)}}
  <div class="input-group">
    <input type="text" class="form-control name-identifier-field no-error {{if (not fragment.nameIdentifier) 'no-success'}}" value={{fragment.nameIdentifier}} oninput={{action "updateNameIdentifier" value="target.value"}} data-test-name-identifier/>
    <span class="input-group-btn">
      <BsButton @outline={{true}} @onClick={{action "deleteNameIdentifier" index}}>{{fa-icon "trash"}}</BsButton>
    </span>
  </div>
{{else}}
  <input type="text" class="form-control name-identifier-field {{if (not (v-get fragment 'nameIdentifier' 'messages')) 'no-error'}} {{if (not fragment.nameIdentifier) 'no-success'}}" value={{fragment.nameIdentifier}} oninput={{action "updateNameIdentifier" value="target.value"}} data-test-name-identifier/>
  
  {{#if (v-get fragment 'nameIdentifier' 'errors')}}
    <div class="help-block help-block-fragment name-identifier-field">{{v-get fragment 'nameIdentifier' 'message'}}</div>
  {{else if (v-get fragment 'nameIdentifier' 'warnings')}}
    <div class="help-block help-block-fragment name-identifier-field">{{v-get fragment 'nameIdentifier' 'warningMessage'}}</div>
  {{else}}
    <div class="help-block help-block-fragment name-identifier-field no-error {{if (not fragment.nameIdentifier) 'no-success'}}">
      Uniquely identifies an individual or legal entity, according to various schemas, e.g. ORCID, ROR or ISNI. 
      Use name identifier expressed as URL. The Given Name, Family Name and Name will automatically be filled out for ORCID and ROR identifiers.
    </div>
  {{/if}}
{{/if}}
