{{#if (gt index 0)}}
  <div class="input-group">
    {{input type="text" class="form-control title-field no-error" value=fragment.title onchange=(action "updateTitle")}}
    <span class="input-group-btn">
      {{#bs-button outline=true onClick=(action "deleteTitle" index)}}{{fa-icon "trash"}}{{/bs-button}}
    </span>
  </div>
  <div class="help-block help-block-fragment title-field no-error">One or more names or titles by which the resource is known.</div>
{{else}}
  {{input type="text" class="form-control title-field" value=fragment.title onchange=(action "updateTitle") focusOut=(action "validateTitle")}}

  {{#if errorMessage}}
    <div class="help-block help-block-fragment has-error">{{errorMessage}}</div>
  {{else}}
    <div class="help-block help-block-fragment title-field">One or more names or titles by which the resource is known.</div>
  {{/if}}
{{/if}}

<div class="power-select-label">
  <label for="titleType" class="subtitle">Title Type (optional)</label>
</div>

<div class="power-select-fragment title-type">
  {{#form.element controlType="power-select" value=fragment.titleType options=titleTypes destination=fragment.titleType disabled=disabled as |el|}}
    {{el.control onChange=(action "selectTitleType") placeholder="Select Title Type" allowClear=true}}
  {{/form.element}}
</div>

<div class="power-select-label">
  <label for="titleType" class="subtitle">Language (optional)</label>
</div>

<div class="power-select-fragment title-lang">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
    {{el.control onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true}}
  {{/form.element}}
</div>

<hr />
