{{#if (gt index 0)}}
<div class="col-md-9 col-md-offset-3">
  <div class="input-group">
    <textarea class="form-control description-field" value={{fragment.description}}
      oninput={{action "updateDescription" value="target.value"}} disabled={{metadataFieldsDisabled}} />
    <span class="input-group-btn">
    {{#bs-button outline=true onClick=(action "deleteDescription" index)}}{{fa-icon "trash"}}{{/bs-button}}
  </span>
  </div>
</div>
{{else}}
<label class="control-label col-md-3">Descriptions (optional)</label>
<div class="col-md-9">
  <textarea class="form-control description-field" value={{fragment.description}}
    oninput={{action "updateDescription" value="target.value"}} disabled={{disabled}} />
</div>
{{/if}}

<div class="power-select-label">
  <div class="col-md-9 col-md-offset-3">
    <label for="titleType" class="subtitle">Description Type</label>
  </div>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" value=fragment.descriptionType options=descriptionTypes destination=fragment.descriptionType disabled=disabled as |el|}}
  {{#el.control onChange=(action "selectDescriptionType") search=(action "searchDescriptionType") placeholder="Select Description Type" searchPlaceholder="Type to search..." allowClear=false as |item|}}
  {{item}}
  {{/el.control}}
  {{/form.element}}
</div>

<div class="power-select-label">
  <div class="col-md-9 col-md-offset-3">
    <label for="descriptionLang" class="subtitle">Language (optional)</label>
  </div>
</div>

<div class="power-select-fragment">
  {{#form.element controlType="power-select" disabled=disabled value=language options=languages as |el|}}
  {{#el.control onChange=(action "selectLanguage") search=(action "searchLanguage") placeholder="Select Language" searchPlaceholder="Type to search..." allowClear=true as |item|}}
  {{item}}
  {{/el.control}}
  {{/form.element}}
</div>