{{#if (gt index 0)}}
  <div class="input-group">
    <input type="text" class="form-control" id="title" value={{fragment.title}} onchange={{action "updateTitle" value="target.value"}} />

    <span class="input-group-btn">
      {{#bs-button outline=true onClick=(action "deleteTitle" index)}}{{fa-icon "trash"}}{{/bs-button}}
    </span>
  </div>
{{else}}
  <input type="text" class="form-control" value={{fragment.title}} onchange={{action "updateTitle" value="target.value"}} />
{{/if}}
