<div class='col-md-3'>
  {{#if (and (eq link "clients.show.dois") (or (can "create doi" model) (can "upload doi" model) (can "transfer doi" model)))}}
    <div class="panel facets">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group-vertical btn-group-sm">
            {{#if (can "create doi" model)}}
              {{#link-to "clients.show.dois.new" client.id class="btn btn-warning"}}{{fa-icon "wpforms"}} Create{{if media.isXl ' DOI'}} (Form){{/link-to}}
            {{/if}}
            {{#if (can "upload doi" model)}}
              {{#link-to "clients.show.dois.upload" client.id class="btn btn-warning"}}{{fa-icon "upload"}} Create{{if media.isXl ' DOI'}} (File Upload){{/link-to}}
            {{/if}}
            {{#if (and (can "transfer doi" model) model.otherParams.client-id (gt model.length 0))}}
              {{#link-to "clients.show.transfer" model.otherParams.client-id class="btn btn-warning" id="transfer-dois"}}{{fa-icon "arrow-circle-o-right"}}Transfer{{if media.isXl ' DOIs'}}{{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="edit"></div>
      </div>
    </div>
  {{/if}}

  {{#if (or model.meta.states model.otherParams.state)}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>State</h4>
        <ul>
          {{#if model.meta.states}}
            {{#each model.meta.states as |state|}}
              <li>
                {{#if model.otherParams.state}}
                  {{#link-to link (query-params state=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params state=state.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{state.title}}</div>
                <span class="number pull-right">{{format-number state.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params state='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{titleize model.otherParams.state}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.resourceTypes model.otherParams.resource-type-id)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Resource Type</h4>
        <ul>
          {{#if model.meta.resourceTypes}}
            {{#each model.meta.resourceTypes as |resourceType|}}
              <li>
                {{#if model.otherParams.resource-type-id}}
                  {{#link-to link (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params resource-type-id=resourceType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{resourceType.title}}</div>
                <span class="number pull-right">{{format-number resourceType.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{humanize (underscore model.otherParams.resource-type-id)}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.created model.otherParams.created)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Year created</h4>
        <ul>
          {{#if model.meta.created}}
            {{#each model.meta.created as |year|}}
              <li>
                {{#if model.otherParams.created}}
                  {{#link-to link (query-params created='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params created=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params created='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.created}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (can "source doi" model) (or model.meta.registered model.otherParams.registered))}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Year registered</h4>
        <ul>
          {{#if model.meta.registered}}
            {{#each model.meta.registered as |year|}}
              <li>
                {{#if model.otherParams.registered}}
                  {{#link-to link (query-params registered='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params registered=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params registered='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.registered}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (not-eq link "clients.show.dois") (or model.meta.clients model.otherParams.client-id))}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Client</h4>
        <ul>
          {{#if model.meta.clients}}
            {{#each model.meta.clients as |client|}}
              <li>
                {{#if model.otherParams.client-id}}
                  {{#link-to link (query-params client-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params client-id=client.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{client.title}}</div>
                <span class="number pull-right">{{format-number client.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params client-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.client-id}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.prefixes model.otherParams.prefix)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Prefix</h4>
        <ul>
          {{#if model.meta.prefixes}}
            {{#each model.meta.prefixes as |prefix|}}
              <li>
                {{#if model.otherParams.prefix}}
                  {{#link-to link (query-params prefix='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params prefix=prefix.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{prefix.title}}</div>
                <span class="number pull-right">{{format-number prefix.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params prefix='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.prefix}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or model.meta.schema-versions model.otherParams.schema-version)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Schema Version</h4>
        <ul>
          {{#if model.meta.schema-versions}}
            {{#each model.meta.schema-versions as |schema-version|}}
              <li>
                {{#if model.otherParams.schema-version}}
                  {{#link-to link (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params schema-version=schema-version.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{schema-version.title}}</div>
                <span class="number pull-right">{{format-number schema-version.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.schema-version}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (and (can "source doi" model) (or model.meta.sources model.otherParams.source))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Source</h4>
        <ul>
          {{#if model.meta.sources}}
            {{#each model.meta.sources as |source|}}
              <li>
                {{#if model.otherParams.source}}
                  {{#link-to link (query-params source=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params source=source.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{lowercase source.title}}</div>
                <span class="number pull-right">{{format-number source.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params source='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.source}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
   {{#if (and (can "viewHealth doi" model) (or model.meta.linkChecksStatus model.otherParams.link-checks-status))}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Link Check Status</h4>
        <ul>
          {{#if model.meta.linkChecksStatus}}
            {{#each model.meta.linkChecksStatus as |linkCheckStatus|}}
              <li>
                {{#if model.otherParams.link-check-status}}
                  {{#link-to link (query-params link-check-status=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params link-check-status=linkCheckStatus.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{linkCheckStatus.id}}</div>
                <span class="number pull-right">{{format-number linkCheckStatus.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          {{else}}
            <li>
              {{#link-to link (query-params link-check-status='')}}{{fa-icon "check-square-o"}}{{/link-to}}
              <div class="facet-title">{{model.otherParams.link-check-status}}</div>
              <span class="number pull-right">0</span>
              <div class="clearfix"/>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>

<div class='col-md-9 panel-list' id="content">
  {{model-search model=model link=link sortable=true}}

  {{#if model}}
    {{#each model as |doi|}}
      <div class="panel panel-transparent">
        {{doi-summary model=doi isList=true}}

        <div class="panel-footer">
          {{#if doi.isDraft}}
            {{fa-icon "info-circle"}} {{doi.doi}}
          {{else}}
            <a href="{{doi.identifier}}">{{fa-icon "external-link"}} {{doi.identifier}}</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.meta.total_pages 1)}}
        {{page-numbers content=model numPagesToShow=5 showFL=true}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No DOIs found.
    {{/bs-alert}}
  {{/if}}
</div>
