{{#if this.edit}}
  <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "submit" this.model}} as |form|>
    <form.element @controlType="text" @label="Name" @property="name" @required={{false}} />
    <form.element @controlType="text" @label="Contact" @property="contact" @required={{false}} />
    <form.element @controlType="email" @label="Email" @property="email" @required={{false}} />

    <div class="pseudo-footer">
      <div class="btn-toolbar pull-right">
        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
        <button type="submit" class="btn btn-sm btn-fill">Save</button>
      </div>
      <div class="clearfix"/>
    </div>
  </BsForm>
{{else}}
  {{#if this.model.contactEmail}}
    <h5>Contact Email</h5>
    <a href="{{this.model.contactEmail}}">{{this.model.contactEmail}}</a>
  {{/if}}

  <div class="pseudo-footer">
    {{this.model.uid}}
    <span><i class="fas fa-question-circle"></i>
      <BsTooltip @placement="top" @viewportPadding={{10}}>Each provider has a unique ID.</BsTooltip>
    </span>
    <button {{action "edit" this.model}} class="btn-link"><i class="fas fa-pencil-alt"></i></button>
  </div>
{{/if}}
