<div class="content" id="info-tab">
  {{#if (can "read messages" this.model)}}
    <div class="row">
      <div class="col-md-9 col-lg-offset-3">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
  <UserRole />
  <div class="row row-chart">
    <BarChart @data={{this.json.providers}} @label="Member" @link="providers" @offset={{true}} />
    <BarChart @data={{this.json.clients}} @label="Repository" @link="repositories" />
    <BarChart @data={{this.json.dois}} @label="DOI" @link="dois" @cumulative={{false}} />
  </div>
</div>
