{{#if edit}}
  <BsForm @formLayout="vertical" @model={{model}} @onSubmit={{action "submit" model}} as |form|>
    <form.element @controlType="text" @label="Name" @property="name" />
    <form.element @controlType="text" @label="Contact" @property="contact" />
    <form.element @controlType="email" @label="Email" @property="email" />

    <div class="pseudo-footer">
      <div class="btn-toolbar pull-right">
        <button class="btn btn-sm" type="button" {{action "cancel"}}>Cancel</button>
        <button type="submit" class="btn btn-sm btn-fill">Save</button>
      </div>
      <div class="clearfix"/>
    </div>
  </BsForm>
{{else}}
  {{#if model.contactEmail}}
    <h5>Contact Email</h5>
    <a href="{{model.contactEmail}}">{{model.contactEmail}}</a>
  {{/if}}

  <div class="pseudo-footer">
    {{model.uid}}
    <span><i class="fas fa-question-circle"></i>
      <BsTooltip @placement="top" @viewportPadding={{10}}>Each provider has a unique ID.</BsTooltip>
    </span>
    <button class="btn-link" type="button" {{action "edit" model}}><i class="fas fa-pencil-alt"></i></button>
  </div>
{{/if}}
