<div class="wrapper">
  <div class="landing-header" style="background-image: url('https://assets.datacite.org/images/fabrica/header.png');">
    <div class="container-fluid">
      <div class="motto">
        <h1>{{site-title}}</h1>
        <p>Register and manage DOIs and metadata.</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}

          <p>DataCite Fabrica is the one place for you to create and find, connect and track every single DOI from your organization.
            Fabrica complements the <a href="https://api.datacite.org">JSON REST</a>, <a href="https://mds.datacite.org">MDS</a> 
            and <a href="https://ez.datacite.org">EZ</a> APIs. Fabrica includes all the functionalities needed to manage 
            repositories, prefixes, DOIs and their metadata. Going forward, the service will provide stats and reports. 
            Please sign in to use the service.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-2 col-sm-offset-2 info">
          <div class="icon icon-landing">
            {{fa-icon "sitemap"}}
          </div>
          <h3>Repositories</h3>
          <div class="description-centered">
            <p>Use Fabrica to manage your repositories.</p>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1 info">
          <div class="icon icon-landing">
            {{fa-icon "tags"}}
          </div>
          <h3>Prefixes</h3>
          <div class="description-centered">
            <p>Use Fabrica to manage your prefixes.</p>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1 info">
          <div class="icon icon-landing">
            {{fa-icon "file-text"}}
          </div>
          <h3>DOIs</h3>
          <div class="description-centered">
            <p>Register and manage DOIs and their metadata through Fabrica.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
