{{#if currentUser.isAuthenticated}}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link">
    {{currentUser.name}}
    <span class="caret"/>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class='dropdown-header'>Role: {{currentUser.role.name}}</li>
    <li><a href="{{jwt-host}}/users/me">{{fa-icon "user"}} Personal Settings</a></li>
    <li><a href="{{search-url}}/people/{{currentUser.uid}}">{{fa-icon "files-o"}} Works</a></li>
    <li class="divider"/>
    <li><a href="{{orcid-url}}/{{currentUser.uid}}">{{fa-icon "external-link"}} ORCID Record</a></li>
    <li class="divider"/>
    <li><a href="{{jwt-host}}/sign_out">{{fa-icon "sign-out"}} Sign out</a></li>
  </ul>
{{else}}
  <a href="{{jwt-host}}/sign_in" class="btn btn-sm btn-neutral" id="sign-in">
    {{fa-icon "sign-in"}}
    {{t "user.signin"}}
  </a>
{{/if}}
