{{#if session.isAuthenticated}}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link">
    {{uppercase currentUser.uid}}
    <span class="caret"/>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class='dropdown-header'>Role: {{currentUser.roleName}}</li>
    <li>{{#dynamic-link params=currentUser.settings}}{{fa-icon "cog"}} Settings{{/dynamic-link}}</li>
    <li class="divider"/>
    <li><a {{action 'invalidateSession'}}>{{fa-icon "sign-out"}} Sign out</a></li>
  </ul>
{{else}}
  <li>{{#link-to "sign-in" class="btn btn-sm btn-neutral"}}{{fa-icon "sign-in"}} {{t "user.signin"}}{{/link-to}}</li>
{{/if}}
