{{#if currentUser.isAuthenticated}}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link">
    {{currentUser.name}}
    <span class="caret"/>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class='dropdown-header'>Role: {{currentUser.roleName}}</li>
    <li>{{#link-to "users.show" currentUser.uid target="_self"}}{{fa-icon "cog"}} Personal Settings{{/link-to}}</li>
    <li class="divider"/>
    <li><a target="_blank" href="{{orcid-url}}/{{currentUser.uid}}">{{fa-icon "external-link"}} ORCID Record</a></li>
    {{#if currentUser.fromCookie}}
      <li class="divider"/>
      <li>{{#dynamic-link params=signout}}{{fa-icon "sign-out"}} Sign out{{/dynamic-link}}</li>
    {{/if}}
  </ul>
{{else}}
  <li>{{#dynamic-link params=signin}}{{fa-icon "sign-in"}} {{t "user.signin"}}{{/dynamic-link}}</li>
{{/if}}
