<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="services">Services <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
  {{#if navmenuTitle}}
    <li class='dropdown-header'>{{navmenuTitle}}</li>
  {{/if}}
  {{#each links as |link| }}
    {{#if (eq link.name "divider")}}
      <li class="divider"></li>
    {{else}}
      <li><a target="_blank" href="{{link.url}}">
        {{#if link.icon}}
          {{fa-icon link.icon fixedWidth=true}}
        {{/if}}
        {{link.name}}</a>
      </li>
    {{/if}}
  {{/each}}
</ul>
