<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{label}} <span class="small pull-right">total</span>
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <div class="user-metrics-counter-box" id="metrics-counter-doi">
      <p class="user-metrics-counter">
        {{#if (gt this.count 0)}}
          <LinkTo @route={{this.link}} @query={{this.query}} @model={{this.model.id}}>{{format-numbers this.count}}</LinkTo>
        {{else}}
          {{format-numbers this.count}}
        {{/if}}
      </p>
    </div>
  </div>
</div>
