<form {{action "doSearch" query on="submit"}} class="form-horizontal">
  <div id="search" class="input-group">
    {{input name="query" value=query class="form-control" placeholder='Type to search...' enter=(action 'doSearch')}}
    {{#if hasInput}}
      <span id="search-clear" title="Clear" aria-label="Clear" {{action 'clear'}}>{{fa-icon "times-circle"}}</span>
    {{/if}}
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary hidden-xs">Search</button>
    </div>
  </div>
  {{#if helpText}}
    <span class="help-block">{{helpText}}</span>
  {{/if}}
</form>
{{#if (gt model.meta.total 1)}}
  {{#if sortable}}
    <div id="sort" class="input-group pull-right">
      <select onchange={{action 'sort' value="target.value"}}>
        {{#each-in formats as |key value|}}
          <option name="sort" value={{key}} selected={{eq sort key}}>{{value}}</option>
        {{/each-in}}
      </select>
    </div>
  {{/if}}

  <h3 class="member-results">{{pluralize-word (format-number model.meta.total) modelName}}</h3>
{{/if}}
