<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{pluralize count label omitCount=true}}
      <span class="small pull-right">by month</span>
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <h2 class="member graphs">
      {{#if model}}
        {{#link-to link model.id}}{{format-number count}}{{/link-to}}
      {{else if link}}
        {{#link-to link}}{{format-number count}}{{/link-to}}
      {{else}}
        {{format-number count}}
      {{/if}}
      {{#if (not cumulative)}}<span class="small">in 2018</span>{{/if}}
    </h2>
    <div class="graphs" id={{chartId}}></div>
  </div>
</div>