<label class="control-label">Creator</label>
<span class="help-block">The main researchers involved in producing the data, or the authors of the publication, in priority order.</span>
{{#each model.creator as |item index|}}
  <div class="compound-form input-group">
    {{input type="text" keyPress="update" class="form-control" name="item" placeholder="Creator" value=(if item item.name)}}
    <span class="input-group-btn">
      <button {{action "delete" item}} class="btn btn-warning btn-fill">{{fa-icon "trash"}}</button>
    </span>
  </div>
{{/each}}

<button {{action "add"}} disabled={{isDisabled}} class="btn btn-sm btn-file btn-add">{{fa-icon "plus"}} Add Creator</button>
