<div class="pagination-centered">
  <ul class="pagination">
    {{#if previousPage}}
      <li class="arrow prev enabled-arrow">
        {{#link-to 
          link 
          (query-params
          page=previousPage
          size=25
          created=model.query.created
          registered=model.query.registered  
          state=model.query.state 
          resource-type-id=model.query.resource-type-id 
          schema-version=model.query.schema-version
          prefix=model.query.prefix 
          client-id=model.query.client-id 
          source=model.query.source 
          year=model.query.year 
          region=model.query.region 
          organization-type=model.query.organization-type
          focus-area=model.query.focus-area
          link-check-status=model.query.link-check-status
          software=model.query.software)
        }}&laquo;
        {{/link-to}}
      </li>
    {{else}}
      <li class="arrow prev disabled">
        <a>&laquo;</a>
      </li>
    {{/if}}

    {{#each pageItems as |item|}}
      {{#if item.dots}}
        <li class="dots disabled">
          <span>...</span>
        </li>
      {{else if item.current}}
        <li class="active page-number">
          <a>{{item.page}}</a>
        </li>
      {{else}}
        <li class="page-number">
          {{#link-to 
            link 
            (query-params
            page=item.page
            size=25
            created=model.query.created
            registered=model.query.registered  
            state=model.query.state 
            resource-type-id=model.query.resource-type-id 
            schema-version=model.query.schema-version
            prefix=model.query.prefix 
            client-id=model.query.client-id 
            source=model.query.source 
            year=model.query.year 
            region=model.query.region 
            organization-type=model.query.organization-type
            focus-area=model.query.focus-area
            link-check-status=model.query.link-check-status
            software=model.query.software)
          }}{{item.page}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/each}}

    {{#if nextPage}}
      <li class="arrow next enabled-arrow">
        {{#link-to 
          link 
          (query-params
          page=nextPage
          size=25
          created=model.query.created
          registered=model.query.registered  
          state=model.query.state 
          resource-type-id=model.query.resource-type-id 
          schema-version=model.query.schema-version
          prefix=model.query.prefix 
          client-id=model.query.client-id 
          source=model.query.source 
          year=model.query.year 
          region=model.query.region 
          organization-type=model.query.organization-type
          focus-area=model.query.focus-area
          link-check-status=model.query.link-check-status
          software=model.query.software)
        }}&raquo;
        {{/link-to}}
      </li>
    {{else}}
      <li class="arrow next disabled">
        <a>&raquo;</a>
      </li>
    {{/if}}
  </ul>
</div>