{{#if new}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h3 class="edit">New Prefix</h3>

        {{#bs-form formLayout="vertical" model=this onSubmit=(action "submit") as |form|}}
          {{#form.element controlType="power-select" property="prefixes" label="Prefix" optionLabelPath="id" options=prefixes destination=selectedPrefix allowClear=true as |el|}}
            {{#el.control onChange=(action "selectPrefix") search=(action "searchPrefix") searchField="id" as |item|}}
              {{selectedPrefix.id}}
            {{/el.control}}
          {{/form.element}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" class="btn btn-sm btn-fill">Add</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
{{else if attach}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h3 class="edit">New Prefix</h3>

        {{#bs-form formLayout="vertical" model=this onSubmit=(action "submit" model) as |form|}}
          {{#form.element controlType="power-select" property="prefixes" label="Prefix" optionLabelPath="id" options=prefixes destination=selectedPrefix allowClear=true as |el|}}
            {{#el.control onChange=(action "selectPrefix") search=(action "searchPrefix") searchField="id" as |item|}}
              {{item.id}}
            {{/el.control}}
          {{/form.element}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" class="btn btn-sm btn-fill">Add</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
{{else if delete}}
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="alert alert-danger" role="alert">
          Are you sure you want to delete prefix {{prefix.id}} for this provider?
        </div>

        <div class="pseudo-footer">
          <div class="btn-toolbar pull-right">
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
            <button {{action "destroy"}} class="btn btn-sm btn-fill">Delete</button>
          </div>
          <div class="clearfix"/>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class='col-md-9 panel-list' id="content">
    {{#if searchable}}
      {{model-search model=model}}
    {{/if}}
    {{#if model}}
      {{#each model as |prefix|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "prefixes.show" prefix.id}}{{prefix.id}}{{/link-to}}
            </h3>

            {{#if (eq prefix.id "10.5072")}}
              <span class="icon-default">Test prefix</span>
            {{else}}
              <h5>Providers</h5>
              {{#if prefix.providers}}
                {{#each prefix.providers as |provider|}}
                  {{#link-to "providers.show.prefixes" provider.id}}{{provider.name}}{{/link-to}}<br/>
                {{/each}}
              {{else}}
                <span class="icon-warning">No providers found.</span>
              {{/if}}

              <h5>Clients</h5>
              {{#if prefix.clients}}
                {{#each prefix.clients as |client|}}
                  {{#link-to "clients.show.prefixes" client.id}}{{client.name}}{{/link-to}}<br/>
                {{/each}}
              {{else}}
                <span class="icon-warning">No clients found.</span>
              {{/if}}
            {{/if}}
          </div>
          <div class="panel-footer">
            {{prefix.id}}
            <button {{action "delete" prefix}} class="btn-link btn-icon">{{fa-icon "trash"}}</button>
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=model showFL=true}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No prefixes found.
      {{/bs-alert}}
    {{/if}}
  </div>

  <div class='col-md-3'>
    {{#if (can "write prefix")}}
      <div class="panel facets">
        <div class="panel-body">
          {{#if (eq link "prefixes")}}
            <button {{action "new"}} class="btn btn-warning">{{fa-icon "plus"}}Add Prefixes</button>
          {{else}}
            <button {{action "attach" model}} class="btn btn-warning">{{fa-icon "plus"}}Add Prefix</button>
          {{/if}}
        </div>
      </div>
    {{/if}}

    {{#if model.meta.years}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year created</h4>
          <ul>
            {{#each model.meta.years as |year|}}
              <li>
                {{#if model.otherParams.year}}
                  {{#link-to link (query-params year=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (eq link "prefixes")}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Providers <span class="small">{{fa-icon "question-circle-o"}}{{#bs-tooltip placement="top"}}Filter prefixes by DOI Registration Provider they work with.{{/bs-tooltip}}</span></h4>
          <ul>
            {{#each model.meta.providers as |provider|}}
              <li>
                {{#if model.otherParams.provider-id}}
                  {{#link-to link (query-params provider-id=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to link (query-params provider-id=provider.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{provider.title}}</div>
                <span class="number pull-right">{{provider.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
