{{#if delete}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"></div>
      <div class="alert alert-danger" role="alert">
        Are you sure you want to remove prefix {{model.id}} from this provider?
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-toolbar pull-right">
        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
        <button {{action "destroy"}} class="btn btn-sm btn-fill">Remove</button>
      </div>
      <div class="clearfix"/>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-3">
      {{#if (can "update prefix" model)}}
        <div class="panel facets add">
          <div class="panel-body">
            <button {{action "edit" model}} class="btn btn-warning">{{fa-icon "pencil"}} Remove Prefix</button>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="col-md-9">
      <h2 class="work">{{model.id}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      {{client-sidebar model=model}}
    </div>
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if (eq prefix.id "10.5072")}}
            <span class="icon-default">Demo prefix</span>
          {{else}}
            <h5>{{pluralize model.providers.length "Provider" without-count=true}}</h5>
            {{#if model.providers}}
              {{#each model.providers as |provider|}}
                {{#link-to "providers.show.prefixes" provider.id}}{{provider.name}}{{/link-to}}<br>
              {{/each}}
            {{else}}
              <span class="icon-warning">No providers found.</span>
            {{/if}}

            <h5>{{pluralize prefix.clients.length "Client" without-count=true}}</h5>
            {{#if model.clients}}
              {{#each model.clients as |client|}}
                {{#link-to "clients.show.prefixes" client.id}}{{client.name}}{{/link-to}}<br>
              {{/each}}
            {{else}}
              <span class="icon-warning">No clients found.</span>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
