<div class="input-group">
  {{form.element 
    controlType="text"
    id="member-id"
    label="Member ID"
    property="symbol"
    helpText="The Member ID is the unique identifier for each member and can't be changed. The Member ID can contain only upper case letters, and must not be longer than 8 characters."
    required=false
  }}

  <span class="input-group-addon refresh-input" title="Refresh" aria-label="Refresh" {{action 'refresh'}}>{{fa-icon "refresh"}}</span>
  <span class="input-group-addon clear-input" title="Clear" aria-label="Clear" {{action 'clear'}}>{{fa-icon "times-circle"}}</span>  
</div>
