{{#if edit}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"><h3 class="edit">Update {{if (eq currentUser.uid model.id) 'Account' 'Provider'}}</h3></div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "submit" model) as |form|}}
        <div class="col-md-12">
          <h4>Organization Information</h4>
          <br>
        </div>

        {{form.element controlType="text" id="provider-id" label="Provider ID" property="symbol" helpText='The Provider ID is the unique identifier for each provider and can\'t be changed.' disabled=true}}

        {{#form.element controlType="power-select" label="Organization lookup (optional)" disabled=disabled value=organization helpText='Organization names are provided by the Research Organization Registry (ROR).'  options=organizationsNames as |el|}}
          {{el.control onChange=(action "selectOrganization")   search=(action "searchOrganization") placeholder="Select Organization" searchPlaceholder="Type to search..." allowClear=true}}
        {{/form.element}}

        {{form.element controlType="text" id="provider-name" label="Provider Name" property="name" required=false}}

        {{form.element controlType="text" id="website" label="Website" property="website" helpText='Website of the provider.' required=false}}
        {{form.element controlType="text" id="twitter-handle"  label="Twitter (optional)"  property="twitterHandle"  placeholder="Add @twitter account" helpText='DataCite will follow you on Twitter.' required=false}}


        {{#form.element controlType="power-select" label="Country (optional)" property="country" optionLabelPath="name" options=countries destination=country helpText='Country where the provider is located.' as |el|}}
          {{#el.control onChange=(action "selectCountry") search=(action "searchCountry") searchField="name" placeholder="Select Country" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}

        {{#if (can "create provider")}}
          {{#form.element controlType="power-select" label="Organization Type (optional)" property="organizationType" options=organizationTypes destination=organizationType as |el|}}
            {{#el.control onChange=(action "selectOrganizationType") search=(action "searchOrganizationType") placeholder="Select Organization Type" searchPlaceholder="Type to search..." allowClear=true as |item|}}
              {{titleize (humanize (underscore item))}}
            {{/el.control}}
          {{/form.element}}

          {{#form.element controlType="power-select" label="Focus Area (optional)" property="focusArea" options=focusAreas destination=focusArea helpText='Field of science covered by provider.' as |el|}}
            {{#el.control onChange=(action "selectFocusArea") search=(action "searchFocusArea") placeholder="Select Focus Area" searchPlaceholder="Type to search..." allowClear=true as |item|}}
              {{titleize (humanize (underscore item))}}
            {{/el.control}}
          {{/form.element}}
        {{/if}}

        {{form.element controlType="textarea" label="Description (optional)" property="description" rows=10 helpText='Description of the provider. Please use markdown for formatting.' required=false}}


        <div class="col-md-12">
          <h4>Service Contact Information</h4>
          <br>
        </div>

          {{!-- {{form.element controlType="text" id="contact-name" label="Contact Name" property="contactName" helpText='Please enter the name of a person that can be contacted for technical or administrative issues.' required=false}} --}}
          {{form.element controlType="text" id="contact-phone" label="Contact Phone (optional)" property="phone" helpText='Please enter a phone number that can be contacted for technical or administrative issues.' required=false}}
          {{form.element controlType="email" id="contact-email" label="General Contact - Email" property="contactEmail" helpText='A general (versus personal) contact e-mail for your service e.g. pids@example.org. This is used for account communication e.g. password resets.' required=false}}

          {{form.element controlType="text" id="service-contact-email" model=model.serviceContact label="Service Contact - Email (optional)" property="email" helpText="Your organization's primary personal point of contact for DataCite services." required=false}}
          {{form.element controlType="text" id="service-contact-givenName" model=model.serviceContact label="Service Contact - Given Name (optional)" property="givenName" helpText="Given name for this contact" required=false}}
          {{form.element controlType="text" id="service-contact-familyName" model=model.serviceContact label="Service Contact - Family Name (optional)" property="familyName" helpText="Family name for this contact" required=false}}

          {{form.element controlType="text" id="technical-contact-email" model=model.technicalContact label="Technical Contact - Email (optional)" property="email" helpText="Your organization's technical point of contact for DataCite services." required=false}}
          {{form.element controlType="text" id="technical-contact-givenName" model=model.technicalContact label="Technical Contact - Given Name (optional)" property="givenName" helpText="Given name for this contact" required=false}}
          {{form.element controlType="text" id="technical-contact-familyName" model=model.technicalContact label="Technical Contact - Family Name (optional)" property="familyName" helpText="Family name for this contact" required=false}}

          {{form.element controlType="text" id="voting-contact-email" model=model.votingContact label="Voting Contact - Email (optional)" property="email" helpText="Contact email - Per DataCite's statutes, each member organization has one designated representative that annually approves our budget, fee structure, and votes for the Executive Board" required=false}}
          {{form.element controlType="text" id="voting-contact-givenName" model=model.votingContact label="Voting Contact - Given Name (optional)" property="givenName" helpText="Given name for this contact" required=false}}
          {{form.element controlType="text" id="voting-contact-familyName" model=model.votingContact label="Voting Contact - Family Name (optional)" property="familyName" helpText="Family name for this contact" required=false}}



        <div class="col-md-12">
          <h4>Billing Contact Information</h4>
          <div class="help-block ember-view">Your organization’s information for DataCite billing purposes</div>
          <br>
        </div>
        {{form.element controlType="text" id="billing-information-organization" label="Billing Organization" property="billingInformation.organization"  helpText="Your organization's name for billing purposes"  required=false}}
        {{form.element controlType="text" id="billing-information-department" label="Billing Department" property="billingInformation.department"  helpText="Your organization's specific department that is responsible for payment" required=false}}

        {{form.element controlType="text" id="billing-contact-givenName" model=model.billingContact label="Billing Contact - Given Name (optional)" property="givenName" helpText="Given name for this billing contact" required=false}}
        {{form.element controlType="text" id="billing-contact-familyName" model=model.billingContact label="Billing Contact - Family Name (optional)" property="familyName" helpText="Family name for this billing contact" required=false}}
        {{form.element controlType="text" id="billing-contact-email" model=model.billingContact label="Billing Contact - Email (optional)" property="email" helpText="Billing contact email for your organisation." required=false}}

        {{form.element controlType="text" id="secondary-billing-contact-givenName" model=model.secondaryBillingContact label="Secondary Billing Contact - Given Name (optional)" property="givenName" helpText="Given name for this billing contact" required=false}}
        {{form.element controlType="text" id="secondary-billing-contact-familyName" model=model.secondaryBillingContact label="Secondary Billing Contact - Family Name (optional)" property="familyName" helpText="Family name for this billing contact" required=false}}
        {{form.element controlType="text" id="secondary-billing-contact-email" model=model.secondaryBillingContact label="Secondary Billing Contact - Email (optional)" property="email" helpText="Secondary Billing contact email for your organisation." required=false}}

        {{form.element controlType="textarea" rows=3 id="billing-information-street" label="Billing Street" property="billingInformation.address"  helpText="Your organization's street and number for billing purposes" required=false}}

        {{form.element controlType="text" id="billing-information-city" label="Billing City" property="billingInformation.city" helpText="Your organization's city for billing purposes" required=false}}
        {{form.element controlType="text" id="billing-information-state" label="Billing State/Province" property="billingInformation.state"  helpText="Your organization's State/Province for billing purposes" required=false}}
        {{form.element controlType="text" id="billing-information-post-code" label=" Billing Zip/PostCode" property="billingInformation.postCode"  helpText="Your organization's Zip/PostCode for billing purposes"  required=false}}

        {{#form.element controlType="power-select" label="Billing Country" property="billingInformation.country" optionLabelPath="name" options=countries helpText='Country name for billing purposes.' destination=billingInformation.country as |el|}}
          {{#el.control onChange=(action "selectBillingCountry") search=(action "searchCountry") searchField="name" placeholder="Select Country" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}

        {{#if (can "create provider")}}
          {{form.element controlType="checkbox" label="Account is active" property="isActive" required=false helpText='This account can manage clients and prefixes'}}
        {{/if}}

        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-sm btn-fill">Update {{if (eq currentUser.uid model.id) 'Account' 'Provider'}}</button>
          <button {{action "cancel" model}} class="btn btn-sm" id="cancel">Cancel</button>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else if change}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"><h3 class="edit">Set Password</h3></div>

      <div class="col-md-9 col-md-offset-3"><span class="help-block">Click <a class="action-link" {{action "generate"}}>here</a> for a password suggestion.</span></div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "setPassword" model) submitOnEnter=true as |form|}}
        {{form.element controlType="text" id="passwordInput" property="passwordInput" label="New Password" required=false}}
        {{form.element controlType="text" property="confirmPasswordInput" label="Confirm Password" required=false}}

        <div class="col-md-9 col-md-offset-3">
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-sm btn-fill">Set Password</button>
            <button {{action "cancel" model}} class="btn btn-sm" id="cancel">Cancel</button>
          </div>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else if delete}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3">
        {{#if (gt model.clientCount 0)}}
          <div class="alert alert-danger" role="alert">
            You need to delete all clients before you can delete this provider.
          </div>
          <div class="pseudo-footer">
            <div class="btn-toolbar btn-sm pull-right">
              <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
              {{#link-to "providers.show.clients" model.id class="btn btn-sm"}}All Clients{{/link-to}}
            </div>
            <div class="clearfix"/>
          </div>
        {{else}}
          {{#bs-form formLayout="vertical" model=this onSubmit=(action "destroy" model) submitOnEnter=true as |form|}}
            {{form.element controlType="text" label='Are you sure you want to delete this provider? This action cannot be undone.' property='confirmId' helpText='Please add the Provider ID to delete.' class='has-error'}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
                <button {{action "destroy" model}} class="btn btn-sm btn-fill">Delete</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class='col-md-3'>
      {{#if (can "update provider" model)}}
        <div class="panel facets">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "change" model}} class="btn btn-warning" id="set-password-provider">{{fa-icon "key"}} Set Password</button>
                <button {{action "edit" model}} class="btn btn-warning" id="edit-provider">{{fa-icon "pencil"}} Update {{if (eq currentUser.uid model.id) 'Account' 'Provider'}}</button>
                {{#if (and (not admin) (can "delete provider" model))}}
                  <button {{action "delete" model}} class="btn btn-warning" id="delete-provider">{{fa-icon "trash"}} Delete Provider</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{client-sidebar model=model}}
    </div>
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">

          <h4>Organization Information</h4>
          {{#if (not admin)}}
            <h5>Provider ID</h5>
            {{model.symbol}}
          {{/if}}

          {{#if model.rorId}}
            <h5>ROR ID</h5>
            <a href="https://{{model.rorId}}">https://{{model.rorId}}</a>
          {{/if}}

          {{#if model.website}}
            <h5>Website</h5>
            <a href="{{model.website}}">{{model.website}}</a>
          {{/if}}

          {{#if model.contactName}}
            <h5>Contact Name</h5>
            {{model.contactName}}
          {{/if}}

          <calendar-lite></calendar-lite>
          {{#if model.phone}}
            <h5>Contact Phone</h5>
            {{model.phone}}
          {{/if}}


          {{#if twitterUrl}}
            <h5>Twitter</h5>
            <a href="{{twitterUrl}}">{{twitterUrl}}</a>
          {{/if}}

          {{#if model.country}}
            <h5>Country</h5>
            {{model.country.name}}
          {{/if}}


          {{#if model.description}}
            <h5>Description</h5>
            {{markdown-to-html model.description}}
          {{/if}}

          {{#if (can "create provider")}}
            {{#if model.organizationType}}
              <h5>Organization Type</h5>
              {{titleize (humanize (underscore model.organizationType))}}
            {{/if}}

            {{#if model.focusArea}}
              <h5>Focus Area</h5>
              {{titleize (humanize (underscore model.focusArea))}}
            {{/if}}
          {{/if}}

          <br>
          <h4>Service Contact Information</h4>

          {{#if model.contactEmail}}
            <h5>General Contact Email</h5>
            <a href="mailto:{{model.contactEmail}}">{{model.contactEmail}}</a>
          {{/if}}

          {{#if model.technicalContact.email}}
            <h5>Technical</h5>
            {{model.technicalContact.givenName}} {{model.technicalContact.familyName}}
            <br>
            <a href="mailto:{{model.technicalContact.email}}">{{model.technicalContact.email}}</a>
          {{/if}}

          {{#if model.serviceContact.email}}
            <h5>Service</h5>
            {{model.serviceContact.givenName}} {{model.serviceContact.familyName}}
            <br>
            <a href="mailto:{{model.serviceContact.email}}">{{model.serviceContact.email}}</a>
          {{/if}}

          {{#if model.votingContact.email}}
            <h5>Voting</h5>
            {{model.votingContact.givenName}} {{model.votingContact.familyName}}
            <br>
            <a href="mailto:{{model.votingContact.email}}">{{model.votingContact.email}}</a>
          {{/if}}

          {{#if model.joined}}
            <h5>Date joined</h5>
            {{format-time model.joined year='numeric' month='long' day='numeric'}}
          {{/if}}

          {{#if (not model.hasPassword)}}
            <h5>Password</h5>
            <span class="small icon-warning">has not been set</span>
          {{/if}}

          {{#if (not isBillingEmpty)}}
            <br>
            <h4>Billing Information</h4>

            {{#if model.billingInformation.organization}}
              <h5>Billing Organization</h5>
              {{model.billingInformation.organization}}
            {{/if}}
            {{#if model.billingInformation.department}}
              <h5>Billing I caDepartment</h5>
              {{model.billingInformation.department}}
            {{/if}}


            {{#if model.billingInformation.address}}
              <h5>Billing Address</h5>
              {{model.billingInformation.address}}
            {{/if}}
            {{#if model.billingInformation.city}}
              <h5>Billing City</h5>
              {{model.billingInformation.city}}
            {{/if}}
            {{#if model.billingInformation.state}}
              <h5>Billing State/Province</h5>
              {{model.billingInformation.state}}
            {{/if}}
            {{#if model.billingInformation.postCode}}
              <h5>Billing Zip/PostCode</h5>
              {{model.billingInformation.postCode}}
            {{/if}}
            {{#if model.billingInformation.country}}
              <h5>Billing Country</h5>
              {{model.billingInformation.country.name}}
            {{/if}}

            {{#if model.billingContact.email}}
              <h5>Billing Contact</h5>
              {{model.billingContact.givenName}} {{model.billingContact.familyName}}
              <br>
              <a href="mailto:{{model.billingContact.email}}">{{model.billingContact.email}}</a>
            {{/if}}

            {{#if model.secondaryBillingContact.email}}
              <h5>Secondary Billing Contact</h5>
              {{model.secondaryBillingContact.givenName}} {{model.secondaryBillingContact.familyName}}
              <br>
              <a href="mailto:{{model.secondaryBillingContact.email}}">{{model.secondaryBillingContact.email}}</a>
            {{/if}}

          {{else}}
            <span class="small icon-warning">has not been provided</span>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
{{/if}}
