<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">
      {{model.title}}
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-transparent" id="content-member">
      <div class="panel-body">
        The password reset functionality goes here.
      </div>
      <div class="panel-footer">
        {{model.name}}
        <span>{{fa-icon "question-circle-o"}}
          <BsTooltip @placement="top" @viewportPadding={{10}}>Each provider has a unique ID.</BsTooltip>
        </span>
        {{#if (can "write provider")}}
          <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
              <LinkTo @route="provider.edit" @model={{member.id}}>{{fa-icon "pencil"}}</LinkTo>
            </div>
            {{#if (can "delete provider")}}
              <div class="btn-group btn-group-sm">
                <LinkTo @route="provider.edit" @model={{member.id}}>{{fa-icon "trash"}}</LinkTo>
              </div>
            {{/if}}
          </div>
        {{/if}}
        <div class="clearfix"/>
      </div>
    </div>
  </div>
</div>
