<div class="content">
  <UserRole />
  <div class="row content">
    {{#if (eq model.memberType 'consortium')}}
      <BarChart
        @data={{json.providers}}
        @label="Organization"
        @model={{model}}
        @link="providers.show.organizations"
        @offset={{true}}
      />
    {{/if}}
    {{#if
      (and
        (not-eq model.memberType 'member_only')
        (not-eq model.memberType 'developer')
      )
    }}
      <BarChart
        @data={{json.clients}}
        @label="Repository"
        @model={{model}}
        @link="providers.show.repositories"
        @offset={{if (not-eq model.memberType 'consortium') true}}
      />
      <BarChart
        @data={{json.dois}}
        @label="DOI"
        @model={{model}}
        @link="providers.show.dois"
        @cumulative={{false}}
      />
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{model.displayName}}
          does not provide DOI registration services.
        </div>
      </div>
    {{/if}}
  </div>
  {{#if (can 'read messages' model)}}
    <div class="row">
      <div class="col-md-9 col-lg-offset-3">
        {{#each flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>