<h3 class="member-results">
  Contact Information
</h3>
{{#if (not-eq model.memberType 'consortium_organization')}}
  {{#form.element
    controlType='power-select'
    id='voting-contact'
    label='Voting Representative'
    property='votingContact'
    optionLabelPath='name'
    options=model.votingContacts
    helpText="Your organization's voting representative."
    destination='votingContact' as |el|
  }}
    <el.control
      @onChange={{action 'selectVotingContact'}}
      @search={{action 'searchVotingContact'}}
      @searchPlaceholder="Type to search..."
      @placeholder="Select Contact" as |item|
    >
      {{item.name}}
    </el.control>
  {{/form.element}}
{{/if}}
{{#form.element
  controlType='power-select'
  id='service-contact'
  label='Service Contact'
  property='serviceContact'
  optionLabelPath='name'
  options=model.serviceContacts
  helpText="Your organization's service contact."
  destination=serviceContact as |el|
}}
  <el.control
    @onChange={{action 'selectServiceContact'}}
    @search={{action 'searchServiceContact'}}
    @searchPlaceholder="Type to search..."
    @placeholder="Select Contact" as |item|
  >
    {{item.name}}
  </el.control>
{{/form.element}}
{{#form.element
  controlType='power-select'
  id='secondary-service-contact'
  label='Secondary Service Contact'
  property='secondaryServiceContact'
  optionLabelPath='name'
  options=model.secondaryServiceContacts
  helpText="Your organization's secondary service contact."
  destination=secondaryServiceContact as |el|
}}
  <el.control
    @onChange={{action 'selectSecondaryServiceContact'}}
    @search={{action 'searchSecondaryServiceContact'}}
    @searchPlaceholder="Type to search..."
    @placeholder="Select Contact"
    @allowClear={{true}} as |item|
  >
    {{item.name}}
  </el.control>
{{/form.element}}
{{#form.element
  controlType='power-select'
  id='technical-contact'
  label='Technical Contact'
  property='technicalContact'
  optionLabelPath='name'
  options=model.technicalContacts
  helpText="Your organization's technical contact."
  destination=technicalContact as |el|
}}
  <el.control
    @onChange={{action 'selectTechnicalContact'}}
    @search={{action 'searchTechnicalContact'}}
    @searchPlaceholder="Type to search..."
    @placeholder="Select Contact"
    @allowClear={{true}} as |item|
  >
    {{item.name}}
  </el.control>
{{/form.element}}
{{#form.element
  controlType='power-select'
  id='secondary-technical-contact'
  label='Secondary Technical Contact'
  property='secondaryTechnicalContact'
  optionLabelPath='name'
  options=model.secondaryTechnicalContacts
  helpText="Your organization's secondary technical contact."
  destination=secondaryTechnicalContact as |el|
}}
  <el.control
    @onChange={{action 'selectSecondaryTechnicalContact'}}
    @search={{action 'searchSecondaryTechnicalContact'}}
    @searchPlaceholder="Type to search..."
    @placeholder="Select Contact"
    @allowClear={{true}} as |item|
  >
    {{item.name}}
  </el.control>
{{/form.element}}
{{#if (not-eq model.memberType 'consortium_organization')}}
  {{#form.element
    controlType='power-select'
    id='billing-contact'
    label='Billing Contact'
    property='billingContact'
    optionLabelPath='name'
    options=model.billingContacts
    helpText="Your organization's billing contact."
    destination='billingContact' as |el|
  }}
    <el.control
      @onChange={{action 'selectBillingContact'}}
      @search={{action 'searchBillingContact'}}
      @searchPlaceholder="Type to search..."
      @placeholder="Select Contact" as |item|
    >
      {{item.name}}
    </el.control>
  {{/form.element}}
  {{#form.element
    controlType='power-select'
    id='secondary-billing-contact'
    label='Secondary Billing Contact'
    property='model.secondaryBillingContact'
    optionLabelPath='name'
    options=model.secondaryBillingContacts
    helpText="Your organization's secondary billing contact."
    destination=secondaryBillingContact as |el|
  }}
    <el.control
      @onChange={{action 'selectSecondaryBillingContact'}}
      @search={{action 'searchSecondaryBillingContact'}}
      @searchPlaceholder="Type to search..."
      @placeholder="Select Contact"
      @allowClear={{true}} as |item|
    >
      {{item.name}}
    </el.control>
  {{/form.element}}
{{/if}}