<div class="content">
  <div class="row content">
    {{#if (eq this.model.memberType "consortium")}}
      <BarChart @data={{this.json.providers}} @label="Organization" @model={{this.model}} @link="providers.show.organizations" />
    {{/if}}
    {{#if (not-eq this.model.memberType "member_only")}}
      <BarChart @data={{this.json.clients}} @label="Repository" @model={{this.model}} @link="providers.show.repositories" />
      <BarChart @data={{this.json.dois}} @label="DOI" @model={{this.model}} @link="providers.show.dois" @cumulative={{false}} />
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{this.model.displayName}} does not provide DOI registration services.
        </div>
      </div>
    {{/if}}
  </div>

  {{#if (can "read messages" this.model)}}
    <div class="row">
      <div class="col-md-9">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>