{{#if delete}}
  <div class="panel-body">
    <div class="alert alert-danger" role="alert">
      Are you sure you want to remove prefix {{model.prefix.id}} from this provider?
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-toolbar pull-right">
      <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      <button {{action "destroy"}} class="btn btn-sm btn-fill">Delete</button>
    </div>
    <div class="clearfix"/>
  </div>
{{else}}
  <div class="panel-body">
    <h3 class="member">{{model.prefix.id}}</h3>

    {{#if (eq model.prefix.id "10.5072")}}
      <span class="icon-default">Test prefix</span>
    {{else}}
      <h5>{{pluralize-word model.clients.length "Client" omitCount=true}}</h5>
      {{#if model.clients}}
        {{#each model.clients as |client|}}
          {{#link-to "clients.show.prefixes" client.id}}{{client.name}}{{/link-to}}<br/>
        {{/each}}
      {{else}}
        <span class="icon-warning">No clients found.</span>
      {{/if}}
    {{/if}}

    <h5>Added</h5>
    {{format-time model.created year='numeric' month='long' day='numeric'}}
  </div>
  <div class="panel-footer">
    {{model.prefix.id}}
    {{#if (and (can "write prefix" model) (not-eq model.prefix.id "10.5072"))}}
      <button {{action "delete" model}} class="btn-link btn-icon">{{fa-icon "chain-broken"}}</button>
    {{/if}}
  </div>
{{/if}}
