{{#if delete}}
  <div class="panel-body">
    <div class="alert alert-danger" role="alert">
      Are you sure you want to remove user {{model.user.name}} from this provider?
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-toolbar pull-right">
      <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      <button {{action "destroy"}} class="btn btn-sm btn-fill">Remove</button>
    </div>
    <div class="clearfix"/>
  </div>
{{else}}
  <div class="panel-body">
    <h3 class="member">{{model.user.name}}</h3>

    {{#if model.user.email}}
      <h5>Email</h5>
      <a href="mailto:{{model.user.email}}">{{model.user.email}}</a>
    {{/if}}

    {{#if model.user.role}}
      <h5>Role</h5>
      {{model.user.role.name}}
    {{/if}}

    <h5>Added</h5>
    {{format-time model.created year='numeric' month='long' day='numeric'}}
  </div>
  <div class="panel-footer">
    <a href="{{model.user.identifier}}">{{fa-icon "external-link"}} {{model.user.identifier}}</a>
    {{#if (can "create user" model)}}
      <button {{action "delete" model}} class="btn-link btn-icon">{{fa-icon "chain-broken"}}</button>
    {{/if}}
  </div>
{{/if}}
