{{#if new}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"><h3 class="edit">Create Provider</h3></div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=provider onSubmit=(action "submit" provider model) submitOnEnter=true as |form|}}
        <div class="col-md-12">
          <h4>Organization Information</h4>
          <br>
        </div>
        
        {{form.element controlType="text" label="Provider ID" property="symbol" helpText='The Provider ID is the unique identifier for each provider and can\'t be changed. The Provider ID can contain only upper case letters, and must not be longer than 8 characters.' useIcons=false required=false}}
        {{form.element controlType="text" label="Provider Name" property="name" required=false helptext="this is the name that you are known by in the scholarly community -- this name will be used in our search index"}}

        {{#form.element controlType="power-select" label="Organization identifier (optional)" disabled=disabled value=organization helpText='Organization identifiers are provided by the Research Organization Registry (ROR).'  options=organizationsNames as |el|}}
          {{el.control onChange=(action "selectOrganization")   search=(action "searchOrganization") placeholder="Select Organization" searchPlaceholder="Type to search..." allowClear=true}}
        {{/form.element}}

        {{form.element controlType="text" label="Website" property="website" helpText='Website of the provider.' required=false}}
        {{form.element controlType="text" id="twitter-handle" label="Twitter (optional)"  property="twitterHandle"  placeholder="Add @twitter account" helpText='DataCite will follow you on twitter.' required=false}}

         {{#form.element controlType="power-select" label="Country (optional)" property="country" optionLabelPath="name" options=countries destination=country helpText='Country where the provider is located.' as |el|}}
          {{#el.control onChange=(action "selectCountry") search=(action "searchCountry") searchField="name" placeholder="Select Country" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}

        {{#if (can "create provider")}}
          {{#form.element controlType="power-select" label="Member Type" property="memberType" options=memberTypes destination=memberType as |el|}}
            {{#el.control onChange=(action "selectMemberType") search=(action "searchMemberType") placeholder="Select Member Type" searchPlaceholder="Type to search..." as |item|}}
              {{titleize (humanize item)}}
            {{/el.control}}
          {{/form.element}}
        {{/if}}

        {{#form.element controlType="power-select" label="Organization Type (optional)" property="organizationType" options=organizationTypes destination=organizationType as |el|}}
          {{#el.control onChange=(action "selectOrganizationType") search=(action "searchOrganizationType") placeholder="Select Organization Type" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{titleize (humanize (underscore item))}}
          {{/el.control}}
        {{/form.element}}

        {{#form.element controlType="power-select" label="Focus Area (optional)" property="focusArea" options=focusAreas destination=focusArea helpText='Field of science covered by provider.' as |el|}}
          {{#el.control onChange=(action "selectFocusArea") search=(action "searchFocusArea") placeholder="Select Focus Area" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{titleize (humanize (underscore item))}}
          {{/el.control}}
        {{/form.element}}
        
        {{form.element controlType="textarea" label="Description (optional)" property="description" rows=10 helpText='Description of the provider. Please use markdown for formatting.' required=false}}

        <div class="col-md-12">
          <br>
          <h4>Service Contact Information</h4>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">General Contact</label>
          <div class="col-md-9">
            <div>
              <label for="name" class="subtitle">Name</label>
              {{input type="text" class="form-control" id="contact-name" value=model.contactName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email</label>
              {{input type="text" class="form-control" id="contact-email" value=model.contactEmail required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Phone</label>
              {{input type="text" class="form-control" id="contact-phone" value=model.phone required=false}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Service Contact</label>
          <div class="col-md-9">
            <div>
              <label for="givenName" class="subtitle">Given Name (optional)</label>
              {{input type="text" class="form-control" id="service-contact-givenName" value=model.serviceContact.givenName required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Family Name (optional)</label>
              {{input type="text" class="form-control" id="service-contact-familyName" value=model.serviceContact.familyName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email (optional)</label>
              {{input type="text" class="form-control" id="service-contact-email" value=model.serviceContact.email required=false}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Technical Contact</label>
          <div class="col-md-9">
            <div>
              <label for="givenName" class="subtitle">Given Name (optional)</label>
              {{input type="text" class="form-control" id="technical-contact-givenName" value=model.technicalContact.givenName required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Family Name (optional)</label>
              {{input type="text" class="form-control" id="technical-contact-familyName" value=model.technicalContact.familyName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email (optional)</label>
              {{input type="text" class="form-control" id="technical-contact-email" value=model.technicalContact.email required=false}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Voting Contact</label>
          <div class="col-md-9">
            <div>
              <label for="givenName" class="subtitle">Given Name (optional)</label>
              {{input type="text" class="form-control" id="voting-contact-givenName" value=model.votingContact.givenName required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Family Name (optional)</label>
              {{input type="text" class="form-control" id="voting-contact-familyName" value=model.votingContact.familyName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email (optional)</label>
              {{input type="text" class="form-control" id="voting-contact-email" value=model.votingContact.email required=false}}
            </div>
          </div>
        </div>
        
        <div class="col-md-12">
          <h4>Billing Contact Information</h4>
          <div class="help-block ember-view">Your organization’s information for DataCite billing purposes</div>
          <br>
        </div>
        {{form.element controlType="text" id="billing-information-organization" label="Billing Organization" property="billingInformation.organization"  helpText="Your organization's name for billing purposes"  required=false}}
        {{form.element controlType="text" id="billing-information-department" label="Billing Department" property="billingInformation.department"  helpText="Your organization's specific department that is responsible for payment" required=false}}

        <div class="form-group">
          <label class="control-label col-md-3">Billing Contact</label>
          <div class="col-md-9">
            <div>
              <label for="givenName" class="subtitle">Given Name (optional)</label>
              {{input type="text" class="form-control" id="billing-contact-givenName" value=model.billingContact.givenName required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Family Name (optional)</label>
              {{input type="text" class="form-control" id="billing-contact-familyName" value=model.billingContact.familyName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email (optional)</label>
              {{input type="text" class="form-control" id="billing-contact-email" value=model.billingContact.email required=false}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Secondary Billing Contact</label>
          <div class="col-md-9">
            <div>
              <label for="givenName" class="subtitle">Given Name (optional)</label>
              {{input type="text" class="form-control" id="secondary-billing-contact-givenName" value=model.secondaryBillingContact.givenName required=false}}
            </div>
            <div>
              <label for="familyName" class="subtitle">Family Name (optional)</label>
              {{input type="text" class="form-control" id="secondary-billing-contact-familyName" value=model.secondaryBillingContact.familyName required=false}}
            </div>
            <div>
              <label for="email" class="subtitle">Email (optional)</label>
              {{input type="text" class="form-control" id="secondary-billing-contact-email" value=model.secondaryBillingContact.email required=false}}
            </div>
          </div>
        </div>

        {{form.element controlType="textarea" rows=3 id="billing-information-street" label="Billing Street" property="billingInformation.address"  helpText="Your organization's street and number for billing purposes" required=false}}

        {{form.element controlType="text" id="billing-information-city" label="Billing City" property="billingInformation.city" helpText="Your organization's city for billing purposes" required=false}}
        {{form.element controlType="text" id="billing-information-state" label="Billing State/Province" property="billingInformation.state"  helpText="Your organization's State/Province for billing purposes" required=false}}
        {{form.element controlType="text" id="billing-information-post-code" label=" Billing Zip/PostCode" property="billingInformation.postCode"  helpText="Your organization's Zip/PostCode for billing purposes"  required=false}}

        {{#form.element controlType="power-select" label="Billing Country" property="billingInformation.country" optionLabelPath="name" options=countries helpText='Country name for billing purposes.' destination=billingInformation.country as |el|}}
          {{#el.control onChange=(action "selectBillingCountry") search=(action "searchCountry") searchField="name" placeholder="Select Country" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
        
        {{#if (can "create provider")}}
          {{form.element controlType="checkbox" label="Account is active" property="isActive" required=false helpText='This account can manage clients and prefixes'}}
        {{/if}}
        
        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-sm btn-fill">Create Provider</button>
          <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else}}
  <div class="col-md-3">
    {{#if (can "create provider")}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
              <button {{action "new"}} class="btn btn-warning">{{fa-icon "plus"}}Create Provider</button>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if (or model.meta.years model.query.year)}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year joined</h4>
          <ul>
            {{#if model.meta.years}}
              {{#each model.meta.years as |year|}}
                <li>
                  {{#if model.query.year}}
                    {{#link-to "providers" (query-params year="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "providers" (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to "providers" (query-params year="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.query.year}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (or model.meta.regions model.query.region)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Region</h4>
          <ul>
            {{#if model.meta.regions}}
              {{#each model.meta.regions as |region|}}
                <li>
                  {{#if model.query.region}}
                    {{#link-to "providers" (query-params region='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "providers" (query-params region=region.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{region.title}}</div>
                  <span class="number pull-right">{{region.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to "providers" (query-params region='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.query.region}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (can "create provider")}}
      {{#if (or model.meta.memberTypes model.query.member-type)}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Member Type</h4>
            <ul>
              {{#if model.meta.memberTypes}}
                {{#each model.meta.memberTypes as |memberType|}}
                  <li>
                    {{#if model.query.member-type}}
                      {{#link-to "providers" (query-params member-type='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to "providers" (query-params member-type=memberType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{memberType.title}}</div>
                    <span class="number pull-right">{{memberType.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              {{else}}
                <li>
                  {{#link-to "providers" (query-params omember-type='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  <div class="facet-title">{{model.query.member-type}}</div>
                  <span class="number pull-right">0</span>
                  <div class="clearfix"/>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{#if (or model.meta.organizationTypes model.query.organization-type)}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Organization Type</h4>
            <ul>
              {{#if model.meta.organizationTypes}}
                {{#each model.meta.organizationTypes as |organizationType|}}
                  <li>
                    {{#if model.query.organization-type}}
                      {{#link-to "providers" (query-params organization-type='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to "providers" (query-params organization-type=organizationType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{organizationType.title}}</div>
                    <span class="number pull-right">{{organizationType.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              {{else}}
                <li>
                  {{#link-to "providers" (query-params organization-type='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  <div class="facet-title">{{model.query.organization-type}}</div>
                  <span class="number pull-right">0</span>
                  <div class="clearfix"/>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{#if (or model.meta.focusAreas model.query.focus-area)}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Focus Area</h4>
            <ul>
              {{#if model.meta.focusAreas}}
                {{#each model.meta.focusAreas as |focusArea|}}
                  <li>
                    {{#if model.query.focus-area}}
                      {{#link-to "providers" (query-params focus-area='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to "providers" (query-params focus-area=focusArea.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{focusArea.title}}</div>
                    <span class="number pull-right">{{focusArea.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              {{else}}
                <li>
                  {{#link-to "providers" (query-params focus-area='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  <div class="facet-title">{{model.query.focus-area}}</div>
                  <span class="number pull-right">0</span>
                  <div class="clearfix"/>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="col-md-9 panel-list" id="content">
    {{#if searchable}}
      {{model-search model=model sortable=true link="providers"}}
    {{/if}}

    {{#if model}}
      {{#each model as |provider|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "providers.show" provider.id}}{{provider.name}}{{/link-to}}
              {{#if (not provider.isActive)}}
                <span class="small icon-warning">account not active</span>
              {{/if}}
            </h3>

            <h5>Provider ID</h5>
            {{provider.symbol}}

            {{#if provider.rorId}}
              <h5>ROR ID</h5>
              <a href="{{provider.rorId}}">{{provider.rorId}}</a>
            {{/if}}

            {{#if (can "create provider")}}
              <h5>Member Type</h5>
              {{titleize (humanize (underscore provider.memberType))}}
            {{/if}}

            {{#if provider.organizationType}}
              <h5>Organization Type</h5>
              {{titleize (humanize (underscore provider.organizationType))}}
            {{/if}}

            {{#if provider.focusArea}}
              <h5>Focus Area</h5>
              {{titleize (humanize (underscore provider.focusArea))}}
            {{/if}}

            {{#if provider.contactName}}
              <h5>General Contact Name</h5>
              {{provider.contactName}}
            {{/if}}

            {{#if provider.contactEmail}}
              <h5>General Contact Email</h5>
              <a href="mailto:{{provider.contactEmail}}">{{provider.contactEmail}}</a>
            {{/if}}
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.totalPages 1)}}
          {{page-numbers model=model link="providers"}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No providers found.
      {{/bs-alert}}
    {{/if}}
  </div>
{{/if}}
