{{#if edit}}
  <div class="panel panel-transparent" id="content-member">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"><h3 class="edit">Update {{if (eq currentUser.uid model.id) 'Account' 'Repository'}}</h3></div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "submit" model) submitOnEnter=true as |form|}}
        {{form.element controlType="hidden" property="confirmSymbol" required=false}}
        {{form.element controlType="text" label="Repository ID" property="symbol" helpText='The Repository ID is the unique identifier for each repository in DataCite and can\'t be changed.' disabled=true}}
        {{#form.element controlType="power-select" label="Type" property="clientType" options=clientTypes destination=clientType as |el|}}
          {{#el.control onChange=(action "selectClientType") search=(action "searchClientType") placeholder="Select Client Type" searchPlaceholder="Type to search..." as |item|}}
            {{titleize item}}
          {{/el.control}}
        {{/form.element}}

        {{#if (eq model.clientType "repository")}}
          {{#form.element controlType="power-select" property="re3data" label="re3data Record (optional)" optionLabelPath="re3data" options=repositories destination=re3data helpText='re3data is a registry of research data repositories.' as |el|}}
            {{#el.control onChange=(action "selectRepository") search=(action "searchRepository") searchField="repositoryName" searchPlaceholder="Type to search..." allowClear=true as |item|}}
              {{if item.name item.name model.re3data}}
            {{/el.control}}
          {{/form.element}}
        {{/if}}

        {{form.element controlType="text" label="Repository Name" property="name" required=false}}
        {{form.element controlType="text" label="Contact Name" property="contactName" helpText='Please enter the name of a person that can be contacted for technical or administrative issues.' required=false}}
        {{form.element controlType="email" label="Contact Email" property="contactEmail" helpText='Please enter an email address that can be contacted for technical or administrative issues.' required=false}}
        {{form.element controlType="text" label="Alternate Name (optional)" property="alternateName" required=false}}
        {{form.element controlType="textarea" label="Description (optional)" property="description" rows=10 helpText='Description of the repository. Please use markdown for formatting.' required=false}}
        {{form.element controlType="text" label="URL (optional)" property="url" helpText='The homepage of the repository.' required=false}}
        
        <div class="form-group">
          <label class="control-label col-md-3">Language (optional)</label>
          <div class="col-md-9">
            {{#if (gt model.language.length 0)}}
              {{#each model.language as |language index|}}
                {{repository-language model=model language=language form=form index=index}}
              {{/each}}

              {{#if (lte model.language.length 2)}}
                {{#bs-button  class="btn-sm add-language" outline=true onClick=(action "addLanguage")}}{{fa-icon "plus-circle"}} Add another Language{{/bs-button}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        {{#form.element controlType="power-select" label="Software (optional)" property="software" options=softwares destination=software helpText='The name of the software that is used to run the repository.' as |el|}}
          {{#el.control onChange=(action "selectSoftware") search=(action "searchSoftware") placeholder="Select Software" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item}}
          {{/el.control}}
        {{/form.element}}

        {{#if (eq model.clientType "repository")}}
          <div class="form-group">
            <label class="control-label col-md-3">Repository Type (optional)</label>
            <div class="col-md-9">
              {{#if (gt model.repositoryType.length 0)}}
                {{#each model.repositoryType as |repositoryType index|}}
                  {{repository-repository-type model=model repositoryType=repositoryType form=form index=index}}
                {{/each}}

                {{#if (lte model.repositoryType.length 2)}}
                  {{#bs-button  class="btn-sm add-repositoryType" outline=true onClick=(action "addRepositoryType")}}{{fa-icon "plus-circle"}} Add another Repository Type{{/bs-button}}
                {{/if}}
              {{/if}}
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">Certificate (optional)</label>
            <div class="col-md-9">
              {{#if (gt model.certificate.length 0)}}
                {{#each model.certificate as |certificate index|}}
                  {{repository-certificate model=model certificate=certificate form=form index=index}}
                {{/each}}

                {{#if (lte model.certificate.length 2)}}
                  {{#bs-button  class="btn-sm add-certificate" outline=true onClick=(action "addCertificate")}}{{fa-icon "plus-circle"}} Add another Certificate{{/bs-button}}
                {{/if}}
              {{/if}}
            </div>
          </div>
        {{/if}}

        {{#if (can "create repository" model.provider)}}
          {{form.element controlType="checkbox" label="Account is active" property="isActive" helpText='This account can register and update DOIs'}}
        {{/if}}

        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-sm btn-fill">Update Repository</button>
          <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else if change}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3">
        <h3 class="edit">Set Password</h3>

        <span class="help-block">Click <a class="action-link" {{action "generate"}}>here</a> for a password suggestion.</span>
      </div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=model onSubmit=(action "setPassword" model) submitOnEnter=true as |form|}}
        {{form.element controlType="text" id="passwordInput" property="passwordInput" label="New Password" required=false}}
        {{form.element controlType="text" property="confirmPasswordInput" label="Confirm Password" required=false}}

        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-sm btn-fill">Set Password</button>
          <button {{action "cancel" model}} class="btn btn-sm" id="cancel">Cancel</button>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else if delete}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3">
        {{#if (gt model.totalDoiCount 0)}}
          <div class="alert alert-danger" role="alert">
            You need to transfer all DOIs to another repository before you can delete this repository.
          </div>
          <div class="pseudo-footer">
            <div class="btn-toolbar btn-sm pull-right">
              <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
              {{#link-to "repositories.show.transfer" model.id class="btn btn-sm"}}{{fa-icon "arrow-circle-o-right"}}Transfer DOIs{{/link-to}}
            </div>
            <div class="clearfix"/>
          </div>
        {{else}}
          {{#bs-form formLayout="vertical" model=model onSubmit=(action "destroy" model) submitOnEnter=true as |form|}}
            {{#form.group validation=(if (v-get model 'isInvalid') "error" "success")}}
              {{form.element controlType="text" label='Are you sure you want to delete this repository? This action cannot be undone.' property='confirmSymbol' showValidationOn="input" autofocus=true helpText='Please add the Repository ID to delete.'}}
            {{/form.group}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
                <button {{action "destroy" model}} class="btn btn-sm btn-fill">Delete</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-3">
      {{#if (can "update repository" model)}}
        <div class="panel facets">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <button {{action "change" model}} class="btn btn-warning" id="set-password-provider">{{fa-icon "key"}}Set Password</button>
                <button {{action "edit" model}} class="btn btn-warning" id="edit-repository">{{fa-icon "pencil"}}Update{{if (eq currentUser.uid model.id) ' Account' ' Repository'}}</button>
                {{#if (can "delete repository" model)}}
                  <button {{action "delete" model}} class="btn btn-warning" id="delete-repository">{{fa-icon "trash"}}Delete{{if media.isXl ' Repository'}}</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{repository-sidebar model=model}}
    </div>
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}

          <h5>
            Repository ID
            <span>
              {{fa-icon "question-circle-o"}}
              {{#bs-tooltip placement="top" viewportPadding=10}}The Repository ID is a unique identifier for each repository in DataCite. It must contain only upper case letters and numbers, and must start with the Provider ID.{{/bs-tooltip}}
            </span>
          </h5>
          {{model.symbol}}

          {{#if model.re3data}}
            <h5>
              re3data Record
              <span>
                {{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}re3data is a registry of research data repositories.{{/bs-tooltip}}
              </span>
            </h5>
            <a href="{{model.re3data}}">{{model.re3data}}</a>
          {{/if}}

          {{#if model.alternateName}}
            <h5>Alternate Name</h5>
            {{model.alternateName}}
          {{/if}}

          {{#if model.description}}
            <h5>Description</h5>
            {{model.description}}
          {{/if}}

          {{#if model.contactName}}
            <h5>Contact Name</h5>
            {{model.contactName}}
          {{/if}}

          {{#if model.contactEmail}}
            <h5>Contact Email</h5>
            <a href="mailto:{{model.contactEmail}}">{{model.contactEmail}}</a>
          {{/if}}

          {{#if model.url}}
            <h5>URL</h5>
            <a href="{{model.url}}">{{model.url}}</a>
          {{/if}}

          {{#if model.language}}
            <h5>Language</h5>
            {{#each model.language as |lang|}}
              {{format-language lang}}{{#unless (eq lang model.language.lastObject)}}, {{/unless}}
            {{/each}}
          {{/if}}

          {{#if model.clientType}}
            <h5>Type</h5>
            {{titleize model.clientType}}
          {{/if}}

          {{#if model.repositoryType}}
            <h5>Repository Type</h5>
            {{#each model.repositoryType as |type|}}
              {{titleize type}}{{#unless (eq type model.repositoryType.lastObject)}}, {{/unless}}
            {{/each}}
          {{/if}}

          {{#if model.certificate}}
            <h5>Certificate<div class="info-icon icons-certificate_active"/></h5>
            {{#each model.certificate as |cert|}}
              {{cert}}{{#unless (eq cert model.certificate.lastObject)}}, {{/unless}}
            {{/each}}
          {{/if}}

          {{#if model.software}}
            <h5>Software</h5>
            {{model.software}}
          {{/if}}

          {{#if (not model.hasPassword)}}
            <h5>Password</h5>
            <span class="small icon-warning">has not been set</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
