{{#if new}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="col-md-9 col-md-offset-3"><h3 class="edit">Add Repository</h3></div>

      {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-3" model=repository onSubmit=(action "submit" repository model) submitOnEnter=true as |form|}}
        {{form.element controlType="text" label="Repository ID" property="symbol" helpText='The Repository ID is the unique identifier for each repository in DataCite and can\'t be changed. The Repository ID must start with the Provider ID, followed by a dot. It can then contain only upper case letters, numbers, and at most one hyphen.' useIcons=false required=false}}
        {{#form.element controlType="power-select" label="Type" property="clientType" options=clientTypes destination=clientType as |el|}}
          {{#el.control onChange=(action "selectClientType") search=(action "searchClientType") placeholder="Select Client Type" searchPlaceholder="Type to search..." as |item|}}
            {{titleize item}}
          {{/el.control}}
        {{/form.element}}
        {{#if (eq repository.clientType "repository")}}
          {{#form.element controlType="power-select" property="re3data" label="re3data Record (optional)" optionLabelPath="re3data" options=repositories destination=re3data helpText='re3data is a registry of research data repositories.' as |el|}}
            {{#el.control onChange=(action "selectRepository") search=(action "searchRepository") searchField="repositoryName" searchPlaceholder="Type to search..." allowClear=true as |item|}}
              {{if item.name item.name repository.re3data}}
            {{/el.control}}
          {{/form.element}}
        {{else}}
          {{repository-issn model=model fragment=model.issn form=form}}
        {{/if}}

        {{form.element controlType="text" label="Repository Name" property="name" useIcons=false required=false}}
        {{form.element controlType="text" label="Alternate Repository Name (optional)" property="alternateName" required=false}}
        {{form.element controlType="text" label="Contact Name" property="contactName" helpText='Please enter the name of a person that can be contacted for technical or administrative issues.' required=false}}
        {{form.element controlType="email" label="Contact Email" property="contactEmail" helpText='Please enter an email address that can be contacted for technical or administrative issues.' useIcons=false required=false}}
        {{form.element controlType="textarea" label="Description (optional)" property="description" rows=10 helpText='Description of the repository. Please use markdown for formatting.' required=false}}
        {{form.element controlType="text" label="URL (optional)" property="url" helpText='The homepage of the repository.' required=false}}
        
        <div class="form-group">
          <label class="control-label col-md-3">Language (optional)</label>
          <div class="col-md-9">
            {{#if (gt repository.language.length 0)}}
              {{#each repository.language as |language index|}}
                {{repository-language model=repository language=language form=form index=index}}
              {{/each}}

              {{#if (lte repository.language.length 2)}}
                {{#bs-button  class="btn-sm add-language" outline=true onClick=(action "addLanguage")}}{{fa-icon "plus-circle"}} Add another Language{{/bs-button}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        {{#form.element controlType="power-select" label="Software (optional)" property="software" options=softwares destination=software helpText='The name of the software that is used to run the repository.' as |el|}}
          {{#el.control onChange=(action "selectSoftware") search=(action "searchSoftware") placeholder="Select Software" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item}}
          {{/el.control}}
        {{/form.element}}
        
        <div class="form-group">
          <label class="control-label col-md-3">Repository Type (optional)</label>
          <div class="col-md-9">
            {{#if (gt repository.repositoryType.length 0)}}
              {{#each repository.repositoryType as |repositoryType index|}}
                {{repository-repository-type model=repository repositoryType=repositoryType form=form index=index}}
              {{/each}}

              {{#if (lte repository.repositoryType.length 2)}}
                {{#bs-button  class="btn-sm add-repositoryType" outline=true onClick=(action "addRepositoryType")}}{{fa-icon "plus-circle"}} Add another Repository Type{{/bs-button}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Certificate (optional)</label>
          <div class="col-md-9">
            {{#if (gt repository.certificate.length 0)}}
              {{#each repository.certificate as |certificate index|}}
                {{repository-certificate model=repository certificate=certificate form=form index=index}}
              {{/each}}

              {{#if (lte repository.certificate.length 2)}}
                {{#bs-button  class="btn-sm add-certificate" outline=true onClick=(action "addCertificate")}}{{fa-icon "plus-circle"}} Add another Certificate{{/bs-button}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        {{form.element controlType="checkbox" label="Account is active" property="isActive" helpText='This account can register and update DOIs'}}

        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-sm btn-fill">Add Repository</button>
          <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
        </div>
      {{/bs-form}}
    </div>
  </div>
{{else}}
  <div class="col-md-3">
    {{#if (and (can "create repository" model) (eq link "providers.show.repositories"))}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
              <button {{action "new" model}} class="btn btn-warning" id="add-repository">{{fa-icon "plus"}} Add Repository</button>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if (or model.repositories.meta.years model.repositories.query.year)}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year joined</h4>
          <ul>
            {{#if model.repositories.meta.years}}
              {{#each model.repositories.meta.years as |year|}}
                <li>
                  {{#if model.repositories.query.year}}
                    {{#link-to link (query-params year="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to "repositories" (query-params year="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.repositories.query.year}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (and (eq link 'repositories') (or model.repositories.meta.providers model.repositories.query.provider-id))}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Provider</h4>
          <ul>
            {{#if model.repositories.meta.providers}}
              {{#each model.repositories.meta.providers as |provider|}}
                <li>
                  {{#if model.repositories.query.provider-id}}
                    {{#link-to link (query-params provider-id="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params provider-id=provider.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{provider.title}}</div>
                  <span class="number pull-right">{{provider.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params provider="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{titleize model.repositories.query.provider}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (or model.repositories.meta.clientTypes model.repositories.query.client-type)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Type</h4>
          <ul>
            {{#if model.repositories.meta.clientTypes}}
              {{#each model.repositories.meta.clientTypes as |clientType|}}
                <li>
                  {{#if model.repositories.query.client-type}}
                    {{#link-to link (query-params client-type="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params client-type=clientType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{clientType.title}}</div>
                  <span class="number pull-right">{{clientType.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params client-type="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{titleize model.repositories.query.client-type}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (or model.repositories.meta.repositoryTypes model.repositories.query.repository-type)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Repository Type</h4>
          <ul>
            {{#if model.repositories.meta.repositoryTypes}}
              {{#each model.repositories.meta.repositoryTypes as |repositoryType|}}
                <li>
                  {{#if model.repositories.query.repository-type}}
                    {{#link-to link (query-params repository-type="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params repository-type=repositoryType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{repositoryType.title}}</div>
                  <span class="number pull-right">{{repositoryType.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params repository-type="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.repositories.query.repository-type}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (or model.repositories.meta.certificates model.repositories.query.certificate)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Certificate</h4>
          <ul>
            {{#if model.repositories.meta.certificates}}
              {{#each model.repositories.meta.certificates as |certificate|}}
                <li>
                  {{#if model.repositories.query.certificate}}
                    {{#link-to link (query-params certificate="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params certificate=certificate.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{certificate.title}}</div>
                  <span class="number pull-right">{{certificate.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params certificate="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.repositories.query.certificate}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (or model.repositories.meta.software model.repositories.query.software)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Software</h4>
          <ul>
            {{#if model.repositories.meta.software}}
              {{#each model.repositories.meta.software as |software|}}
                <li>
                  {{#if model.repositories.query.software}}
                    {{#link-to link (query-params software="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to link (query-params software=software.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{software.title}}</div>
                  <span class="number pull-right">{{software.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            {{else}}
              <li>
                {{#link-to link (query-params software="")}}{{fa-icon "check-square-o"}}{{/link-to}}
                <div class="facet-title">{{model.repositories.query.software}}</div>
                <span class="number pull-right">0</span>
                <div class="clearfix"/>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-9 panel-list" id="content">
    {{#if searchable}}
      {{model-search model=model.repositories name="Repository" sortable=true link=link}}
    {{/if}}
    {{#if model.repositories}}
      {{#each model.repositories as |client|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "repositories.show" client.id}}
                {{client.name}}
                {{#if client.alternateName}}<div class="subtitle">{{client.alternateName}}</div>{{/if}}
              {{/link-to}}

              {{#if (eq client.clientType 'periodical')}}
                <span class="label label-primary-inv">Periodical</span>
              {{/if}}
            </h3>

            <h5 class="repository-id">
              Repository ID
              <span>
                {{fa-icon "question-circle-o"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}The Repository ID is a unique identifier for each repository in DataCite. It must contain only upper case letters and numbers, and must start with the Provider ID.{{/bs-tooltip}}
              </span>
            </h5>
            {{client.symbol}}

            {{#if client.re3data}}
              <h5>
                re3data Record
                <span>
                  {{fa-icon "question-circle-o"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}re3data is a registry of research data repositories.{{/bs-tooltip}}
                </span>
              </h5>
              <a href="{{client.re3data}}">{{client.re3data}}</a>
            {{/if}}

            {{#if client.contactName}}
              <h5>Contact Name</h5>
              {{client.contactName}}
            {{/if}}

            {{#if client.contactEmail}}
              <h5>Contact Email</h5>
              <a href="mailto:{{client.contactEmail}}">{{client.contactEmail}}</a>
            {{/if}}

            {{#if client.url}}
              <h5>URL</h5>
              <a href="{{client.url}}">{{client.url}}</a>
            {{/if}}

            {{#if client.repositoryType}}
              <h5>Repository Type</h5>
              {{#each client.repositoryType as |type|}}
                {{titleize type}}{{#unless (eq type client.repositoryType.lastObject)}}, {{/unless}}
              {{/each}}
            {{/if}}

            {{#if client.certificate}}
              <h5>Certificate <div class="info-icon icons-certificate_active"/></h5>
              {{#each client.certificate as |cert|}}
                {{cert}}{{#unless (eq cert client.certificate.lastObject)}}, {{/unless}}
              {{/each}}
            {{/if}}
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.repositories.meta.totalPages 1)}}
          {{page-numbers model=model.repositories link=link}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No repositories found.
      {{/bs-alert}}
    {{/if}}
  </div>
{{/if}}
