<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      <h3 class="edit">
        Transfer Repository
      </h3>
    </div>
    <BsForm
      @formLayout="horizontal"
      @horizontalLabelGridClass="col-md-3"
      @model={{this}}
      @onSubmit={{action 'submit'}}
      @submitOnEnter={{false}}
      data-test-transfer-select as |form|
    >
      <form.element
        @controlType="power-select"
        @id="target-id"
        @label="Member/Consortium"
        @value={{this.provider}}
        @helpText="Transfer this repository to another member/consortium. It can take up to one hour for the transfer to complete."
        @options={{this.providers}}
        @destination={{this.provider}} as |el|
      >
        <el.control
          @onChange={{action 'selectProvider'}}
          @allowClear={{true}}
          @searchEnabled={{true}}
          @search={{action 'searchProvider'}}
          @placeholder="Type to search..." as |item|
        >
          {{item.name}}
        </el.control>
      </form.element>
      <div class="col-md-9 col-md-offset-3">
        <button
          class="btn btn-sm btn-fill"
          disabled={{this.isDisabled}}
          data-test-transfer-button
          {{action 'submit'}}
        >
          Transfer Repository
        </button>
        <button class="btn btn-sm" {{action 'cancel'}}>
          Cancel
        </button>
      </div>
    </BsForm>
  </div>
</div>