<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">
      {{model.title}}
    </h3>
  </div>
</div>
<div class="row">
  {{repository-sidebar model=model}}
  <div class="col-md-9" id="show">
    <div class="panel panel-transparent" id="content-member">
      <div class="panel-footer">
        {{model.name}}
        <span>{{fa-icon "question-circle-o"}}
          {{#bs-tooltip placement="top" viewportPadding=10}}Each repository has a unique ID that starts with the member ID.{{/bs-tooltip}}
        </span>
        {{#if (can "write repository" model)}}
          <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm pull-right">
              {{#link-to "repositories.edit" model.id}}{{fa-icon "pencil"}}{{/link-to}}
            </div>
            {{#if (can "repositories client" model)}}
              <div class="btn-toolbar pull-right">
                <div class="btn-group btn-group-sm pull-right">
                  {{#link-to "repositories.edit" model.id}}{{fa-icon "tra"}}{{/link-to}}
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
