{{#aitem.title}}
  {{user.creditName}} {{#if user.role}}<span class='small pull-right'>{{user.role.name}}</span>{{/if}}
{{/aitem.title}}

{{#aitem.body}}
  {{#if edit}}
    {{#bs-form formLayout="vertical" model=this as |form|}}
      {{#if (can "create user" user)}}
        {{#form.element controlType="power-select" property="role" label="Role" options=roles optionLabelPath="name" destination=role as |el|}}
          {{#el.control onChange=(action "selectRole") searchEnabled=false allowClear=false as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
      {{/if}}

      {{#if (eq link "users")}}
        {{#form.element controlType="power-select" property="provider" label="Provider" optionLabelPath="name" options=providers destination=provider as |el|}}
          {{#el.control onChange=(action "selectProvider") search=(action "searchProvider") searchField="name" allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
      {{/if}}

      {{#if (not-eq link "clients.show.users")}}
        {{#form.element controlType="power-select" property="client" label="Client" optionLabelPath="name" options=clients destination=client as |el|}}
          {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
      {{/if}}

      <div class="pseudo-footer">
        <div class="btn-toolbar pull-right">
          <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
          <button {{action "submit"}} type="submit" class="btn btn-sm btn-fill">Save</button>
        </div>
        <div class="clearfix"/>
      </div>
    {{/bs-form}}
  {{else}}
    {{#if user.email}}
      <h5>Email</h5>
      <a href="mailto:{{user.email}}">{{user.email}}</a>
    {{/if}}

    {{#if user.role}}
      <h5>Role</h5>
      {{user.role.name}}
    {{/if}}

    {{#if (and user.provider (eq link "users"))}}
      <h5>Provider</h5>
      {{#link-to "providers.show.users" user.provider.id}}{{user.provider.name}}{{/link-to}}
    {{/if}}

    {{#if (and user.client (not-eq link "clients.show.users"))}}
      <h5>Client</h5>
      {{#link-to "clients.show.users" user.client.id}}{{user.client.name}}{{/link-to}}
    {{/if}}

    <h5>Account created</h5>
    {{format-date user.created year='numeric' month='long' day='numeric'}}

    <div class="pseudo-footer">
      <a href="{{user.identifier}}">{{fa-icon "external-link"}} {{user.identifier}}</a>
      {{#if (and (can "modify user" user) (not-eq link "clients.show.users"))}}
        <div class="btn-toolbar pull-right">
          <button {{action "edit" user link}} class="btn btn-sm btn-warning">{{fa-icon "pencil"}} Edit User</button>
        </div>
        <div class="clearfix"/>
      {{/if}}
    </div>
  {{/if}}
{{/aitem.body}}
