<div class="row">
  <div class="col-md-9">
    <div class="panel panel-transparent">
      <div class="panel-body">

        <h3 class="edit">{{if user.created "Edit User" "Add User"}}</h3>

        {{#bs-form formLayout="vertical" model=this as |form|}}
          {{#form.element controlType="power-select" property="user" label="User" optionLabelPath="name" options=users destination=user as |el|}}
            {{#el.control onChange=(action "selectUser") search=(action "searchUser") searchField="name" allowClear=true as |item|}}
              {{item.name}}
            {{/el.control}}
          {{/form.element}}

          {{#if (and user (can "create user" user))}}
            {{#form.element controlType="power-select" property="role" label="Role" optionLabelPath="name" options=roles destination=role as |el|}}
              {{#el.control onChange=(action "selectRole") searchEnabled=false allowClear=false as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            {{#if (not model.provider)}}
              {{#form.element controlType="power-select" property="provider" label="Provider" optionLabelPath="name" options=providers destination=provider as |el|}}
                {{#el.control onChange=(action "selectProvider") search=(action "searchProvider") searchField="name" allowClear=true as |item|}}
                  {{item.name}}
                {{/el.control}}
              {{/form.element}}
            {{/if}}

            {{#if (not model.client)}}
              {{#form.element controlType="power-select" property="client" label="Client" optionLabelPath="name" options=clients destination=client as |el|}}
                {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" allowClear=true as |item|}}
                  {{item.name}}
                {{/el.control}}
              {{/form.element}}
            {{/if}}
          {{/if}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button {{action "submit"}} disabled={{disabled}} type="submit" class="btn btn-sm btn-fill">Save</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>
