<div class="col-md-3">
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="edit"></div>
    </div>
  </div>
</div>
<div class="col-md-9 panel-list" id="content">
  {{#if searchable}}
    {{model-search model=model sortable=true name="User" link="users"}}
  {{/if}}

  {{#if model}}
    {{#each model as |user|}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3 class="work">
            {{#link-to "users.show" user.id}}{{user.name}}{{/link-to}}
          </h3>

          <h5>ORCID</h5>
          <a href="{{user.orcid}}">{{user.orcid}}</a>

          {{#if user.givenNames}}
            <h5>Given Name</h5>
            {{user.givenNames}}
          {{/if}}

          {{#if user.familyName}}
            <h5>Family Name</h5>
            {{user.familyName}}
          {{/if}}
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.meta.totalPages 1)}}
        {{page-numbers model=model link="users"}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No users found.
    {{/bs-alert}}
  {{/if}}
</div>
