<div class='col-md-9 panel-list' id="content">
  {{#if searchable}}
    {{model-search model=model sortable=true}}
  {{/if}}
  {{#if model}}
    {{#each model as |user|}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3 class="work">{{#link-to "users.show" user.id}}{{user.name}}{{/link-to}}</h3>

          <h5>ORCID ID</h5>
          <a href="{{user.identifier}}">{{user.identifier}}</a>

          {{#if user.email}}
            <h5>Email</h5>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          {{/if}}

          {{#if user.role}}
            <h5>Role</h5>
            {{user.role.name}}
          {{/if}}

          {{#if (and user.provider (eq link "users"))}}
            <h5>Provider</h5>
            {{#link-to "providers.show.users" user.provider.id}}{{user.provider.name}}{{/link-to}}
          {{/if}}

          {{#if (and user.client (not-eq link "clients.show.users"))}}
            <h5>Client</h5>
            {{#link-to "clients.show.users" user.client.id}}{{user.client.name}}{{/link-to}}
          {{/if}}

          {{#if (and user.sandbox (not-eq link "clients.show.users"))}}
            <h5>Sandbox</h5>
            {{#link-to "clients.show.users" user.sandbox.id}}{{user.sandbox.name}}{{/link-to}}
          {{/if}}

          {{#if (not user.isActive)}}
            <h5>State</h5>
            <span class="icon-warning">Not active</span>
          {{/if}}
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.meta.total_pages 1)}}
        {{page-numbers content=model numPagesToShow=5 showFL=true}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No Users found.
    {{/bs-alert}}
  {{/if}}
</div>

<div class='col-md-3'>
  {{#if (can "create user" model)}}
    <div class="panel facets">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm">
            {{#if model.otherParams.client-id}}
              {{#link-to "users.new" (query-params client-id=model.otherParams.client-id) class="btn btn-warning"}}{{fa-icon "link"}}Add User{{/link-to}}
            {{else if model.otherParams.provider-id}}
              {{#link-to "users.new" (query-params provider-id=model.otherParams.provider-id) class="btn btn-warning"}}{{fa-icon "link"}}Add User{{/link-to}}
            {{else}}
              {{#link-to "users.new" class="btn btn-warning"}}{{fa-icon "plus"}}Add User{{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="edit"></div>
      </div>
    </div>
  {{/if}}

  {{#if model.meta.roles}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Roles</h4>
        <ul>
          {{#each model.meta.roles as |role|}}
            <li>
              {{#if model.otherParams.role-id}}
                {{#link-to link (query-params role-id=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
              {{else}}
                {{#link-to link (query-params role-id=role.id)}}{{fa-icon "square-o"}}{{/link-to}}
              {{/if}}
              <div class="facet-title">{{role.title}}</div>
              <span class="number pull-right">{{format-number role.count}}</span>
              <div class="clearfix"/>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>
