<div class="col-md-9" id="content-user">
  {{#if searchable}}
    {{model-search model=model sortable=true}}
  {{/if}}

  {{#if model}}
    {{#bs-accordion as |acc|}}
      {{#each model as |user|}}
        {{#acc.item value=user.orcid as |aitem|}}
          {{user-item user=user link=link aitem=aitem}}
        {{/acc.item}}
      {{/each}}
    {{/bs-accordion}}
    <div class="text-center">
      {{#if (gt model.meta.total_pages 1)}}
        {{page-numbers content=model showFL=true}}
      {{/if}}
    </div>
  {{else}}
    {{#bs-alert dismissible=false type="warning"}}
      No users found.
    {{/bs-alert}}
  {{/if}}
</div>

<div class='col-md-3'>
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="edit"></div>
    </div>
  </div>

  {{#if model.meta.roles}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>Roles</h4>
        <ul>
          {{#each model.meta.roles as |role|}}
            <li>
              {{#if model.otherParams.role-id}}
                {{#link-to link (query-params role-id=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
              {{else}}
                {{#link-to link (query-params role-id=role.id)}}{{fa-icon "square-o"}}{{/link-to}}
              {{/if}}
              <div class="facet-title">{{role.title}}</div>
              <span class="number pull-right">{{format-number role.count}}</span>
              <div class="clearfix"/>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>
