{{#aitem.title}}
  {{user.creditName}} {{#if user.role}}<span class='small pull-right'>{{humanize user.role}}</span>{{/if}}
{{/aitem.title}}

{{#aitem.body}}
  {{#if edit}}
    {{#bs-form formLayout="vertical" model=this onSubmit=(action "submit") as |form|}}
      {{#form.element controlType="power-select" property="role" label="Role" options=roles optionLabelPath="name" destination=user.role as |el|}}
        {{#el.control onChange=(action "selectRole") searchEnabled=false allowClear=false as |item|}}
          {{item.name}}
        {{/el.control}}
      {{/form.element}}

      {{#if showProviders}}
        {{#form.element controlType="power-select" property="provider" label="Provider" optionLabelPath="name" options=providers destination=user.provider as |el|}}
          {{#el.control onChange=(action "selectProvider") search=(action "searchProvider") searchField="name" as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
      {{/if}}

      {{#if showClients}}
        {{#form.element controlType="power-select" property="data-center" label="Client" options=clients destination=user.client as |el|}}
          {{#el.control search=(action "searchClient") searchField="name" as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}
      {{/if}}

      <div class="pseudo-footer">
        <div class="btn-toolbar pull-right">
          <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
          <button type="submit" class="btn btn-sm btn-fill">Save</button>
        </div>
        <div class="clearfix"/>
      </div>
    {{/bs-form}}
  {{else}}
    {{#if user.email}}
      <h5>Email</h5>
      <a href="mailto:{{user.email}}">{{user.email}}</a>
    {{/if}}

    {{#if user.role}}
      <h5>Role</h5>
      {{humanize user.role}}
    {{/if}}

    {{#if (and user.provider (eq link "users"))}}
      <h5>Provider</h5>
      {{#link-to "providers.show.users" user.provider.id}}{{user.provider.name}}{{/link-to}}
    {{/if}}

    {{#if (and user.client (not-eq link "clients.show.users"))}}
      <h5>Client</h5>
      {{#link-to "clients.show.users" user.client.id}}{{user.client.name}}{{/link-to}}
    {{/if}}

    <h5>Account created</h5>
    {{format-date user.created}}

    <div class="pseudo-footer">
      <a href="{{user.id}}">{{fa-icon "external-link"}} {{user.id}}</a>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <button {{action "edit" user}} class="btn-link">{{fa-icon "pencil"}}</button>
        </div>
      </div>
      <div class="clearfix"/>
    </div>
  {{/if}}
{{/aitem.body}}
