{{#if edit}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3 class="edit">Edit {{if (eq currentUser.uid model.id) "Account" "User"}}</h3>

          {{#bs-form formLayout="vertical" model=model as |form|}}
            {{form.element controlType="text" label="ORCID ID" property="id" helpText='The ORCID ID is a 16 digit nonproprietary alphanumeric code to uniquely identify scientific and other academic authors and contributors.' disabled=true}}
            {{form.element controlType="text" label="Name" placeholder="Name" property="name" helpText='Read-only, the name associated with the ORCID ID above.' required=false readonly=true}}

            {{#form.element controlType="power-select" property="role" label="Role" options=roles optionLabelPath="name" destination=role disabled=(eq currentUser.uid model.id) as |el|}}
              {{#el.control onChange=(action "selectRole") searchEnabled=false allowClear=false as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            {{#form.element controlType="power-select" property="provider" label="Provider" optionLabelPath="name" options=providers destination=provider disabled=(xor isProvider isClient) as |el|}}
              {{#el.control onChange=(action "selectProvider") search=(action "searchProvider") searchField="name" searchPlaceholder="Type to search..." allowClear=true as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            {{#form.element controlType="power-select" property="client" label="Client" optionLabelPath="name" options=clients destination=client disabled=isClient as |el|}}
              {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" searchPlaceholder="Type to search..." allowClear=true as |item|}}
                {{item.name}}
              {{/el.control}}
            {{/form.element}}

            <div class="pseudo-footer">
              <div class="btn-toolbar pull-right">
                <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
                <button {{action "submit"}} type="submit" class="btn btn-sm btn-fill">Save</button>
              </div>
              <div class="clearfix"/>
            </div>
          {{/bs-form}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>

      {{client-sidebar model=model}}
    </div>
  </div>
{{else if delete}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="alert alert-danger" role="alert">
            Are you sure you want to remove user {{model.name}} from this provider?
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar pull-right">
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
            <button {{action "destroy"}} class="btn btn-sm btn-fill">Remove</button>
          </div>
          <div class="clearfix"/>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h5>ORCID ID</h5>
          <a href="{{model.identifier}}">{{model.identifier}}</a>

          {{#if model.email}}
            <h5>Email</h5>
            <a href="mailto:{{model.email}}">{{model.email}}</a>
          {{/if}}

          {{#if model.role}}
            <h5>Role</h5>
            {{model.role.name}}
          {{/if}}

          {{#if model.provider}}
            <h5>Provider</h5>
            {{#link-to "providers.show.users" model.provider.id}}{{model.provider.name}}{{/link-to}}
          {{/if}}

          {{#if model.client}}
            <h5>Client</h5>
            {{#link-to "clients.show.users" model.client.id}}{{model.client.name}}{{/link-to}}
          {{/if}}

          {{#if model.sandbox}}
            <h5>Sandbox</h5>
            {{#link-to "clients.show.users" model.sandbox.id}}{{model.sandbox.name}}{{/link-to}}
          {{/if}}

          {{#if (not model.isActive)}}
            <h5>State</h5>
            <span class="icon-warning">Not active</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{#if (can "update user" model)}}
        <div class="panel facets add">
          <div class="panel-body">
            <button {{action "edit" model}} class="btn btn-warning">{{fa-icon "pencil"}} Edit {{if (eq currentUser.uid model.id) "Account" "User"}}</button>
          </div>
        </div>
      {{/if}}
      {{client-sidebar model=model}}
    </div>
  </div>
{{/if}}
