<div class="col-md-3">
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="edit"></div>
    </div>
  </div>
</div>
<div class="col-md-9 panel-list" id="content">
  {{#if this.searchable}}
    <ModelSearch @model={{this.model}} @sortable={{true}} @name="User" @link="users" />
  {{/if}}

  {{#if this.model}}
    {{#each this.model as |user|}}
      <div class="panel panel-transparent" data-test-user>
        <div class="panel-body">
          <h3 class="work">
            <a href="https://commons.datacite.org/orcid.org/{{user.id}}">{{user.name}}</a>
          </h3>

          <h5>ORCID</h5>
          <a href="{{user.orcid}}">{{user.orcid}}</a>

          {{#if user.givenName}}
            <h5>Given Name</h5>
            {{user.givenName}}
          {{/if}}

          {{#if user.familyName}}
            <h5>Family Name</h5>
            {{user.familyName}}
          {{/if}}
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt this.model.meta.totalPages 1)}}
        <PageNumbers @model={{this.model}} @link="users" />
      {{/if}}
    </div>
  {{else}}
    <BsAlert @dismissible={{false}} @type="warning">
      No users found.
    </BsAlert>
  {{/if}}
</div>
