<div id="metadata" class="input-group pull-right">
  <select onchange={{action 'selectCitation' value="target.value"}}>
    {{#each-in citationFormats as |key value|}}
      <option name="citation" value={{key}} selected={{eq citation key}}>{{value}}</option>
    {{/each-in}}
  </select>
</div>
<h3 class="member-results">Citation</h3>
<div class="clearfix"/>
<div class="panel panel-transparent">
  <div class="panel-body">
    {{#code-block language='markup' class="metadata"}}
      {{citation-output}}
    {{/code-block}}
  </div>
</div>
