{{#if (can "list data-center")}}
  <div class="row">
    <div class='col-md-9'>
      <div class="search-input">
        <form {{action "doSearch" query on="submit"}} class="form-horizontal">
          <div class="input-group">
            {{input name="query" value=query class="form-control" placeholder="Search for client"}}

            <div class="input-group-btn">
              <button type="submit" class="btn hidden-xs">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="panel facets">
        <div class="panel-body">
          <div class="pull-right">
            {{#link-to "data-centers.new" data-center.id class="btn btn-warning"}}{{fa-icon "plus"}}Add Client{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-9 panel-list' id="content">
      {{#if model}}
        {{#if (gt model.meta.total_pages 1)}}
          <h3 class="member-results">{{#if (gt model.meta.total 1)}}{{format-number model.meta.total}}{{/if}} Clients</h3>
        {{/if}}
        {{#each model as |data-center|}}
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="work">
                {{#link-to "data-centers.show" data-center.id}}{{data-center.title}}{{/link-to}}
              </h3>

              {{data-center.name}}
              <span>{{fa-icon "question-circle"}}
                {{#bs-tooltip placement="top" viewportPadding=10}}Each data center has a unique ID that starts with the member ID.{{/bs-tooltip}}
              </span>
            </div>
          </div>
        {{/each}}
        <div class="text-center">
          {{#if (gt model.meta.total_pages 1)}}
            {{page-numbers content=content showFL=true}}
          {{/if}}
        </div>
      {{else}}
        <div class="alert alert-simple-info">
          <h5>No clients found.
          </h5>
        </div>
      {{/if}}
    </div>
    <div class='col-md-3'>
      {{#if model.meta.years}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Year joined</h4>
            <ul>
              {{#each model.meta.years as |year|}}
                <li>
                  {{#if model.otherParams.year}}
                    {{#link-to "data-centers" (query-params year='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "data-centers" (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{#if (and model.meta.members (can "read data-center"))}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Members <span class="small">{{fa-icon "question-circle"}}{{#bs-tooltip placement="top"}}Filter data centers by member they work with.{{/bs-tooltip}}</span></h4>
            <ul>
              {{#each model.meta.members as |member|}}
                <li>
                  {{#if model.otherParams.member-id}}
                    {{#link-to "data-centers" (query-params member-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "data-centers" (query-params member-id=member.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{member.title}}</div>
                  <span class="number pull-right">{{member.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
