{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{index-header}}
      {{data-center-list model=model link="data-centers" searchable=true}}
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
