{{#if (can "read data-center" model)}}
  <div class="row">
    <div class="col-md-9" id="show">
      <div class="panel panel-default" id="content-member">
        <div class="panel-body">
          <h3 class="member">
            {{model.title}}
          </h3>

          {{model.name}}
          <span>{{fa-icon "question-circle"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each data center has a unique ID that starts with the member ID.{{/bs-tooltip}}
          </span>
          {{#if (can "write data-center")}}
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm">
                {{#link-to "data-centers.edit" data-center.id}}{{fa-icon "pencil"}}{{/link-to}}
              </div>
              {{#if (can "delete data-center")}}
                <div class="btn-toolbar pull-right">
                  <div class="btn-group btn-group-sm">
                    {{#link-to "data-centers.edit" data-center.id}}{{fa-icon "trash"}}{{/link-to}}
                  </div>
                </div>
              {{/if}}
            </div>
            <div class="clearfix"/>
          {{/if}}
        </div>
      </div>
    </div>
    {{datacenter-sidebar model=model}}
  </div>
{{/if}}
