{{#if (can "read data-center" model)}}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "members.show" model.member.id}}{{model.member.title}}{{/link-to}}</li>
  </ol>

  <div class="row">
    <div class="col-md-9" id="show">
      <div class="panel panel-transparent" id="content-member">
        <div class="panel-title work">
          <h2>{{model.title}}</h2>
        </div>
        <div class="panel-footer">
          {{model.name}}
          <span>{{fa-icon "question-circle-o"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each data center has a unique ID that starts with the member ID.{{/bs-tooltip}}
          </span>
          {{#if (can "write data-center")}}
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm pull-right">
                {{#link-to "data-centers.edit" model.id}}{{fa-icon "pencil"}}{{/link-to}}
              </div>
              {{#if (can "delete data-center")}}
                <div class="btn-toolbar pull-right">
                  <div class="btn-group btn-group-sm pull-right">
                    {{#link-to "data-centers.edit" model.id}}{{fa-icon "tra"}}{{/link-to}}
                  </div>
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{datacenter-sidebar model=model}}
  </div>

  <div class="row">
    <div class='col-md-9'>
      <div class="tab-content nav-tabs-member">
        {{#bs-nav type="tabs" as |nav|}}
          {{#nav.item}}{{#nav.link-to "data-centers.show.users" model.id class="nav-link"}}Users{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "data-centers.show.works" model.id class="nav-link"}}DOIs{{/nav.link-to}}{{/nav.item}}
        {{/bs-nav}}
      </div>
    </div>
  </div>
  {{outlet}}
{{/if}}
