{{#if (can "read provider" model)}}
  {{application-header default=true}}

  <div class="container-fluid">
    {{#if (can "read index" )}}
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to "providers"}}Providers{{/link-to}}</li>
      </ol>
    {{/if}}

    {{#if model.logoUrl}}
      <div class="pull-right">
        <img class="img-small" alt="logo" src={{model.logoUrl}}>
      </div>
    {{/if}}
    <h2 class="work">{{model.name}}{{#if (not model.isActive)}} <span class="small icon-warning">account not active</span>{{/if}}</h2>

    <div class="tab-content nav-tabs-member">
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item}}{{#nav.link-to "providers.show.index" model.id class="nav-link"}}Info{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "providers.show.settings" model.id class="nav-link"}}Settings{{/nav.link-to}}{{/nav.item}}
        
        {{#if (not-eq model.memberType "member_only")}}
          {{#nav.item}}{{#nav.link-to "providers.show.clients" model.id class="nav-link"}}Clients{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "providers.show.prefixes" model.id class="nav-link"}}Prefixes{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "providers.show.dois" model.id class="nav-link doi"}}DOIs{{/nav.link-to}}{{/nav.item}}
        {{/if}}
      {{/bs-nav}}
    </div>

    {{outlet}}
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
