{{#if (can 'read provider' model)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (or (can 'read index') (can 'read provider' model.consortium))}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' model.consortium)
            (eq model.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{model.consortium.id}}
            >
              {{model.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{model.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
      </ol>
    {{/if}}
    {{#if model.logoUrl}}
      <div class="pull-right">
        <img class="img-small" alt="logo" src={{model.logoUrl}} />
      </div>
    {{/if}}
    <h2 class="work">
      {{model.displayName}}
      {{#if (not model.isActive)}}
        <span class="label label-warning-inv">
          Inactive
        </span>
      {{/if}}
    </h2>
    <div class="tab-content nav-tabs-member">
      <BsNav
        @type="tabs"
        @justified={{false}}
        @stacked={{false}}
        @fill={{false}} as |nav|
      >
        {{#link-to route='providers.show.index' tagName="li" model=model.id}}
            {{#link-to route='providers.show.index' class='nav-link'}}
                Info
            {{/link-to}}
        {{/link-to}}
        {{#link-to route='providers.show.settings' tagName="li" model=model.id}}
            {{#link-to route='providers.show.settings' class='nav-link'}}
                Settings
            {{/link-to}}
        {{/link-to}}
        {{#if (eq model.memberType 'consortium')}}
          {{#link-to route='providers.show.organizations' tagName="li"}}
              {{#link-to route='providers.show.organizations' class='nav-link'}}
                  Consortium Organizations
              {{/link-to}}
          {{/link-to}}
        {{/if}}
        {{#if (not-eq model.memberType 'developer')}}
          {{#link-to route='providers.show.contacts' tagName="li" model=model.id}}
              {{#link-to route='providers.show.contacts' class='nav-link'}}
                  Contacts
              {{/link-to}}
          {{/link-to}}
          {{#if (not-eq model.memberType 'member_only')}}
            {{#link-to route='providers.show.repositories' tagName="li" model=model.id}}
                {{#link-to route='providers.show.repositories' class='nav-link'}}
                    Repositories
                {{/link-to}}
            {{/link-to}}
            {{#link-to route='providers.show.prefixes' tagName="li" model=model.id}}
                {{#link-to route='providers.show.prefixes' class='nav-link'}}
                    Prefixes
                {{/link-to}}
            {{/link-to}}
            {{#link-to route='providers.show.dois' tagName="li" model=model.id}}
                {{#link-to route='providers.show.dois' class='nav-link'}}
                    DOIs
                {{/link-to}}
            {{/link-to}}
          {{/if}}
        {{/if}}
      </BsNav>
    </div>
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}