
{{#if (can 'read provider' this.model)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (or (can 'read index') (can 'read provider' this.model.consortium))}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' this.model.consortium)
            (eq this.model.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{this.model.consortium.id}}
            >
              {{this.model.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{this.model.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
      </ol>
    {{/if}}
    {{#if this.model.logoUrl}}
      <div class="pull-right">
        <img class="img-small" alt="logo" src={{this.model.logoUrl}} />
      </div>
    {{/if}}
    <h2 class="work">
      {{this.model.displayName}}
      {{#unless this.model.isActive}}
        <span class="label label-warning-inv">
          Inactive
        </span>
      {{/unless}}
    </h2>
    <ShowProviderTabs />
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}