
{{#if (can 'read provider' this.model)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (or (can 'read index') (can 'read provider' this.model.consortium))}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' this.model.consortium)
            (eq this.model.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{this.model.consortium.id}}
            >
              {{this.model.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{this.model.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
      </ol>
    {{/if}}
    {{#if this.model.logoUrl}}
      <div class="pull-right">
        <img class="img-small" alt="logo" src={{this.model.logoUrl}} />
      </div>
    {{/if}}
    <h2 class="work">
      {{this.model.displayName}}
      {{#if (not this.model.isActive)}}
        <span class="label label-warning-inv">
          Inactive
        </span>
      {{/if}}
    </h2>
    <div class="tab-content nav-tabs-member">
      <BsNav
        @type="tabs"
        @justified={{false}}
        @stacked={{false}}
        @fill={{false}} as |nav|
      >
        <LinkTo @route='providers.show.index' @tagName="li" @model={{this.model.id}}>
            <LinkTo @route='providers.show.index' class='nav-link'>
                Info
            </LinkTo>
        </LinkTo>
        <LinkTo @route='providers.show.settings' @tagName="li" @model={{this.model.id}}>
            <LinkTo @route='providers.show.settings' class='nav-link'>
                Settings
            </LinkTo>
        </LinkTo>
        {{#if (eq this.model.memberType 'consortium')}}
          <LinkTo @route='providers.show.organizations' @tagName="li">
              <LinkTo @route='providers.show.organizations' class='nav-link'>
                  Consortium Organizations
              </LinkTo>
          </LinkTo>
        {{/if}}
        {{#if (not-eq this.model.memberType 'developer')}}
          <LinkTo @route='providers.show.contacts' @tagName="li" @model={{this.model.id}}>
              <LinkTo @route='providers.show.contacts' class='nav-link'>
                  Contacts
              </LinkTo>
          </LinkTo>
          {{#if (not-eq this.model.memberType 'member_only')}}
            <LinkTo @route='providers.show.repositories' @tagName="li" @model={{this.model.id}}>
                <LinkTo @route='providers.show.repositories' class='nav-link'>
                    Repositories
                </LinkTo>
            </LinkTo>
            <LinkTo @route='providers.show.prefixes' @tagName="li" @model={{this.model.id}}>
                <LinkTo @route='providers.show.prefixes' class='nav-link'>
                    Prefixes
                </LinkTo>
            </LinkTo>
            <LinkTo @route='providers.show.dois' @tagName="li" @model={{this.model.id}}>
                <LinkTo @route='providers.show.dois' class='nav-link'>
                    DOIs
                </LinkTo>
            </LinkTo>
          {{/if}}
        {{/if}}
      </BsNav>
    </div>
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}