<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3"><h3 class="edit">Add Repository</h3></div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model.repository}} @onSubmit={{action "submit" model.repository model}} @submitOnEnter={{true}} as |form|>
      <RepositoryId @model={{model.repository}} @provider={{model.provider}} @form={{form}} />
      <form.element @controlType="power-select" @id="client-type" @label="Type" @property="clientType" @options={{clientTypes}} @destination={{clientType}} as |el|>
        <el.control @onChange={{action "selectClientType"}} @search={{action "searchClientType"}} @placeholder="Select Client Type" @searchPlaceholder="Type to search..." as |item|>
          {{titleize item}}
        </el.control>
      </form.element>

      {{#if (can "create provider")}}
        <form.element @controlType="text" @id="salesforce-id" @label="Salesforce ID" @property="salesforceId" @required={{false}} @helpText="The 18 digit ID in Salesforce." />
      {{/if}}

      {{#if (can "token provider")}}
        <form.element @controlType="text" @id="globus-uuid" @label="Globus UUID (optional)" @property="globusUuid" @required={{false}} @helpText="The Globus UUID used for token authentication." />
      {{/if}}

      {{#if (eq model.repository.clientType "repository")}}
        <form.element @id="re3data" @controlType="power-select" @property="re3data" @label="re3data Record (optional)" @optionLabelPath="re3data" @options={{repositories}} @destination={{re3data}} @helpText="re3data is a registry of research data repositories." as |el|>
          <el.control @onChange={{action "selectRe3Data"}} @search={{action "searchRe3Data"}} @searchField="repositoryName" @searchPlaceholder="Type to search..." @allowClear={{true}} as |item|>
            {{if item.name item.name model.repository.re3data}}
          </el.control>
        </form.element>
      {{else if (eq model.repository.clientType "periodical")}}
        <RepositoryIssn @model={{model.repository}} @fragment={{model.repository.issn}} @form={{form}} />
      {{/if}}

      <form.element @controlType="text" @id="name" @label="Repository Name" @property="name" @useIcons={{false}} @required={{false}} />
      <form.element @controlType="text" @id="alternate-name" @label="Repository Alternate Name (optional)" @property="alternateName" @required={{false}} />
      <form.element @controlType="email" @id="system-email" @label="System Email" @property="systemEmail" @helpText="This is the email used for sending password reset requests and similar system notifications." @useIcons={{false}} @required={{false}} />
      
      <div class="form-group">
        <label class="control-label col-md-3">Service Contact</label>
        <div class="col-md-9">
          <div>
            <label for="givenName" class="subtitle">Given Name (optional)</label>
            <Input @type="text" class="form-control" @id="service-contact-given-name" @value={{model.repository.serviceContact.givenName}} required={{false}} />
          </div>
          <div>
            <label for="familyName" class="subtitle">Family Name (optional)</label>
            <Input @type="text" class="form-control" @id="service-contact-family-name" @value={{model.repository.serviceContact.familyName}} required={{false}} />
          </div>
          <div class="{{if (v-get model.repository.serviceContact 'isInvalid') 'has-error has-feedback'}}">
            <label for="email" class="subtitle control-label">Email (optional)</label>
            <Input @type="text" class="form-control" @id="service-contact-email" @value={{model.repository.serviceContact.email}} required={{false}} />
            {{#if (v-get model.repository.serviceContact 'isInvalid')}}
              <div class="help-block help-block-fragment" data-test-service-contact-email-help>{{v-get model.repository.serviceContact 'message'}}</div>
            {{/if}}
          </div>
        </div>
      </div>
      
      <form.element @controlType="textarea" @id="description" @label="Description (optional)" @property="description" @rows="10" @helpText="Description of the repository. Please use markdown for formatting." @required={{false}} />
      <form.element @controlType="text" @id="url" @label="URL (optional)" @property="url" @helpText="The homepage of the repository." @required={{false}} />
      
      <div class="form-group" id="language">
        <label class="control-label col-md-3">Language (optional)</label>
        <div class="col-md-9">
          {{#if (gt model.repository.language.length 0)}}
            {{#each model.repository.language as |language index|}}
              <RepositoryLanguage @model={{model.repository}} @language={{language}} @form={{form}} @index={{index}} />
            {{/each}}
          {{/if}}
          {{#if (lte model.repository.language.length 2)}}
            <BsButton @class="btn-sm add-language" @outline={{true}} @onClick={{action "addLanguage"}}>{{fa-icon "plus-circle"}} Add Language</BsButton>
          {{/if}}
        </div>
      </div>

      <form.element @id="software" @controlType="power-select" @label="Software (optional)" @property="software" @options={{softwares}} @destination={{software}} @helpText="The name of the software that is used to run the repository." as |el|>
        <el.control @onChange={{action "selectSoftware"}} @search={{action "searchSoftware"}} @placeholder="Select Software" @searchPlaceholder="Type to search..." @allowClear={{true}} as |item|>
          {{item}}
        </el.control>
      </form.element>
      <form.element @controlType="textarea" @id="domains" @label="Domains" @property="domains" @required={{false}} @helpText="List of (sub-)domains used for DOI registration, or use * to allow all domains" />
      
      {{#if (eq model.repository.clientType "repository")}}
        <div class="form-group" id="repository-type">
          <label class="control-label col-md-3">Repository Type (optional)</label>
          <div class="col-md-9">
            {{#if (gt model.repository.repositoryType.length 0)}}
              {{#each model.repository.repositoryType as |repositoryType index|}}
                <RepositoryRepositoryType @model={{model.repository}} @repositoryType={{repositoryType}} @form={{form}} @index={{index}} />
              {{/each}}
            {{/if}}
            {{#if (lte model.repository.repositoryType.length 2)}}
              <BsButton @class="btn-sm add-repositoryType" @outline={{true}} @onClick={{action "addRepositoryType"}}>{{fa-icon "plus-circle"}} Add Repository Type</BsButton>
            {{/if}}
          </div>
        </div>

        <div class="form-group" id="certificate">
          <label class="control-label col-md-3">Certificate (optional)</label>
          <div class="col-md-9">
            {{#if (gt model.repository.certificate.length 0)}}
              {{#each model.repository.certificate as |certificate index|}}
                <RepositoryCertificate @model={{model.repository}} @certificate={{certificate}} @form={{form}} @index={{index}} />
              {{/each}}
            {{/if}}
            {{#if (lte model.repository.certificate.length 2)}}
              <BsButton @class="btn-sm add-certificate" @outline={{true}} @onClick={{action "addCertificate"}}>{{fa-icon "plus-circle"}} Add Certificate</BsButton>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <form.element @controlType="checkbox" @id="is-active" @label="Account is active" @property="isActive" @helpText="This account can register and update DOIs" />

      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (repository-form-errors model.repository))}}
          <button type="submit" id="add-repository" class="btn btn-sm btn-fill" disabled={{false}}>Add Repository</button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this repository, first resolve the errors with these fields: {{repository-form-errors model.repository}}.
          </BsAlert>

          <button type="submit" id="add-repository" class="btn btn-sm btn-fill" disabled={{true}}>Add Repository</button>          
        {{/if}}

        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>
  </div>
</div>
