{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
      <IndexHeader />

      <div class='col-md-3'>
        {{#if (can "write prefix")}}
          <div class="panel facets">
            <div class="panel-body">
              <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                  <LinkTo @route="prefixes.new" class="btn btn-warning" @id="add-prefixes">{{fa-icon "link"}}Add Prefixes</LinkTo>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <div class="panel panel-transparent">
            <div class="panel-body">
              <div class="edit"></div>
            </div>
          </div>
        {{/if}}

        {{#if model.meta.states}}
          <div class="panel facets add">
            <div class="panel-body">
              <h4>State <span class="small">{{fa-icon "question-circle-o"}}<BsTooltip @placement="top">Filter prefixes by whether they have been assigned to a provider and/or repository.</BsTooltip></span></h4>
              <ul>
                {{#each model.meta.states as |state|}}
                  <li>
                    {{#if model.query.state}}
                      <LinkTo @route="prefixes" @query={{hash state=null}}>{{fa-icon "check-square-o"}}</LinkTo>
                    {{else}}
                      <LinkTo @route="prefixes" @query={{hash state=state.id}}>{{fa-icon "square-o"}}</LinkTo>
                    {{/if}}
                    <div class="facet-title">{{state.title}}</div>
                    <span class="number pull-right">{{state.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}

        {{#if model.meta.years}}
          <div class="panel facets add">
            <div class="panel-body">
              <h4>Year created</h4>
              <ul>
                {{#each model.meta.years as |year|}}
                  <li>
                    {{#if model.query.year}}
                      <LinkTo @route="prefixes" @query={{hash year=null}}>{{fa-icon "check-square-o"}}</LinkTo>
                    {{else}}
                      <LinkTo @route="prefixes" @query={{hash year=year.id}}>{{fa-icon "square-o"}}</LinkTo>
                    {{/if}}
                    <div class="facet-title">{{year.title}}</div>
                    <span class="number pull-right">{{year.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
        {{#if model.meta.providers}}
          <div class="panel facets">
            <div class="panel-body">
              <h4>Providers <span class="small">{{fa-icon "question-circle-o"}}<BsTooltip @placement="top">Filter prefixes by DOI Registration Provider they work with.</BsTooltip></span></h4>
              <ul>
                {{#each model.meta.providers as |provider|}}
                  <li>
                    {{#if model.query.provider-id}}
                      <LinkTo @route="prefixes" @query={{hash provider-id=null}}>{{fa-icon "check-square-o"}}</LinkTo>
                    {{else}}
                      <LinkTo @route="prefixes" @query={{hash provider-id=provider.id}}>{{fa-icon "square-o"}}</LinkTo>
                    {{/if}}
                    <div class="facet-title">{{provider.title}}</div>
                    <span class="number pull-right">{{provider.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
      
    <div class="col-md-9 panel-list" id="content">
      <ModelSearch @model={{model}} @sortable={{true}} @link="prefixes" />

      {{#if model}}
        {{#each model as |prefix|}}
          <div class="panel panel-transparent">
            <div class="panel-body">
              <h3 class="member">{{prefix.id}}</h3>

              <h5>{{pluralize prefix.providers.length "Provider" without-count=true}}</h5>
              {{#if prefix.providers}}
                {{#each prefix.providers as |provider|}}
                  <LinkTo @route="providers.show.prefixes.show" @models={{array provider.id prefix.id}}>{{provider.name}}</LinkTo><br/>
                {{/each}}
              {{else}}
                <span class="icon-warning">No providers found.</span>
              {{/if}}

              <h5>{{pluralize prefix.repositories.length "Repository" without-count=true}}</h5>
              {{#if prefix.repositories}}
                {{#each prefix.repositories as |repository|}}
                  <LinkTo @route="repositories.show.prefixes.show" @models={{array repository.id prefix.id}}>{{repository.name}}</LinkTo><br/>
                {{/each}}
                {{#if features.useElasticsearch}}
                  <h5>DOIs</h5>
                  <LinkTo @route="dois" @query={{hash prefix=prefix.id}}>DOIs for prefix {{prefix.id}}</LinkTo>
                {{/if}}
              {{else}}
                <span class="icon-warning">No repositories found.</span>
              {{/if}}

              <h5>Created</h5>
              {{format-time prefix.created year='numeric' month='long' day='numeric' hour='numeric' minute='numeric' second='numeric' timeZone='UTC' timeZoneName='short' hour12=false}}
            </div>
          </div>
        {{/each}}
        <div class="text-center">
          {{#if (gt model.meta.totalPages 1)}}
            <PageNumbers @model={{model}} @link="prefixes" />
          {{/if}}
        </div>
      {{else}}
        <BsAlert @dismissible={{false}} @type="warning">
          No prefixes found.
        </BsAlert>
      {{/if}}
    </div>
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
