{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{index-header}}

            <div class='col-md-3'>
        {{#if (can "write prefix")}}
          <div class="panel facets">
            <div class="panel-body">
              <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                  {{#link-to "prefixes.new" class="btn btn-warning" id="add-prefixes"}}{{fa-icon "link"}}Add Prefixes{{/link-to}}
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <div class="panel panel-transparent">
            <div class="panel-body">
              <div class="edit"></div>
            </div>
          </div>
        {{/if}}

        {{#if model.meta.states}}
          <div class="panel facets add">
            <div class="panel-body">
              <h4>State <span class="small">{{fa-icon "question-circle-o"}}{{#bs-tooltip placement="top"}}Filter prefixes by whether they have been assigned to a provider and/or client.{{/bs-tooltip}}</span></h4>
              <ul>
                {{#each model.meta.states as |state|}}
                  <li>
                    {{#if model.otherParams.state}}
                      {{#link-to 'prefixes' (query-params state=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to 'prefixes' (query-params state=state.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{state.title}}</div>
                    <span class="number pull-right">{{state.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}

        {{#if model.meta.years}}
          <div class="panel facets add">
            <div class="panel-body">
              <h4>Year created</h4>
              <ul>
                {{#each model.meta.years as |year|}}
                  <li>
                    {{#if model.otherParams.year}}
                      {{#link-to 'prefixes' (query-params year=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to 'prefixes' (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{year.title}}</div>
                    <span class="number pull-right">{{year.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
        {{#if model.meta.providers}}
          <div class="panel facets">
            <div class="panel-body">
              <h4>Providers <span class="small">{{fa-icon "question-circle-o"}}{{#bs-tooltip placement="top"}}Filter prefixes by DOI Registration Provider they work with.{{/bs-tooltip}}</span></h4>
              <ul>
                {{#each model.meta.providers as |provider|}}
                  <li>
                    {{#if model.otherParams.provider-id}}
                      {{#link-to 'prefixes' (query-params provider-id=null)}}{{fa-icon "check-square-o"}}{{/link-to}}
                    {{else}}
                      {{#link-to 'prefixes' (query-params provider-id=provider.id)}}{{fa-icon "square-o"}}{{/link-to}}
                    {{/if}}
                    <div class="facet-title">{{provider.title}}</div>
                    <span class="number pull-right">{{provider.count}}</span>
                    <div class="clearfix"/>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
      
      <div class='col-md-9 panel-list' id="content">
        {{model-search model=model sortable=true}}

        {{#if model}}
          {{#each model as |prefix|}}
            <div class="panel panel-transparent">
              <div class="panel-body">
                <h3 class="member">{{prefix.id}}</h3>

                {{#if (eq prefix.id "10.5072")}}
                  <span class="icon-default">Demo prefix</span>
                {{else}}
                  <h5>{{pluralize-word prefix.providers.length "Provider" omitCount=true}}</h5>
                  {{#if prefix.providers}}
                    {{#each prefix.providers as |provider|}}
                      {{#link-to "providers.show.prefixes.show" provider.id prefix.id}}{{provider.name}}{{/link-to}}<br/>
                    {{/each}}
                  {{else}}
                    <span class="icon-warning">No providers found.</span>
                  {{/if}}

                  <h5>{{pluralize-word prefix.clients.length "Client" omitCount=true}}</h5>
                  {{#if prefix.clients}}
                    {{#each prefix.clients as |client|}}
                      {{#link-to "clients.show.prefixes.show" client.id prefix.id}}{{client.name}}{{/link-to}}<br/>
                    {{/each}}
                    {{#if features.useElasticsearch}}
                      <h5>DOIs</h5>
                      {{#link-to "dois" (query-params prefix=prefix.id)}}DOIs for prefix {{prefix.id}}{{/link-to}}
                    {{/if}}
                  {{else}}
                    <span class="icon-warning">No clients found.</span>
                  {{/if}}
                {{/if}}

                <h5>Created</h5>
                {{format-time prefix.created year='numeric' month='long' day='numeric'}}
              </div>
            </div>
          {{/each}}
          <div class="text-center">
            {{#if (gt model.meta.total_pages 1)}}
              {{page-numbers content=model numPagesToShow=5 showFL=true}}
            {{/if}}
          </div>
        {{else}}
          {{#bs-alert dismissible=false type="warning"}}
            No prefixes found.
          {{/bs-alert}}
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
