{{#if (can "read prefix" model)}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{#if (can "read index" )}}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
        </ol>
      {{/if}}

      <h2 class="work">{{model.id}}</h2>

      <div class="panel panel-transparent">
        <div class="panel-body">
          <h5>Providers</h5>
          {{#if model.members}}
            {{#each model.members as |member|}}
              {{#link-to "members.show.prefixes" member.id}}{{member.name}}{{/link-to}}
            {{/each}}
          {{else}}
            <span class="icon-warning">No providers found.</span>
          {{/if}}

          <h5>Clients</h5>
          {{#if model.data-centers}}
            {{#each model.data-centers as |data-center|}}
              {{#link-to "data-centers.show.prefixes" data-center.id}}{{data-center.name}}{{/link-to}}
            {{/each}}
          {{else}}
            <span class="icon-warning">No clients found.</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
