<h2 class="work">{{model.doi}}</h2>

<h3 class="edit">Edit DOI</h3>

<div class="row">
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#bs-form formLayout="vertical" model=model onSubmit=(action "submit" model) as |form|}}
          {{form.element controlType="text" label="DOI" placeholder="DOI" property="doi" helpText="The globally unique string that identifies the resource. Can't be modified." disabled=true}}
          {{form.element controlType="text" label="URL" placeholder="URL" property="url" helpText="The location of the landing page with more information about the resource." required=false}}

          {{form.element controlType="hidden" property="creator" value=null}}
          {{form.element controlType="hidden" property="title" value=null}}
          {{form.element controlType="hidden" property="publisher" value=null}}
          {{form.element controlType="hidden" property="published" value=null}}
          {{form.element controlType="hidden" property="resourceTypeId" value=null}}
          {{form.element controlType="hidden" property="resourceTypeSubtype" value=null}}
          {{form.element controlType="hidden" property="description" value=null}}
          {{form.element controlType="hidden" property="license" value=null}}

          {{doi-upload model=model form=form}}
          {{doi-state model=model form=form}}

          {{model-validation-errors model=model form=form}}

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" disabled={{v-get model 'isInvalid'}} class="btn btn-sm btn-fill">Save</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    {{client-sidebar model=model}}
  </div>
</div>