<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      <h3 class="edit">
        Create Consortium Organization
      </h3>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
    <BsForm
      @formLayout="horizontal"
      @horizontalLabelGridClass="col-md-3"
      @model={{model.organization}}
      @onSubmit={{action 'submit'}}
      @submitOnEnter={{true}} as |form|
    >
      <h3 class="member-results">
        Organization Information
      </h3>
      <form.element
        @controlType="hidden"
        @property="consortium"
        @required={{false}}
      />
      <ProviderId @model={{model.organization}} @form={{form}} />
      <form.element
        @controlType="text"
        @id="member-type"
        @label="Member Type"
        @value="Consortium Organization"
        @readonly={{true}}
      />
      <form.element
        @controlType="text"
        @id="name"
        @label="Organization Name"
        @property="name"
        @required={{false}}
        @helpText="The official name of your organization."
      />
      <form.element
        @controlType="text"
        @id="display-name"
        @label="Organization Display Name"
        @property="displayName"
        @required={{false}}
        @helpText="Name of your organization as you would like it to appear in Fabrica and on DataCite’s website."
      />
      {{#if features.enableDoiEstimate}}
        <form.element
          @controlType="text"
          @id="doi-estimate"
          @label="Estimated DOIs"
          @placeholder = "0"
          @property="doiEstimate"
          @required={{true}}
          @helpText={{html-safe "Enter the number of DOIs expected to be registered annually. This amount will be pro-rated for the remaining months of the year. If the consortium fee cap applies enter zero (0). See more details in our <a href='https://datacite.org/feemodel.html' target='_blank'>fee model</a>."}}
        />
      {{/if}}
      <form.element
        @controlType="power-select"
        @id="ror-id"
        @label="Organization identifier (optional)"
        @property="rorId"
        @optionLabelPath="rorId"
        @options={{organizations}}
        @destination={{rorId}}
        @helpText="Organization identifiers are provided by the Research Organization Registry (ROR)." as |el|
      >
        <el.control
          @onChange={{action 'selectRor'}}
          @search={{action 'searchRor'}}
          @placeholder="Select Organization"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{if item.name item.name model.organization.rorId}}
        </el.control>
      </form.element>
      {{#if (can 'create provider')}}
        <form.element
          @controlType="text"
          @id="salesforce-id"
          @label="Salesforce ID"
          @property="salesforceId"
          @required={{false}}
          @helpText="The 18 digit ID in Salesforce."
        />
      {{/if}}
      {{#if (can 'token provider')}}
        <form.element
          @controlType="text"
          @id="globus-uuid"
          @label="Globus UUID (optional)"
          @property="globusUuid"
          @required={{false}}
          @helpText="The Globus UUID used for token authentication."
        />
      {{/if}}
      {{#if (can 'create provider')}}
        <form.element
          @controlType="power-select"
          @id="tax-status"
          @label="Tax Status"
          @property="nonProfitStatus"
          @options={{nonProfitStatuses}}
          @destination={{nonProfitStatus}} as |el|
        >
          <el.control
            @onChange={{action 'selectNonProfitStatus'}}
            @search={{action 'searchNonProfitStatus'}}
            @placeholder="Tax Status"
            @searchPlaceholder="Type to search..." as |item|
          >
            {{titleize item}}
          </el.control>
        </form.element>
      {{/if}}
      <form.element
        @controlType="text"
        @id="system-email"
        @label="System Email"
        @property="systemEmail"
        @helpText="This is the email used for sending password reset requests and similar system notifications."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="group-email"
        @label="Group Email (optional)"
        @property="groupEmail"
        @helpText="A generic shared email address (such as info@datacite.org or similar) where you would like to receive communications from DataCite."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="website"
        @label="Website"
        @property="website (optional)"
        @helpText="Website of the organization."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="twitter-handle"
        @label="Twitter (optional)"
        @property="twitterHandle"
        @placeholder="Add @twitter account"
        @helpText="DataCite will follow you on twitter."
        @required={{false}}
      />
      <form.element
        @controlType="power-select"
        @id="country"
        @label="Country (optional)"
        @property="country"
        @optionLabelPath="name"
        @options={{countries}}
        @destination={{country}}
        @helpText="Country where the organization is located." as |el|
      >
        <el.control
          @onChange={{action 'selectCountry'}}
          @search={{action 'searchCountry'}}
          @searchField="name"
          @placeholder="Select Country"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{item.name}}
        </el.control>
      </form.element>
      <form.element
        @controlType="power-select"
        @id="organization-type"
        @label="Organization Type (optional)"
        @property="organizationType"
        @options={{organizationTypes}}
        @destination={{organizationType}} as |el|
      >
        <el.control
          @onChange={{action 'selectOrganizationType'}}
          @search={{action 'searchOrganizationType'}}
          @placeholder="Select Organization Type"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{titleize (humanize (underscore item))}}
        </el.control>
      </form.element>
      <form.element
        @controlType="power-select"
        @id="focus-area"
        @label="Focus Area (optional)"
        @property="focusArea"
        @options={{focusAreas}}
        @destination={{focusArea}}
        @helpText="Field of research covered by organization." as |el|
      >
        <el.control
          @onChange={{action 'selectFocusArea'}}
          @search={{action 'searchFocusArea'}}
          @placeholder="Select Focus Area"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{titleize (humanize (underscore item))}}
        </el.control>
      </form.element>
      <form.element
        @controlType="textarea"
        @id="description"
        @label="Description (optional)"
        @property="description"
        @rows="10"
        @helpText="Description of the organization. Please use markdown for formatting."
        @required={{false}}
      />
      <form.element
        @controlType="checkbox"
        @id="is-active"
        @label="Account is active"
        @property="isActive"
        @required={{false}}
        @helpText="This account can manage repositories and prefixes"
      />
      <h3 class="member-results">
        Contact Information
      </h3>
      <div class="col-md-9 col-md-offset-3">
        <BsAlert @dismissible={{false}} @type="danger">
          Please add at least one contact via the consortium organization contacts menu after creating
          this consortium organization.
        </BsAlert>
        <BsAlert @dismissible={{false}} @type="warning">
          The contacts entered may receive notifications about administration, webinars, product testing,
            or news that will impact the use of DataCite services and/or membership. Individuals may remove
            themselves from mailings by following the unsubscribe link provided in every DataCite email.
            For information about our privacy practices and commitment to protecting your privacy, please
            review our
          <a
            target="_blank"
            rel="noreferrer"
            href="https://datacite.org/privacy.html"
          >
            Privacy Policy
          </a>
        </BsAlert>
      </div>
      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (provider-form-errors model.organization))}}
          <button
            type="submit"
            id="add-organization"
            class="btn btn-sm btn-fill"
            disabled={{false}}
          >
            Add Consortium Organization
          </button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this consortium organization, first resolve the errors with these fields:
            {{provider-form-errors model.organization}}
            .
          </BsAlert>
          <button
            type="submit"
            id="add-organization"
            class="btn btn-sm btn-fill"
            disabled={{true}}
          >
            Add Consortium Organization
          </button>
        {{/if}}
        <button class="btn btn-sm" {{action 'cancel'}}>
          Cancel
        </button>
      </div>
    </BsForm>
  </div>
</div>