<div class='col-md-3'>
  <PrefixAvailable @model={{model}} @link="repositories.show.prefixes.new" />

  {{#if model.prefixes.meta.years}}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>Year created</h4>
        <ul>
          {{#each model.prefixes.meta.years as |year|}}
            <li>
              {{#if model.prefixes.query.year}}
                <LinkTo @route="repositories.show.prefixes" @query={{hash year=null}}>{{fa-icon "check-square-o"}}</LinkTo>
              {{else}}
                <LinkTo @route="repositories.show.prefixes" @query={{hash year=year.id}}>{{fa-icon "square-o"}}</LinkTo>
              {{/if}}
              <div class="facet-title">{{year.title}}</div>
              <span class="number pull-right">{{year.count}}</span>
              <div class="clearfix"/>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>

<div class='col-md-9 panel-list' id="content">
  <ModelSearch @model={{model.prefixes}} @name="Prefix" @link="repositories.show.prefixes" />

  {{#if model.prefixes}}
    {{#each model.prefixes as |repositoryPrefix|}}
      <div class="panel panel-transparent" data-test-prefix>
        <div class="panel-body">
          {{#if (can "update prefix" model)}}
            <h3 class="work"><LinkTo @route="repositories.show.prefixes.show" @models={{array model.repository.id repositoryPrefix.prefix.id}}>{{repositoryPrefix.prefix.id}}</LinkTo></h3>
          {{else}}
            <h3 class="member">{{repositoryPrefix.prefix.id}}</h3>
          {{/if}}

          {{#if features.useElasticsearch}}
            <h5>DOIs</h5>
            <LinkTo @route="repositories.show.dois" @model={{repositoryPrefix.repository.id}} @query={{hash prefix=repositoryPrefix.prefix.id}}>DOIs for prefix {{repositoryPrefix.prefix.id}}</LinkTo>
          {{/if}}

          <h5>Added</h5>
          {{format-time repositoryPrefix.created year='numeric' month='long' day='numeric' hour='numeric' minute='numeric' second='numeric' timeZone='UTC' timeZoneName='short' hour12=false}}
        </div>
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt model.prefixes.meta.totalPages 1)}}
        <PageNumbers @model={{model.prefixes}} @link="repositories.show.prefixes" />
      {{/if}}
    </div>
  {{else}}
    <BsAlert @dismissible={{false}} @type="warning">
      No prefixes found.
    </BsAlert>
  {{/if}}
</div>
