<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3"><h3 class="edit">Assign Prefix</h3></div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model=<model.repository-prefix @onSubmit={{action "submit"}} as |form|>
      <form.element @controlType="power-select" @id="provider-prefix-add" @label="Prefix" @property="provider-prefix" @options=<ProviderPrefixes as |el|>
        <el.control @onChange={{action "selectPrefix"}} @selected={{prefix}} @search={{action "searchPrefix"}} @optionLabelPath="id" @searchField="id" @searchPlaceholder="Select from list or type to search..." @searchEnabled={{true}} as |item|>
          {{if item.prefix.id item.prefix.id item.id}}
        </el.control>
      </form.element>

      <div class="col-md-9 col-md-offset-3">
        <div class="btn-toolbar">
          <button type="submit" disabled={{disabled}} class="btn btn-sm btn-fill">Assign Prefix</button>
          <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
        </div>
      </div>
    </BsForm>
  </div>
</div>
