<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>About Us</h4>
      <ListLinks @links={{this.data.about_links}} />
    </div>
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>Work With Us</h4>
      <ListLinks @links={{this.data.work_with_us_links}} />
    </div>
    <div class='col-md-3 col-sm-4 footer-column'>
      <h4>Membership</h4>
      <ListLinks @links={{this.data.membership_links}} />
      <h4>Resources</h4>
      <ListLinks @links={{this.data.resources_links}} />
    </div>
    <div class='col-md-3 footer-column'>
      <h4 class="share">Contact us</h4>
      <a href={{get (links) 'MAIL_URL' }} class="share">
        <i class="fas fa-envelope"></i>
      </a>
      <a href={{get (links) 'BLOG_URL'}} class="share">
        <i class="fas fa-blog"></i>
      </a>
      <a href={{get (links) 'GITHUB_URL'}} class="share">
        <i class="fab fa-github"></i>
      </a>
      <a href={{get (links) 'TWITTER_URL'}} class="share">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" style="fill: #a3acb2;position: relative;bottom: -3;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>
      </a>
      <a href={{get (links) 'MASTODON_URL'}} class="share">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="fill: #a3acb2;position: relative;bottom: -3;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"/></svg>
      </a>
      <a href={{get (links) 'LINKEDIN_URL'}} class="share">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href={{get (links) 'YOUTUBE_URL'}} class="share">
        <i class="fab fa-youtube"></i>
      </a>
      <ListLinks @links={{this.data.contact_links}} @class="share" />
      <FooterStatus />
    </div>
  </div>
</footer>
