<BsNavbar
  class="navbar-default"
  @type={{this.type}}
  @fluid={{true}}
  @collapsed={{this.collapsed}}
  @onCollapse={{action (mut this.collapsed) true}}
  @onExpand={{action (mut this.collapsed) false}} as |navbar|
>
  <div class="navbar-header">
    <navbar.toggle class="navbar-toggle" />
    {{#if this.session.isAuthenticated}}
      <a href="/" class="navbar-brand title-inverted">
        {{#if this.showLogo}}<img src="/assets/images/fabrica-logo.svg" height="50" class="fabrica-logo"/>
        {{else}}{{this.title}}
        {{/if}}
      </a>
    {{else}}
      <a href="/" class="navbar-brand title-inverted">
        {{#if this.showLogo}}<img src="/assets/images/fabrica-logo.svg" height="50" class="fabrica-logo"/>
        {{else}}{{this.title}}
        {{/if}}
      </a>
    {{/if}}
  </div>
  <navbar.content>
    <navbar.nav class="navbar-right {{this.navBgColor}}" as |nav|>
      <nav.item>
        <LinkTo @route="about" id="about" class="{{this.navButtonColor}}">
          About
        </LinkTo>
      </nav.item>
      <nav.item>
        <a target="_blank" rel="noopener noreferrer" href={{get (links) "SUPPORT_URL" }} class="{{this.navButtonColor}}">
          Support
        </a>
      </nav.item>
      {{#if this.user}}
        {{#if this.session.isAuthenticated}}
          <nav.dropdown as |dd|>
            <dd.toggle id="account_menu_link" class="{{this.navButtonColor}}">
              {{#if this.currentUser.isUser}}
                {{this.currentUser.name}}
              {{else}}
                {{uppercase this.currentUser.uid}}
              {{/if}}
              <span class="caret"></span>
            </dd.toggle>
            <dd.menu class="navbar-menu" as |menu|>
              <menu.item>
                <span  class="dropdown-header">
                  Role:
                  {{this.currentUser.roleName}}
                </span>
              </menu.item>
              <menu.item>
                {{#if (is-empty this.settings.model)}}
                  <LinkTo @route="{{settings-route this.settings.route}}">
                    <i class="fas fa-cog"></i>
                      Settings
                  </LinkTo>
                {{else}}
                  <LinkTo @route="{{settings-route this.settings.route}}" @model="{{this.settings.model}}">
                    <i class="fas fa-cog"></i>
                      Settings
                  </LinkTo>
                {{/if}}
              </menu.item>
              <menu.divider />
              <menu.item>
                <a {{action 'invalidateSession'}}>
                  <i class="fas fa-sign-out-alt"></i>
                  Sign out
                </a>
              </menu.item>
            </dd.menu>
          </nav.dropdown>
        {{else}}
          <nav.item>
            <LinkTo
              @route="sign-in"
              id="sign-in"
              class="btn btn-sm btn-neutral"
            >
              <i class="fas fa-sign-in-alt"></i>
              {{t 'user.signin'}}
            </LinkTo>
          </nav.item>
        {{/if}}
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
