<a href="{this.licenseURL}}">
  {{#each this.licenseLogo as |license|}}
    {{#if license.class}}
      <i class="{{license.class}}"><BsPopover @placement="top" @viewportPadding={{10}} @triggerEvents="hover" @title={{license.tooltip.title}}>{{license.tooltip.text}}</BsPopover></i>
    {{else}}
      {{license.logo}}
    {{/if}}
  {{/each}}
</a>
