<div class="power-select-label">
  <label for="relatedItemIdentifier" class="subtitle">Related Item Identifier</label> 
</div> 
<input type="text"
    class="form-control related-item-identifier-field" placeholder="" value={{this.fragment.relatedItemIdentifier}} oninput={{action "updateRelatedItemIdentifierAction" value="target.value"}} data-test-related-item-identifier />

<div class="help-block help-block-fragment related-item-identifier-field">
  Must be a globally unique identifier. Visit the DataCite Metadata Schema documentation for
   <a target="_blank" rel="noopener noreferrer" href="https://datacite-metadata-schema.readthedocs.io/en/4/appendices/appendix-1/relatedIdentifierType"> the list of supported unique identifiers.</a>
</div>

<div class="power-select-label">
  <label for="relatedItemIdentifierType" class="subtitle">Related Identifier Type</label> 
</div> 
<div class="power-select-fragment" disabled={{this.controlledIdentifierType}} doi-related-item-identifier data-test-related-item-identifier-type>
  <@form.element @controlType="power-select" @value={{this.fragment.relatedItemIdentifierType}} @helpText="The type of the Related Identifier." @options={{this.relatedItemIdentifierTypeList}} @destination={{this.relatedItemIdentifierType}} as |el|>
    <el.control @onChange={{action "selectRelatedItemIdentifierTypeAction"}} @allowClear={{true}} @placeholder="Select related Identifier Type" @disabled={{this.controlledIdentifierType}} @searchEnabled={{true}} />
  </@form.element>
</div>
