<div data-test-left-sidebar class="col-md-3">
  {{#unless (and (can 'create doi' this.model) (can 'upload doi' this.model))}}
    <div class="panel panel-transparent">
      <div class="panel-body">
          <BsAlert @dismissible={{false}} @type="warning">
            {{#if this.repository}}
              Sign in with the <b>{{this.repository.symbol}}</b> Repository account to create and update DOIs in this Repository.
            {{else}}
              Sign in with a Repository account to create and update DOIs.
            {{/if}}
            <a href="https://support.datacite.org/docs/why-cant-i-see-the-option-to-create-or-update-dois-when-i-log-into-fabrica" target="_blank" rel="noopener noreferrer">
              Learn more...
            </a>
          </BsAlert>
      </div>
    </div>
  {{/unless}}
  {{#if
    (eq this.link 'repositories.show.dois')
  }}
    {{#if this.repository.isActive}}
      {{#if (and this.repository.isActive (or (can 'create doi' this.model) (can 'upload doi' this.model)) (not (gt this.repository.meta.prefixCount 0)))}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <BsAlert @dismissible={{false}} @type="warning">
              Can't create DOI without a prefix.
            </BsAlert>
          </div>
        </div>
      {{/if}}

      {{#if (gt this.model.length 0) }} 
        <div class="panel facets add-25">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="shrink">
                {{#if (and this.repository.isActive (or (can 'create doi' this.model) (can 'upload doi' this.model)) (gt this.repository.meta.prefixCount 0))}}
                  <CreateDoiButton @model={{this.model}} class="create-doi-button" />
                {{/if}}
                <div class="btn-group-vertical btn-group-sm">
                  <ExportBasicMetadata @model={{this.model}} @client_id={{this.repository.id}} @page={{this.page}} class="btn btn-warning" />
                  {{#if (and (can 'move doi' this.repository))}} 
                    <LinkTo
                      @route="repositories.show.transfer"
                      @model={{this.repository.id}}
                      class="btn btn-warning"
                      id="transfer-dois"
                    >
                      <i class="fas fa-arrow-circle-right"></i>
                      Transfer
                      {{if this.media.isXl ' DOIs'}}
                    </LinkTo>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        {{#if (and this.repository.isActive (or (can 'create doi' this.model) (can 'upload doi' this.model)) (gt this.repository.meta.prefixCount 0))}}
          <div class="panel facets">
            <div class="panel-body">
              <CreateDoiButton @model={{this.model}} class="create-doi-button" />
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if (gt this.model.length 0) }} 
        <div class="panel facets add-25">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group-vertical btn-group-sm">
                <ExportBasicMetadata @model={{this.model}} @client_id={{this.repository.id}} @page={{this.page}} class="btn btn-warning" />
                {{#if (and (can 'move doi' this.repository))}} 
                  <LinkTo
                    @route="repositories.show.transfer"
                    @model={{this.repository.id}}
                    class="btn btn-warning"
                    id="transfer-dois"
                  >
                    <i class="fas fa-arrow-circle-right"></i>
                    Transfer
                    {{if this.media.isXl ' DOIs'}}
                  </LinkTo>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if (and (can 'viewState doi') (or this.model.meta.states this.model.query.state))}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          State
        </h4>
        <ul>
          {{#if this.model.meta.states}}
            {{#each this.model.meta.states as |state|}}
              <li>
                {{#if this.model.query.state}}
                  <LinkTo @route={{this.link}} @query={{hash state=null}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo @route={{this.link}} @query={{hash state=state.id}}>
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{state.title}}
                </div>
                <span class="number pull-right">
                  {{format-number state.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash state=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{titleize this.model.query.state}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if (or this.model.meta.resourceTypes this.model.query.resource-type-id)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          Resource Type
        </h4>
        <ul>
          {{#if this.model.meta.resourceTypes}}
            {{#each this.model.meta.resourceTypes as |resourceType|}}
              <li>
                {{#if this.model.query.resource-type-id}}
                  <LinkTo @route={{this.link}} @query={{hash resource-type-id=''}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo
                    @route={{this.link}}
                    @query={{hash resource-type-id=resourceType.id}}
                  >
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{resourceType.title}}
                </div>
                <span class="number pull-right">
                  {{format-number resourceType.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash resource-type-id=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{humanize (underscore this.model.query.resource-type-id)}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if this.isResearcherProfile}}
    {{#if (or this.model.meta.published this.model.query.published)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>
            Year published
          </h4>
          <ul>
            {{#if this.model.meta.published}}
              {{#each this.model.meta.published as |year|}}
                <li>
                  {{#if this.model.query.published}}
                    <LinkTo @route={{this.link}} @query={{hash published=''}}>
                      <i class="far fa-check-square"></i>
                    </LinkTo>
                  {{else}}
                    <LinkTo @route={{this.link}} @query={{hash published=year.id}}>
                      <i class="far fa-square"></i>
                    </LinkTo>
                  {{/if}}
                  <div class="facet-title">
                    {{year.title}}
                  </div>
                  <span class="number pull-right">
                    {{format-number year.count}}
                  </span>
                  <div class="clearfix"></div>
                </li>
              {{/each}}
            {{else}}
              <li>
                <LinkTo @route={{this.link}} @query={{hash published=''}}>
                  <i class="far fa-check-square"></i>
                </LinkTo>
                <div class="facet-title">
                  {{this.model.query.published}}
                </div>
                <span class="number pull-right">
                  0
                </span>
                <div class="clearfix"></div>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{else if (or this.model.meta.created this.model.query.created)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          Year created
        </h4>
        <ul>
          {{#if this.model.meta.created}}
            {{#each this.model.meta.created as |year|}}
              <li>
                {{#if this.model.query.created}}
                  <LinkTo @route={{this.link}} @query={{hash created=''}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo @route={{this.link}} @query={{hash created=year.id}}>
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{year.title}}
                </div>
                <span class="number pull-right">
                  {{format-number year.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash created=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.created}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if
    (and
      (can 'source doi' this.model) (or this.model.meta.registered this.model.query.registered)
    )
  }}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          Year registered
        </h4>
        <ul>
          {{#if this.model.meta.registered}}
            {{#each this.model.meta.registered as |year|}}
              <li>
                {{#if this.model.query.registered}}
                  <LinkTo @route={{this.link}} @query={{hash registered=''}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo @route={{this.link}} @query={{hash registered=year.id}}>
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{year.title}}
                </div>
                <span class="number pull-right">
                  {{format-number year.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash registered=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.registered}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}

  {{#if
    (and
      (not (is-empty this.model.content))
      (or
        (not-eq this.link 'repositories.show.dois')
        (not-eq this.model.meta.clients this.model.query.client-id)
      )
    )
  }}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          Repository
        </h4>
        <ul>
          {{#if this.model.meta.clients}}
            {{#each this.model.meta.clients as |client|}}
              <li>
                {{#if this.model.query.client-id}}
                  <LinkTo @route={{this.link}} @query={{hash client-id=''}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo @route={{this.link}} @query={{hash client-id=client.id}}>
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{client.title}}
                </div>
                <span class="number pull-right">
                  {{format-number client.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash client-id=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.client-id}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if
    (and
      (can 'source doi' this.model)
      (or this.model.meta.affiliations this.model.query.affiliation-id)
    )
  }}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>
          Affiliation
        </h4>
        <ul>
          {{#if this.model.meta.affiliations}}
            {{#each this.model.meta.affiliations as |affiliation|}}
              {{#if (not-eq affiliation.id affiliation.title)}}
                <li>
                  {{#if this.model.query.affiliation-id}}
                    <LinkTo @route={{this.link}} @query={{hash affiliation-id=null}}>
                      <i class="far fa-check-square"></i>
                    </LinkTo>
                  {{else}}
                    <LinkTo
                      @route={{this.link}}
                      @query={{hash affiliation-id=affiliation.id}}
                    >
                      <i class="far fa-square"></i>
                    </LinkTo>
                  {{/if}}
                  <div class="facet-title">
                    {{affiliation.title}}
                  </div>
                  <span class="number pull-right">
                    {{format-number affiliation.count}}
                  </span>
                  <div class="clearfix"></div>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash affiliation-id=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.affiliation-id}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#unless this.isResearcherProfile}}
    {{#if (or this.model.meta.prefixes this.model.query.prefix)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>
            Prefix
          </h4>
          <ul>
            {{#if this.model.meta.prefixes}}
              {{#each this.model.meta.prefixes as |prefix|}}
                <li>
                  {{#if this.model.query.prefix}}
                    <LinkTo @route={{this.link}} @query={{hash prefix=''}}>
                      <i class="far fa-check-square"></i>
                    </LinkTo>
                  {{else}}
                    <LinkTo @route={{this.link}} @query={{hash prefix=prefix.id}}>
                      <i class="far fa-square"></i>
                    </LinkTo>
                  {{/if}}
                  <div class="facet-title">
                    {{prefix.title}}
                  </div>
                  <span class="number pull-right">
                    {{format-number prefix.count}}
                  </span>
                  <div class="clearfix"></div>
                </li>
              {{/each}}
            {{else}}
              <li>
                <LinkTo @route={{this.link}} @query={{hash prefix=''}}>
                  <i class="far fa-check-square"></i>
                </LinkTo>
                <div class="facet-title">
                  {{this.model.query.prefix}}
                </div>
                <span class="number pull-right">
                  0
                </span>
                <div class="clearfix"></div>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{/unless}}
  {{#if (or this.model.meta.certificates this.model.query.certificate)}}
    <div class="panel facets">
      <div class="panel-body">
        <h4>
          Repository Certificate
        </h4>
        <ul>
          {{#if this.model.meta.certificates}}
            {{#each this.model.meta.certificates as |certificate|}}
              <li>
                {{#if this.model.query.certificate}}
                  <LinkTo @route={{this.link}} @query={{hash certificate=''}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo
                    @route={{this.link}}
                    @query={{hash certificate=certificate.id}}
                  >
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{certificate.title}}
                </div>
                <span class="number pull-right">
                  {{certificate.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash certificate=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{titleize this.model.query.certificate}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#unless this.isResearcherProfile}}
    {{#if (or this.model.meta.schemaVersions this.model.query.schema-version)}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>
            Schema Version
          </h4>
          <ul>
            {{#if this.model.meta.schemaVersions}}
              {{#each this.model.meta.schemaVersions as |schemaVersion|}}
                <li>
                  {{#if this.model.query.schema-version}}
                    <LinkTo @route={{this.link}} @query={{hash schema-version=''}}>
                      <i class="far fa-check-square"></i>
                    </LinkTo>
                  {{else}}
                    <LinkTo
                      @route={{this.link}}
                      @query={{hash schema-version=schemaVersion.id}}
                    >
                      <i class="far fa-square"></i>
                    </LinkTo>
                  {{/if}}
                  <div class="facet-title">
                    {{schemaVersion.title}}
                  </div>
                  <span class="number pull-right">
                    {{format-number schemaVersion.count}}
                  </span>
                  <div class="clearfix"></div>
                </li>
              {{/each}}
            {{else}}
              <li>
                <LinkTo @route={{this.link}} @query={{hash schema-version=''}}>
                  <i class="far fa-check-square"></i>
                </LinkTo>
                <div class="facet-title">
                  {{this.model.query.schema-version}}
                </div>
                <span class="number pull-right">
                  0
                </span>
                <div class="clearfix"></div>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}
  {{/unless}}
  {{#if
    (and (can 'source doi' this.model) (or this.model.meta.sources this.model.query.source))
  }}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>
          Source
        </h4>
        <ul>
          {{#if this.model.meta.sources}}
            {{#each this.model.meta.sources as |source|}}
              <li>
                {{#if this.model.query.source}}
                  <LinkTo @route={{this.link}} @query={{hash source=null}}>
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo @route={{this.link}} @query={{hash source=source.id}}>
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{lowercase source.title}}
                </div>
                <span class="number pull-right">
                  {{format-number source.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash source=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.source}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{#if
    (and
      (can 'viewHealth doi' this.model)
      (or this.model.meta.linkChecksStatus this.model.query.link-checks-status)
    )
  }}
    <div class="panel facets add">
      <div class="panel-body">
        <h4>
          Link Check Status
        </h4>
        <ul>
          {{#if this.model.meta.linkChecksStatus}}
            {{#each this.model.meta.linkChecksStatus as |linkCheckStatus|}}
              <li>
                {{#if this.model.query.link-check-status}}
                  <LinkTo
                    @route={{this.link}}
                    @query={{hash link-check-status=null}}
                  >
                    <i class="far fa-check-square"></i>
                  </LinkTo>
                {{else}}
                  <LinkTo
                    @route={{this.link}}
                    @query={{hash link-check-status=linkCheckStatus.id}}
                  >
                    <i class="far fa-square"></i>
                  </LinkTo>
                {{/if}}
                <div class="facet-title">
                  {{linkCheckStatus.id}}
                </div>
                <span class="number pull-right">
                  {{format-number linkCheckStatus.count}}
                </span>
                <div class="clearfix"></div>
              </li>
            {{/each}}
          {{else}}
            <li>
              <LinkTo @route={{this.link}} @query={{hash link-check-status=''}}>
                <i class="far fa-check-square"></i>
              </LinkTo>
              <div class="facet-title">
                {{this.model.query.link-check-status}}
              </div>
              <span class="number pull-right">
                0
              </span>
              <div class="clearfix"></div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>


<div class="col-md-9 panel-list" id="content">
  {{#if this.searchable}}
    <ModelSearch @model={{this.model}} @link={{this.link}} @sortable={{true}} @placeholder="Type to search. For example 10.4121/17185607.v1" />
  {{/if}}
  {{#if this.model}}
    {{#each this.model as |doi|}}
      <div class="panel panel-transparent" data-test-doi>
        <DoiSummary
          @model={{doi}}
          @isList={{true}}
          @isResearcherProfile={{this.isResearcherProfile}}
        />
        <div class="panel-footer">
          {{#if doi.isDraft}}
            <i class="fas fa-info-circle"></i>{{doi.doi}}
          {{else}}
            <a href={{doi.identifier}} data-test-identifier>
              <i class="fas fa-external-link-alt"></i>
              {{doi.identifier}}
            </a>
          {{/if}}
        </div>
        <br />
      </div>
    {{/each}}
    <div class="text-center">
      {{#if (gt this.model.meta.totalPages 1)}}
        <PageNumbers @model={{this.model}} @link={{this.link}} />
      {{/if}}
    </div>
  {{else}}
    <BsAlert @dismissible={{false}} @type="warning">
      No DOIs found.
    </BsAlert>
  {{/if}}
</div>