<div class="pagination-centered">
  <ul class="pagination">
    {{#if this.previousPage}}
      <li class="arrow prev enabled-arrow">
        <LinkTo @route={{this.link}} @query={{hash page=this.previousPage
          size=25
          created=this.model.query.created
          registered=this.model.query.registered  
          state=this.model.query.state 
          resource-type-id=this.model.query.resource-type-id 
          schema-version=this.model.query.schema-version
          prefix=this.model.query.prefix 
          client-id=this.model.query.client-id 
          source=this.model.query.source 
          year=this.model.query.year 
          region=this.model.query.region
          member-type=this.model.query.member-type
          organization-type=this.model.query.organization-type
          focus-area=this.model.query.focus-area
          link-check-status=this.model.query.link-check-status
          software=this.model.query.software}}>&laquo;
        </LinkTo>
      </li>
    {{else}}
      <li class="arrow prev disabled">
        <a>&laquo;</a>
      </li>
    {{/if}}

    {{#each this.pageItems as |item|}}
      {{#if item.dots}}
        <li class="dots disabled">
          <span>...</span>
        </li>
      {{else if item.current}}
        <li class="active page-number">
          <a>{{item.page}}</a>
        </li>
      {{else}}
        <li class="page-number">
          <LinkTo @route={{this.link}} @query={{hash page=item.page
            size=25
            created=this.model.query.created
            registered=this.model.query.registered  
            state=this.model.query.state 
            resource-type-id=this.model.query.resource-type-id 
            schema-version=this.model.query.schema-version
            prefix=this.model.query.prefix 
            client-id=this.model.query.client-id 
            source=this.model.query.source 
            year=this.model.query.year 
            region=this.model.query.region
            member-type=this.model.query.member-type
            organization-type=this.model.query.organization-type
            focus-area=this.model.query.focus-area
            link-check-status=this.model.query.link-check-status
            software=this.model.query.software}}>{{item.page}}
          </LinkTo>
        </li>
      {{/if}}
    {{/each}}

    {{#if this.nextPage}}
      <li class="arrow next enabled-arrow">
        <LinkTo @route={{this.link}} @query={{hash page=this.nextPage
          size=25
          created=this.model.query.created
          registered=this.model.query.registered  
          state=this.model.query.state 
          resource-type-id=this.model.query.resource-type-id 
          schema-version=this.model.query.schema-version
          prefix=this.model.query.prefix 
          client-id=this.model.query.client-id 
          source=this.model.query.source 
          year=this.model.query.year 
          region=this.model.query.region
          member-type=this.model.query.member-type
          organization-type=this.model.query.organization-type
          focus-area=this.model.query.focus-area
          link-check-status=this.model.query.link-check-status
          software=this.model.query.software}}>&raquo;
        </LinkTo>
      </li>
    {{else}}
      <li class="arrow next disabled">
        <a>&raquo;</a>
      </li>
    {{/if}}
  </ul>
</div>