{{#if (can 'write index')}}
  <div class="panel facets">
    <div class="panel-body">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          {{#if @model.repository}}
            <LinkTo
              @route={{@link}}
              @model={{@model.repository.id}}
              class="btn btn-warning"
              id="assign-prefix"
            >
              <i class="fas fa-link"></i>
              Assign Prefix
            </LinkTo>
          {{else}}
            <LinkTo
              @route={{@link}}
              @model={{@model.repository.id}}
              class="btn btn-warning"
              id="assign-prefix"
            >
              <i class="fas fa-link"></i>
              Assign Prefix
            </LinkTo>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="panel panel-transparent">
    <div class="panel-body">
      <div class="edit"></div>
    </div>
  </div>
{{/if}}