<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3"><h3 class="edit">Transfer DOIs</h3></div>

    <BsForm @formLayout="horizontal" class="form-horizontal" @horizontalLabelGridClass="col-md-3" @model={{this}} @onSubmit={{action "submitAction"}} @submitOnEnter={{true}} as |form|>
      <form.element @controlType="power-select" class="form-group" @property="repository" @label="Repository" @helpText="Transfer all DOIs to this repository. It can take up to one hour for the transfer to complete." @optionLabelPath="name" @options={{this.repositories}} @destination={{this.repository}} as |el|>
        <el.control @onChange={{action "selectRepositoryAction"}} @search={{action "searchRepositoryAction"}} @searchField="name" @searchPlaceholder="Type to search..." @allowClear={{true}} @searchEnabled={{true}} as |item|>
          {{item.name}}
        </el.control>
      </form.element>

      <div class="col-md-9 col-md-offset-3">
        <button class="btn btn-sm btn-fill" disabled={{this.isDisabled}} type="button" {{action "submitAction"}}>Transfer DOIs</button>
        <button class="btn btn-sm" type="button" {{action "cancelAction"}}>Cancel</button>
      </div>
    </BsForm>
  </div>
</div>