{{#if (can 'read contact' this.model provider=this.model.provider)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (can 'read provider' this.model.provider)}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' this.model.provider.consortium)
            (eq this.model.provider.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{this.model.provider.consortium.id}}
            >
              {{this.model.provider.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{this.model.provider.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
        <li class="breadcrumb-item">
          <LinkTo @route="providers.show" @model={{this.model.provider.id}}>
            {{this.model.provider.name}}
          </LinkTo>
        </li>
        <li class="breadcrumb-item">
          <LinkTo @route="providers.show.contacts" @model={{this.model.provider.id}}>
            Contacts
          </LinkTo>
        </li>
      </ol>
    {{/if}}
    <div id="show">
      <h2 class="work">
        {{this.model.displayName}}
      </h2>
      {{outlet}}
    </div>
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}