{{#if (can "read user" model)}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
    {{#if (can "read user" model)}}
      <ol class="breadcrumb">
        {{#if (can "read index")}}
          <li class="breadcrumb-item"><LinkTo @route="index">DataCite</LinkTo></li>
          <li class="breadcrumb-item"><LinkTo @route="users">Users</LinkTo></li>
        {{/if}}
      </ol>
    {{/if}}

    <div id="show">
      <h2 class="work">{{model.name}}</h2>

      <div class="tab-content nav-tabs-member">
        <BsNav
          @type="tabs"
          @justified={{false}}
          @stacked={{false}}
          @fill={{false}} as |nav|
        >
          <nav.item>
            <nav.link-to @route="users.show.index" model="model.id" class="nav-link">Settings</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="users.show.dois" model="model.id" class="nav-link">DOIs</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="users.show.info" model="model.id" class="nav-link">Info</nav.link-to>
          </nav.item>
        </BsNav>
      </div>
    </div>

    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
