<div class="content">
  <div class="row row-chart">
    <BarChart @data={{model.doiCount}} @label="DOI" @model={{model}} @link="users.show.dois" @summarize={{true}} />
    <DonutChart @data={{model.resourceTypeCount}} @label="DOI" @model={{model}} @link="users.show.dois" />
  </div>
  <div class="row row-chart">
    <MetricsCounter @label='Citation' @model={{model}}  />
    <MetricsCounter @label='View' @model={{model}}  />
    <MetricsCounter @label='Download' @model={{model}}  />
  </div>

  {{#if (can "read messages" model)}}
    <div class="row">
      <div class="col-md-9">
        {{#each flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
