<div class="content">
  <div class="row row-chart">
    <BarChart @data={{this.model.doiCount}} @label="DOI" @model={{this.model}} @link="users.show.dois" @summarize={{true}} />
    <DonutChart @data={{this.model.resourceTypeCount}} @label="DOI" @model={{this.model}} @link="users.show.dois" />
  </div>
  <div class="row row-chart">
    <MetricsCounter @label='Citations' @model={{this.model}} @link="users.show.dois" @query={{hash has-citations=1 has-views=null has-downloads=null}} @count={{this.model.totalCitationCount}} />
    <MetricsCounter @label='Views' @model={{this.model}} @link="users.show.dois" @query={{hash has-citations=null has-views=1 has-downloads=null}} @count={{this.model.totalViewCount}} />
    <MetricsCounter @label='Downloads' @model={{this.model}} @link="users.show.dois" @query={{hash has-citations=null has-views=null has-downloads=1}} @count={{this.model.totalDownloadCount}} />
  </div>
  {{#if (can "read messages" this.model)}}
    <div class="row">
      <div class="col-md-9">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
