<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3 form-help-header">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}

      <h3 class="help-header">Create DOI (Form)</h3>
      <div class="label-vertical">
        More information about DOI registration via form can be found on our <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/fabrica-create-doi-form">Support Website</a>. Required properties are marked with a red asterisk.
      </div>
    </div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model.doi}} @onSubmit={{action "submit" model.doi}} as |form|>
      <h3 class="member-results">Required Properties</h3>

      <DoiDoi @model={{model.doi}} @repository={{model.repository}} @form={{form}} />

      <div class="form-group required-nested-label {{if (v-get model.doi 'url' 'isInvalid') 'has-error' 'has-feedback'}}">
        <label class="control-label col-md-3">URL</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The location of the landing page with more information about the resource.</div>
          <form.element @id="url" @controlType="text" @property="url" @placeholder="URL" @helpText="Should be a https URL — within the allowed domain(s) of your repository if domain restrictions are enabled in the repository settings. Http and ftp are also supported. For example http://example.org" @required={{false}} />
        </div>
      </div>

      <DoiCreators @model={{model.doi}} @form={{form}} />
      <DoiTitles @model={{model.doi}} @form={{form}} />

      <div class="form-group required-nested-label {{if (v-get model.doi 'publisher' 'isInvalid') 'has-error' 'has-feedback'}}">
        <label class="control-label col-md-3">Publisher</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource.</div>
          <form.element @id="publisher" @controlType="text" @property="publisher" @placeholder="Publisher" @helpText="This property will be used to formulate the citation, so consider the prominence of the role." @required={{false}} />
        </div>
      </div>

      <div class="form-group required-nested-label {{if (v-get model.doi 'publicationYear' 'isInvalid') 'has-error' 'has-feedback'}}">
        <label class="control-label col-md-3">Publication Year</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The year when the resource was or will be made publicly available.</div>
          <form.element @id="publication-year" @controlType="text" @property="publicationYear" @placeholder="Publication Year"
            @helpText="Must be a year between 1000 and 2022." @required={{false}} />
        </div>
      </div>

      <DoiTypes @class="required-nested-label" @model={{model.doi}} @form={{form}} />

      <h3 class="member-results">Recommended Properties</h3>

      <DoiSubjects @model={{model.doi}} @form={{form}} />
      <DoiContributors @model={{model.doi}} @form={{form}} />
      <DoiDates @model={{model.doi}} @form={{form}} />
      <DoiRelatedIdentifiers @model={{model.doi}} @form={{form}} />

      <DoiDescriptions @model={{model.doi}} @form={{form}} />

      <DoiGeoLocations @model={{model.doi}} @form={{form}} />

      <h3 class="member-results">Optional Properties</h3>

      <DoiLanguage @model={{model.doi}} @form={{form}} />
      <DoiAlternateIdentifiers @model={{model.doi}} @form={{form}} />
      <DoiRightsList @model={{model.doi}} @form={{form}} @spdx={{spdx}} />
      <DoiSizes @model={{model.doi}} @form={{form}} />
      <DoiFormats @model={{model.doi}} @form={{form}} />

      <div class="form-group">
        <label class="control-label col-md-3">Version</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The version number of the resource.</div>
          <form.element @id="version" @controlType="text" @placeholder="Version" @property="version" @required={{false}} data-test-version/>
        </div>
      </div>

      <DoiFundingReferences @model={{model.doi}} @form={{form}} />

      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (doi-form-errors model.doi))}}
          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{false}}>Create DOI</button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this DOI, first resolve the errors with these properties: {{doi-form-errors model.doi}}.
          </BsAlert>

          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{true}}>Create DOI</button>
        {{/if}}

        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>

    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        {{#each flashMessages.queue as |flash|}}
          {{#if (eq flash.componentName "doi-error") }}
            <FlashMessage @flash={{flash}} />
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
