<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3 form-help-header">
      <h3 class="help-header">Create DOI (Form)</h3>
      <div class="help-block">
        More information about DOI registration via form can be found on our <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/fabrica-create-doi-form">Support Website</a>.
      </div>
    </div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model.doi}} @onSubmit={{action "submit" model.doi}} as |form|>
      <DoiDoi @model={{model.doi}} @repository={{model.repository}} @form={{form}} />

      <form.element @controlType="text" @label="URL" @id="url" @property="url" @helpText="The location of the landing page with more information about the resource." @required={{false}} />

      <DoiCreators @model={{model.doi}} @form={{form}} />
      <DoiTitles @model={{model.doi}} @form={{form}} />
      
      <form.element @controlType="text" @label="Publisher" @id="publisher" @property="publisher" @helpText="The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource." @required={{false}} />
      <form.element @controlType="text" @label="Publication Year" @id="publication-year" @property="publicationYear" @helpText="The year when the resource was or will be made publicly available. Must be between 1450 and 2021." @required={{false}} />

      <DoiTypes @model={{model.doi}} @form={{form}} />
      <DoiDescriptions @model={{model.doi}} @form={{form}} />

      {{#if (feature-flag 'optionalFields')}}
        <DoiSizes @model={{model.doi}} @form={{form}} />
        <DoiFormats @model={{model.doi}} @form={{form}} />

        <form.element @id="version" @controlType="text" @label="Version" @property="version" @helpText="The version number of the resource. "  @required={{false}} data-test-version />

        <DoiGeoLocations @model={{model.doi}} @form={{form}} />
        <DoiSubjects @model={{model.doi}} @form={{form}} />
        <DoiLanguage @model={{model.doi}} @form={{form}} />
        <DoiContributors @model={{model.doi}} @form={{form}} />
        <DoiAlternateIdentifiers @model={{model.doi}} @form={{form}} />
        <DoiRelatedIdentifiers @model={{model.doi}} @form={{form}} />
        <DoiFundingReferences @model={{model.doi}} @form={{form}} />
      {{/if}}

      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (doi-form-errors model.doi))}}
          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{false}}>Create DOI</button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this DOI, first resolve the errors with these fields: {{doi-form-errors model.doi}}.
          </BsAlert>

          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{true}}>Create DOI</button>          
        {{/if}}
        
        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>

    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        {{#each flashMessages.queue as |flash|}}
          {{#if (eq flash.componentName "doi-error") }}
            <FlashMessage @flash={{flash}} />
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
