<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3 form-help-header">
      <h3 class="help-header">Create DOI (File Upload)</h3>
      <div class="help-block">
        More information about DOI registration via file upload can be found on our <a target="_blank" rel="noopener"
          href="https://support.datacite.org/docs/fabrica-create-doi-file-upload">Support Website</a>.
      </div>
    </div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model.doi}} @onSubmit={{action "submit" model.doi}} as |form|>
      <DoiDoi @model={{model.doi}} @repository={{model.repository}} @form={{form}} />

      <form.element @controlType="text" @label="URL" @id="url" @property="url" @helpText="The location of the landing page with more information about the resource." @required={{false}} />

      <DoiUpload @model={{model.doi}} @form={{form}} />

      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (doi-form-errors model.doi))}}
          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{false}}>Create DOI</button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this DOI, first resolve the errors with these properties: {{doi-form-errors model.doi}}.
          </BsAlert>

          <button type="submit" id="doi-create" class="btn btn-sm btn-fill" disabled={{true}}>Create DOI</button>          
        {{/if}}
        
        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>
  </div>
</div>