{{#if (can "write prefix" model)}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      <ol class="breadcrumb">
        {{#if (can "read index")}}
          <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
          <li class="breadcrumb-item">{{#link-to "providers"}}Providers{{/link-to}}</li>
        {{/if}}

        {{#if (can "read provider" model.provider)}}
          <li class="breadcrumb-item">{{#link-to "providers.show" model.provider.id}}{{model.provider.name}}{{/link-to}}</li>
          <li class="breadcrumb-item">{{#link-to "providers.show.prefixes" model.provider.id}}Prefixes{{/link-to}}</li>
        {{/if}}
      </ol>

      {{provider-prefix-new model=model}}
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
