<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      {{#if (gt model.meta.doiCount 0)}}
        <div class="alert alert-danger" role="alert">
          You need to transfer all DOIs to another repository before you can delete the {{uppercase model.id}} repository.
        </div>
        <div class="pseudo-footer">
          <div class="btn-toolbar btn-sm pull-right">
            <button {{action "cancel" model}} class="btn btn-sm">Cancel</button>
            <LinkTo @route="repositories.show.transfer" @model={{model.id}} class="btn btn-sm">{{fa-icon "arrow-circle-o-right"}}Transfer DOIs</LinkTo>
          </div>
          <div class="clearfix"/>
        </div>
      {{else}}
        <BsForm @formLayout="vertical" @model={{model}} @onSubmit={{action "submit"}} @submitOnEnter={{true}} as |form|>
          <form.group>
            <label class="control-label">Are you sure you want to delete the {{uppercase model.id}} repository? This action cannot be undone.</label>
            <form.element @controlType="text" @id="confirm-symbol" @property="confirmSymbol" @showValidationOn="input" @autofocus={{true}} @helpText="Please add the Repository ID to delete." />
          </form.group>

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} id="cancel" class="btn btn-sm">Cancel</button>
              <button {{action "submit"}} disabled={{v-get model 'confirmSymbol' 'isInvalid'}} id="delete" class="btn btn-sm btn-fill">Delete</button>
            </div>
            <div class="clearfix"/>
          </div>
        </BsForm>
      {{/if}}
    </div>
  </div>
</div>