<div class="row">
  <div class="col-md-3">
    {{#if (not (can 'update repository' model))}}
      {{#if (and model.isActive (or (can 'create doi' model) (can 'upload doi' model)))}}
        {{#if (gt model.meta.prefixCount 0) }}
          <div class="panel facets">
            <div class="panel-body">
              <CreateDoiButton @model={{model}} class="create-doi-button" />
            </div>
          </div>
        {{else}}
          <div class="panel panel-transparent">
            <div class="panel-body">
              <BsAlert @dismissible={{false}} @type="warning">
                Can't create DOI without a prefix.
              </BsAlert>
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if (and model.isActive (or (can 'create doi' model) (can 'upload doi' model)) (not (gt model.meta.prefixCount 0)))}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <BsAlert @dismissible={{false}} @type="warning">
              Can't create DOI without a prefix.
            </BsAlert>
          </div>
        </div>
      {{/if}}

      {{#if (can 'update repository' model)}}
        <div class="panel facets">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="shrink">
                {{#if (and model.isActive (or (can 'create doi' model) (can 'upload doi' model)) (gt model.meta.prefixCount 0))}}
                  <CreateDoiButton @model={{model}} class="create-doi-button" />
                {{/if}}
                <div class="btn-group-vertical btn-group-sm">
                  {{#if model.isActive}}
                    <LinkTo
                      @route="repositories.show.change"
                      @model={{model.id}}
                      class="btn btn-warning"
                      @id="set-password-repository"
                    >
                      <i class="fas fa-key"></i>
                      Set Password
                    </LinkTo>
                  {{/if}}
                  {{#if (or (can 'delete repository' model) model.isActive)}}
                    <LinkTo
                      @route="repositories.show.edit"
                      @model={{model.id}}
                      class="btn btn-warning"
                      @id="edit-repository"
                    >
                      <i class="fas fa-pencil-alt"></i>
                      Update
                      {{if (eq currentUser.uid model.id) 'Account' 'Repository'}}
                    </LinkTo>
                  {{/if}}
                  {{#if (can 'delete repository' model)}}
                    <LinkTo
                      @route="repositories.show.delete"
                      @model={{model.id}}
                      class="btn btn-warning"
                      @id="delete-repository"
                    >
                      <i class="fas fa-trash"></i>
                      Delete Repository
                    </LinkTo>
                  {{/if}}
                  {{#if (and (can 'transfer repository' model) model.isActive)}}
                    <LinkTo
                      @route="repositories.show.transfer-repository"
                      @model={{model.id}}
                      class="btn btn-warning"
                      @id="transfer-repository"
                    >
                      <i class="fas fa-arrow-circle-right"></i>
                      Transfer
                      {{if media.isXl ' Repository'}}
                    </LinkTo>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
    <RepositorySidebar @model={{model}} />
  </div>
  <div class="col-md-9">
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#each flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
        {{#if (eq model.clientType 'periodical')}}
          <span class="label label-primary-inv label-sm">
            Periodical
          </span>
        {{/if}}
        <h5>
          Repository ID
          <span>
            <i class="fas fa-question-circle"></i>
            <BsTooltip @placement="top" @viewportPadding={{10}}>
              The Repository ID is a unique identifier for each repository in DataCite. It must contain only upper case letters and numbers, and must start with the Member ID.
            </BsTooltip>
          </span>
        </h5>
        {{model.symbol}}
        {{#if model.re3data}}
          <h5>
            re3data Record
            <span>
              <i class="fas fa-question-circle"></i>
              <BsTooltip @placement="top" @viewportPadding={{10}}>
                re3data is a registry of research data repositories.
              </BsTooltip>
            </span>
          </h5>
          <a href="{{model.re3data}}">
            {{model.re3data}}
          </a>
        {{/if}}
        {{#if (and (can 'create provider') model.salesforceId)}}
          <h5>
            Salesforce ID
          </h5>
          {{model.salesforceId}}
        {{/if}}
        {{#if (and (can 'token repository') model.globusUuid)}}
          <h5>
            Globus UUID
          </h5>
          {{model.globusUuid}}
        {{/if}}
        {{#if (or model.issn.issnl model.issn.electronic model.issn.print)}}
          <h5>
            ISSN
          </h5>
          {{#if model.issn.issnl}}
            {{model.issn.issnl}}(ISSN-L)<br />
          {{/if}}
          {{#if model.issn.electronic}}
            {{model.issn.electronic}}(electronic)<br />
          {{/if}}
          {{#if model.issn.print}}
            {{model.issn.print}}(print)<br />
          {{/if}}
        {{/if}}
        {{#if model.alternateName}}
          <h5>
            Alternate Name
          </h5>
          {{model.alternateName}}
        {{/if}}
        {{#if model.description}}
          <h5>
            Description
          </h5>
          <p id="description">
            {{markdown-to-html model.description}}
          </p>
        {{/if}}
        {{#if (or model.serviceContact.name model.serviceContact.email)}}
          <h5>
            Service Contact
          </h5>
          {{#if model.serviceContact.name}}
            {{model.serviceContact.name}}<br />
          {{/if}}
          {{#if model.serviceContact.email}}
            <a href="mailto:{{model.serviceContact.email}}">
              {{model.serviceContact.email}}
            </a>
          {{/if}}
        {{/if}}
        {{#if model.systemEmail}}
          <h5>
            System Email
          </h5>
          <a href="mailto:{{model.systemEmail}}">
            {{model.systemEmail}}
          </a>
        {{/if}}
        {{#if model.url}}
          <h5>
            URL
          </h5>
          <a href="{{model.url}}">
            {{model.url}}
          </a>
        {{/if}}
        {{#if model.domainList}}
          <h5>
            {{pluralize model.domainList.length 'Domain' without-count=true}}
            <span>
              <i class="fas fa-question-circle"></i>
              <BsTooltip @placement="top" @viewportPadding={{10}}>
                URLs for DOIs must use
                {{#if (gt model.domainList.length 1)}}
                  one of these (sub-)domains
                {{else}}
                  this (sub-)domain
                {{/if}}
                .
              </BsTooltip>
            </span>
          </h5>
          {{#each model.domainList as |domain|}}
            {{domain}}<br />
          {{/each}}
        {{/if}}
        {{#if model.language}}
          <h5>
            Language
          </h5>
          {{#each model.language as |lang|}}
            {{format-language lang}}
            {{#unless (eq lang model.language.lastObject)}}
              ,
            {{/unless}}
          {{/each}}
        {{/if}}
        {{#if model.repositoryType}}
          <h5>
            Repository Type
          </h5>
          {{#each model.repositoryType as |type|}}
            {{titleize type}}
            {{#unless (eq type model.repositoryType.lastObject)}}
              ,
            {{/unless}}
          {{/each}}
        {{/if}}
        {{#if model.certificate}}
          <h5>
            Certificate
            <div class="info-icon icons-certificate_active"></div>
          </h5>
          {{#each model.certificate as |cert|}}
            {{cert}}
            {{#unless (eq cert model.certificate.lastObject)}}
              ,
            {{/unless}}
          {{/each}}
        {{/if}}
        {{#if model.software}}
          <h5>
            Software
          </h5>
          {{model.software}}
        {{/if}}
        {{#if (not model.hasPassword)}}
          <h5>
            Password
          </h5>
          <span class="small icon-warning">
            has not been set
          </span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
