{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    <IndexHeader />
    {{!-- {{#if (can "read messages" model)}} --}}
    <div class="row">
      <div class="col-md-9" style="margin-left: 10px; margin-right: 10px;">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
    {{!-- {{/if}} --}}
    <RepositoryList @model={{this.model}} @link="repositories" @searchable={{true}} />
  </div>

{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
