{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    {{index-header}}
    {{repository-list model=model link="repositories" searchable=true}}
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
