{{#if (can 'read repository' model provider=model.provider)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (can 'read provider' model.provider)}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' model.provider.consortium)
            (eq model.provider.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{model.provider.consortium.id}}
            >
              {{model.provider.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{model.provider.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
        <li class="breadcrumb-item">
          <LinkTo @route="providers.show" @model={{model.provider.id}}>
            {{model.provider.name}}
          </LinkTo>
        </li>
        <li class="breadcrumb-item">
          <LinkTo
            @route="providers.show.repositories"
            @model={{model.provider.id}}
          >
            Repositories
          </LinkTo>
        </li>
      </ol>
    {{/if}}
    <div id="show">
      {{#if model.re3data}}
        <div class="pull-right">
          <a href="{{model.re3data}}">
            <img class="img-responsive" src="{{model.badgeUrl}}" />
          </a>
        </div>
      {{/if}}
      <h2 class="work">
        {{model.name}}
        {{#if (not model.isActive)}}
          <span class="label label-warning-inv">
            Inactive
          </span>
        {{/if}}
      </h2>
      <div class="tab-content nav-tabs-member">
        <BsNav
          @type="tabs"
          @justified={{false}}
          @stacked={{false}}
          @fill={{false}} as |nav|
        >
          {{#link-to route='repositories.show.index' tagName="li" model=model.id}}
              {{#link-to route='repositories.show.index' class='nav-link' query=assignedPrefix}}
                  Info
              {{/link-to}}
          {{/link-to}}
          {{#link-to route='repositories.show.settings' tagName="li" model=model.id}}
              {{#link-to route='repositories.show.settings' class='nav-link' query=assignedPrefix}}
                  Settings
              {{/link-to}}
          {{/link-to}}
          {{#link-to route='repositories.show.prefixes' tagName="li" model=model.id}}
              {{#link-to route='repositories.show.prefixes' class='nav-link' query=assignedPrefix}}
                  Prefixes
              {{/link-to}}
          {{/link-to}}
          {{#link-to route='repositories.show.dois' tagName="li" model=model.id}}
              {{#link-to route='repositories.show.dois' class='nav-link' query=assignedPrefix}}
                  DOIs
              {{/link-to}}
          {{/link-to}}
        </BsNav>
      </div>
    </div>
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}