
{{#if (can 'read repository' this.model provider=this.model.provider)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (can 'read provider' this.model.provider)}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' this.model.provider.consortium)
            (eq this.model.provider.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{this.model.provider.consortium.id}}
            >
              {{this.model.provider.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{this.model.provider.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
        <li class="breadcrumb-item">
          <LinkTo @route="providers.show" @model={{this.model.provider.id}}>
            {{this.model.provider.name}}
          </LinkTo>
        </li>
        <li class="breadcrumb-item">
          <LinkTo
            @route="providers.show.repositories"
            @model={{this.model.provider.id}}
          >
            Repositories
          </LinkTo>
        </li>
      </ol>
    {{/if}}
    <div id="show">
      {{#if this.model.re3data}}
        <div class="pull-right">
          <a href="{{this.model.re3data}}">
            <img class="img-responsive" src="{{this.model.badgeUrl}}" />
          </a>
        </div>
      {{/if}}
      <h2 class="work">
        {{this.model.name}}
        {{#unless this.model.isActive}}
          <span class="label label-warning-inv">
            Inactive
          </span>
        {{/unless}}
      </h2>
      <ShowRepositoryTabs />
    </div>
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}