
{{#if (can 'read repository' this.model provider=this.model.provider)}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    {{#if (can 'read provider' this.model.provider)}}
      <ol class="breadcrumb">
        {{#if (can 'read index')}}
          <li class="breadcrumb-item">
            <LinkTo @route="index">
              DataCite
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo @route="providers">
              Members
            </LinkTo>
          </li>
        {{/if}}
        {{#if
          (and
            (can 'read provider' this.model.provider.consortium)
            (eq this.model.provider.memberType 'consortium_organization')
          )
        }}
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.index"
              @model={{this.model.provider.consortium.id}}
            >
              {{this.model.provider.consortium.name}}
            </LinkTo>
          </li>
          <li class="breadcrumb-item">
            <LinkTo
              @route="providers.show.organizations"
              @model={{this.model.provider.consortium.id}}
            >
              Consortium Organizations
            </LinkTo>
          </li>
        {{/if}}
        <li class="breadcrumb-item">
          <LinkTo @route="providers.show" @model={{this.model.provider.id}}>
            {{this.model.provider.name}}
          </LinkTo>
        </li>
        <li class="breadcrumb-item">
          <LinkTo
            @route="providers.show.repositories"
            @model={{this.model.provider.id}}
          >
            Repositories
          </LinkTo>
        </li>
      </ol>
    {{/if}}
    <div id="show">
      {{#if this.model.re3data}}
        <div class="pull-right">
          <a href="{{this.model.re3data}}">
            <img class="img-responsive" src="{{this.model.badgeUrl}}" />
          </a>
        </div>
      {{/if}}
      <h2 class="work">
        {{this.model.name}}
        {{#unless this.model.isActive}}
          <span class="label label-warning-inv">
            Inactive
          </span>
        {{/unless}}
      </h2>
      <div class="tab-content nav-tabs-member">
        <BsNav
          @type="tabs"
          @justified={{false}}
          @stacked={{false}}
          @fill={{false}} as |nav|
        >
          <!--
          <LinkTo @route='repositories.show.index' @tagName="li" @model=this.model.id>
            <LinkTo @route='repositories.show.index' class='nav-link' @query=assignedPrefix>
              Info
            </LinkTo>
          </LinkTo>
          <LinkTo @route='repositories.show.settings' @tagName="li" @model=this.model.id>
            <LinkTo @route='repositories.show.settings' class='nav-link' @query=assignedPrefix>
              Settings
            </LinkTo>
          </LinkTo>
          <LinkTo @route='repositories.show.prefixes' @tagName="li" @model=this.model.id>
            <LinkTo @route='repositories.show.prefixes' class='nav-link' @query=assignedPrefix>
              Prefixes
            </LinkTo>
          </LinkTo>
          <LinkTo @route='repositories.show.dois' @tagName="li" @model=this.model.id>
            <LinkTo @route='repositories.show.dois' class='nav-link' @query=assignedPrefix>
              DOIs
            </LinkTo>
          </LinkTo>
          -->
          
          <!-- NEEDS FIX FOR ASSIGNED PREFIX -->

          <nav.item>
            <nav.linkTo @route='repositories.show.index' class='nav-link'>
              Info
            </nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route='repositories.show.settings' class='nav-link'>
              Settings
            </nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route='repositories.show.prefixes' class='nav-link'>
              Prefixes
            </nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route='repositories.show.dois' class='nav-link'>
              DOIs
            </nav.linkTo>
          </nav.item>

        </BsNav>
      </div>
    </div>
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader /><LandingPage />
{{/if}}