{{#if (can "read member")}}
  <div class="row">
    <div class='col-md-9'>
      <div class="search-input">
        <form {{action "doSearch" query on="submit"}} class="form-horizontal">
          <div class="input-group">
            {{input name="query" value=query class="form-control" escape-press='resetSearch' placeholder="Search for member"}}
            <div class="input-group-btn">
              <button type="submit" class="btn hidden-xs">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="panel facets">
        <div class="panel-body">
          <div class="pull-right">
            {{#link-to "members.new" member.id class="btn btn-warning"}}{{fa-icon "plus"}}Add Member{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-9 panel-list' id="content">
      {{#if model}}
        {{#if (gt model.meta.total_pages 1)}}
          <h3 class="member-results">{{#if (gt model.meta.total 1)}}{{format-number model.meta.total}}{{/if}} Members</h3>
        {{/if}}
        {{#each model as |member|}}
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="work">
                {{#link-to "members.show" member.id}}{{member.title}}{{/link-to}}
              </h3>

              <div class="description">
                <img class="pull-right img-responsive" src="{{member.logoUrl}}">
                {{format-text member.description limit=60}}
              </div>
              <div class="country">{{member.country}}</div>

              <div class="pseudo-footer">
                <span class="pull-right">{{member.memberType}}</span>
                {{member.name}}
                <span>{{fa-icon "question-circle"}}
                  {{#bs-tooltip placement="top" viewportPadding=10}}Each member has a unique ID.{{/bs-tooltip}}
                </span>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="text-center">
          {{#if (gt model.meta.total_pages 1)}}
            {{page-numbers content=content showFL=true}}
          {{/if}}
        </div>
      {{else}}
        {{#bs-alert dismissible=false type="warning"}}
          No members found.
        {{/bs-alert}}
      {{/if}}
    </div>
    <div class='col-md-3'>
      {{#if model.meta.member-types}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Member types <span class="small">{{fa-icon "question-circle"}}{{#bs-tooltip placement="top"}}Allocating members can register DOIs.{{/bs-tooltip}}</span></h4>
            <ul>
              {{#each model.meta.member-types as |memberType|}}
                <li>
                  {{#if model.otherParams.member-type}}
                    {{#link-to "members" (query-params member-type='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "members" (query-params member-type=memberType.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{memberType.title}}</div>
                  <span class="number pull-right">{{memberType.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{#if model.meta.regions}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Regions</h4>
            <ul>
              {{#each model.meta.regions as |region|}}
                <li>
                  {{#if model.otherParams.region}}
                    {{#link-to "members" (query-params region='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "members" (query-params region=region.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{region.title}}</div>
                  <span class="number pull-right">{{region.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{#if model.meta.years}}
        <div class="panel facets">
          <div class="panel-body">
            <h4>Year joined</h4>
            <ul>
              {{#each model.meta.years as |year|}}
                <li>
                  {{#if model.otherParams.year}}
                    {{#link-to "members" (query-params year='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                  {{else}}
                    {{#link-to "members" (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                  {{/if}}
                  <div class="facet-title">{{year.title}}</div>
                  <span class="number pull-right">{{year.count}}</span>
                  <div class="clearfix"/>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
