<div class="row">
  <div class="col-md-9" id="show">
    <div class="panel panel-default" id="content-member">
      {{#if (can "write member")}}
        <div class="panel-body">
          <h3 class="member">
            <span class="small pull-right">{{model.memberType}}</span>
            {{model.title}}
          </h3>
          {{#if model.description}}
            <div class="description">{{{format-text model.description}}}</div>
          {{/if}}
          <div class="logo text-center">
            <img src="{{model.logoUrl}}">
          </div>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Country</dt>
            <dd>{{model.country}}</dd>
            <dt>Year joined</dt>
            <dd>{{model.year}}</dd>
            {{#if model.website}}
              <dt>Website</dt>
              <dd><a href="{{model.website}}">{{model.website}}</a></dd>
            {{/if}}
            {{#if member.email}}
              <dt>Email</dt>
              <dd><a href="mailto:{{model.email}}">{{model.email}}</a></dd>
            {{/if}}
            {{#if model.phone}}
              <dt>Phone</dt>
              <dd>{{model.phone}}</dd>
            {{/if}}
          </dl>

          {{model.name}}
          <span>{{fa-icon "question-circle"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each member has a unique ID.{{/bs-tooltip}}
          </span>
          {{#if (can "write member")}}
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm">
                {{#link-to "members.edit" member.id}}{{fa-icon "pencil"}}{{/link-to}}
              </div>
              {{#if (can "delete member")}}
                <div class="btn-group btn-group-sm">
                  {{#link-to "members.edit" member.id}}{{fa-icon "trash"}}{{/link-to}}
                </div>
              {{/if}}
            </div>
          {{/if}}
          <div class="clearfix"/>
        </div>
      {{/if}}
    </div>
  </div>
</div>
