<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">
      {{model.title}}
      <span class="small">{{model.memberType}} member</span>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-transparent" id="content-member">
      {{#if (can "write member")}}
        <div class="panel-body">
          {{#if model.description}}
            <div class="description">
              <img class="pull-right img-responsive" src="{{model.logoUrl}}">
              {{{format-text model.description}}}
            </div>
          {{/if}}
        </div>
        <div class="panel-footer">
          {{model.name}}
          <span>{{fa-icon "question-circle-o"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each member has a unique ID.{{/bs-tooltip}}
          </span>
          {{#if (can "write member")}}
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm">
                {{#link-to "members.edit" member.id}}{{fa-icon "pencil"}}{{/link-to}}
              </div>
              {{#if (can "delete member")}}
                <div class="btn-group btn-group-sm">
                  {{#link-to "members.edit" member.id}}{{fa-icon "trash"}}{{/link-to}}
                </div>
              {{/if}}
            </div>
          {{/if}}
          <div class="clearfix"/>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel-facets">
      <div class="panel-body metadata">
        <h5>Country</h5>
        <div>{{model.country}}</div>

        <h5>Year joined</h5>
        <div>{{model.year}}</div>

        {{#if model.website}}
          <h5>Website</h5>
          <div><a href="{{model.website}}">{{model.website}}</a></div>
        {{/if}}
        {{#if member.email}}
          <h5>Email</h5>
          <div><a href="mailto:{{model.email}}">{{model.email}}</a></div>
        {{/if}}
        {{#if model.phone}}
          <h5>Phone</h5>
          <div>{{model.phone}}</div>
        {{/if}}
        <h5>Record Creation</h5>
        <div class="created">
          {{format-date model.created}}
        </div>
        {{#if (gt model.updated model.created)}}
          <h5>Record Modification</h5>
          <div class="updated">
            {{format-date model.updated}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
