{{#if this.model}}
  <div class="panel panel-transparent">
    <div class="panel-body">    
      <div class="col-md-9 col-md-offset-3">
        <div class="alert alert-danger" role="alert">
          Are you sure you want to remove prefix {{this.model.prefix.id}} from this member?
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar pull-right">
            <button id="cancel" {{action "cancel"}} class="btn btn-sm">Cancel</button>
            <button id="remove" {{action "submit"}} class="btn btn-sm btn-fill">Remove</button>
          </div>
          <div class="clearfix"/>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <BsAlert @dismissible={{false}} @type="warning">
    The prefix was not found.
  </BsAlert>
{{/if}}
