<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3"><h3 class="edit">Set Password</h3></div>

    <div class="col-md-9 col-md-offset-3"><span class="help-block">Click <a class="action-link" {{action "generate"}} data-test-password-suggestion>here</a> for a password suggestion.</span></div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{this.model}} @onSubmit={{action "submit"}} @submitOnEnter={{true}} as |form|>
      <form.element @controlType="password" id="password-input" @property="passwordInput" @label="New Password" as |el| >
        <el.control id="password-input-field" />
      </form.element>
      <form.element @controlType="password" id="confirm-password-input" @property="confirmPasswordInput" @label="Confirm Password" as |el| >
        <el.control id="confirm-password-input-field" />
      </form.element>
      <div class="col-md-9 col-md-offset-3">
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-sm btn-fill">Set Password</button>
          <button class="btn btn-sm" id="cancel" type="button" {{action "cancel" this.model}}>Cancel</button>
        </div>
      </div>
    </BsForm>
  </div>
</div>
