<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      {{#if (and (eq this.model.memberType "consortium") (gt this.model.meta.consortiumOrganizationCount 0))}}
        <div class="alert alert-danger" role="alert">
          You need to delete all consortium organizations before you can delete the {{uppercase this.model.id}} consortium.
        </div>
        <div class="pseudo-footer">
          <div class="btn-toolbar btn-sm pull-right">
            <button class="btn btn-sm" type="button" {{action "cancel" this.model}}>Cancel</button>
            <LinkTo @route="providers.show.organizations" @model={{this.model.id}} class="btn btn-sm">All Consortium Organizations</LinkTo>
          </div>
          <div class="clearfix"/>
        </div>
      {{else if (gt this.model.meta.repositoryCount 0)}}
        <div class="alert alert-danger" role="alert">
          You need to delete all repositories before you can delete the {{uppercase this.model.id}} provider.
        </div>
        <div class="pseudo-footer">
          <div class="btn-toolbar btn-sm pull-right">
            <button class="btn btn-sm" type="button" {{action "cancel" this.model}}>Cancel</button>
            <LinkTo @route="providers.show.repositories" @model={{this.model.id}} class="btn btn-sm">All Repositories</LinkTo>
          </div>
          <div class="clearfix"/>
        </div>
      {{else}}
        <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "submit" this.model}} @submitOnEnter={{true}} as |form|>
          <div class="form-group">
            <label class="control-label">Are you sure you want to delete the {{uppercase this.model.id}} {{if (eq this.model.memberType "consortium_organization") 'organization' 'member'}}? This action cannot be undone.</label>
            <form.element @controlType="text" id="confirm-symbol" @property="confirmSymbol" @showValidationOn="input" @helpText="Please add the {{if (eq this.model.memberType "consortium_organization") 'Organization' 'Member'}} ID to delete." as |el| >
              <el.control id="confirm-symbol-field" autofocus={{true}}/>
            </form.element>
          </div>
          
          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button id="cancel" class="btn btn-sm" type="button" {{action "cancel" this.model}}>Cancel</button>
              <button id="delete" disabled={{v-get this.model 'confirmSymbol' 'isInvalid'}} class="btn btn-sm btn-fill" type="button" {{action "submit"}}>Delete</button>
            </div>
            <div class="clearfix"/>
          </div>
        </BsForm>
      {{/if}}
    </div>
  </div>
</div>
