<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-offset-3 form-help-header">
      <h3 class="edit">
        Update
        {{if
          (eq model.memberType 'consortium_organization')
          'Organization'
          'Member'
        }}
      </h3>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
    <BsForm
      @formLayout="horizontal"
      @horizontalLabelGridClass="col-md-3"
      @model={{model}}
      @onSubmit={{action 'submit' model}} as |form|
    >
      <h3 class="member-results">
        Organization Information
      </h3>
      <form.element
        @controlType="text"
        @id="member-id"
        @label="Member ID"
        @property="symbol"
        @helpText="The Member ID is the unique identifier for each member and can't be changed."
        @disabled={{true}}
      />
      <form.element
        @controlType="power-select"
        @id="ror-id"
        @label="Organization identifier (optional)"
        @property="rorId"
        @optionLabelPath="rorId"
        @options={{organizations}}
        @destination={{rorId}}
        @helpText="Organization identifiers are provided by the Research Organization Registry (ROR)." as |el|
      >
        <el.control
          @onChange={{action 'selectRor'}}
          @search={{action 'searchRor'}}
          @placeholder="Select Organization"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{if item.name item.name model.rorId}}
        </el.control>
      </form.element>
      {{#if (can 'create provider')}}
        <form.element
          @controlType="text"
          @id="salesforce-id"
          @label="Salesforce ID"
          @property="salesforceId"
          @required={{false}}
          @helpText="The 18 digit ID in Salesforce."
        />
      {{/if}}
      {{#if (can 'token provider')}}
        <form.element
          @controlType="text"
          @id="globus-uuid"
          @label="Globus UUID (optional)"
          @property="globusUuid"
          @required={{false}}
          @helpText="The Globus UUID used for token authentication."
        />
      {{/if}}
      {{#if (can 'create provider')}}
        <form.element
          @controlType="power-select"
          @id="member-type"
          @label="Member Type"
          @property="memberType"
          @disabled={{eq model.memberType 'developer'}}
          @options={{memberTypes}}
          @destination={{memberType}} as |el|
        >
          <el.control
            @onChange={{action 'selectMemberType'}}
            @search={{action 'searchMemberType'}}
            @placeholder="Select Member Type"
            @searchPlaceholder="Type to search..." as |item|
          >
            {{titleize (humanize item)}}
          </el.control>
        </form.element>
        <form.element
          @controlType="power-select"
          @id="tax-status"
          @label="Tax Status"
          @property="nonProfitStatus"
          @options={{nonProfitStatuses}}
          @destination={{nonProfitStatus}} as |el|
        >
          <el.control
            @onChange={{action 'selectNonProfitStatus'}}
            @search={{action 'searchNonProfitStatus'}}
            @placeholder="Tax Status"
            @searchPlaceholder="Type to search..." as |item|
          >
            {{titleize item}}
          </el.control>
        </form.element>
        {{#if (eq model.memberType 'consortium_organization')}}
          <form.element
            @controlType="power-select"
            @property="consortium"
            @label="Consortium"
            @helpText="Consortium for this organization."
            @optionLabelPath="name"
            @options={{consortia}}
            @destination={{consortium.id}} as |el|
          >
            <el.control
              @onChange={{action 'selectConsortium'}}
              @search={{action 'searchConsortium'}}
              @searchField="name"
              @searchPlaceholder="Type to search..." as |item|
            >
              {{item.name}}
            </el.control>
          </form.element>
        {{/if}}
      {{/if}}
      <form.element
        @controlType="text"
        @id="name"
        @label="{{if
            (eq model.memberType 'consortium_organization')
            'Organization'
            'Member'
          }}
           Name"
        @property="name"
        @required={{false}}
        @helpText="The official name of your organization."
      />
      <form.element
        @controlType="text"
        @id="display-name"
        @label="{{if
            (eq model.memberType 'consortium_organization')
            'Organization'
            'Member'
          }}
           Display Name"
        @property="displayName"
        @required={{false}}
        @helpText="Name of your organization as you would like it to appear in Fabrica and on DataCite’s website."
      />
      <form.element
        @controlType="text"
        @id="doi-estimate"
        @label="Estimated DOIs"
        @placeholder = "0"
        @property="doiEstimateYearOne"
        @required={{true}}
        @helpText={{html-safe "Enter a best estimate of the number of DOIs the consortium organization plans to register in the first year, excluding backlogs.  Please refer to our <a href='https://support.datacite.org' target='_blank'>support documentation</a> for more information."}}
      />
      <form.element
        @controlType="text"
        @id="system-email"
        @label="System Email"
        @property="systemEmail"
        @helpText="This is the email used for sending password reset requests and similar system notifications."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="group-email"
        @label="Group Email (optional)"
        @property="groupEmail"
        @helpText="A generic shared email address (such as info@datacite.org or similar) where you would like to receive communications from DataCite."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="website"
        @label="Website (optional)"
        @property="website"
        @helpText="Website of the member."
        @required={{false}}
      />
      <form.element
        @controlType="text"
        @id="twitter-handle"
        @label="Twitter (optional)"
        @property="twitterHandle"
        @placeholder="Add @twitter account"
        @helpText="DataCite will follow you on Twitter."
        @required={{false}}
      />
      <form.element
        @controlType="power-select"
        @id="country"
        @label="Country (optional)"
        @property="country"
        @optionLabelPath="name"
        @options={{countries}}
        @destination={{country}}
        @helpText="Country where the member is located." as |el|
      >
        <el.control
          @onChange={{action 'selectCountry'}}
          @search={{action 'searchCountry'}}
          @searchField="name"
          @placeholder="Select Country"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{item.name}}
        </el.control>
      </form.element>
      <form.element
        @controlType="power-select"
        @id="organization-type"
        @label="Organization Type (optional)"
        @property="organizationType"
        @options={{organizationTypes}}
        @destination={{organizationType}} as |el|
      >
        <el.control
          @onChange={{action 'selectOrganizationType'}}
          @search={{action 'searchOrganizationType'}}
          @placeholder="Select Organization Type"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{titleize (humanize (underscore item))}}
        </el.control>
      </form.element>
      <form.element
        @controlType="power-select"
        @id="focus-area"
        @label="Focus Area (optional)"
        @property="focusArea"
        @options={{focusAreas}}
        @destination={{focusArea}}
        @helpText="Field of research covered by the member." as |el|
      >
        <el.control
          @onChange={{action 'selectFocusArea'}}
          @search={{action 'searchFocusArea'}}
          @placeholder="Select Focus Area"
          @searchPlaceholder="Type to search..."
          @allowClear={{true}} as |item|
        >
          {{titleize (humanize (underscore item))}}
        </el.control>
      </form.element>
      <form.element
        @controlType="textarea"
        @id="description"
        @label="Description (optional)"
        @property="description"
        @rows={{10}}
        @helpText="Description of the member. Please use markdown for formatting."
        @required={{false}}
      />
      {{#if (not-eq model.memberType 'consortium_organization')}}
        <label class="control-label col-md-3">
          Logo
        </label>
        <div class="col-md-9 form-help-header">
          <div class="btn-toolbar btn-sm btn-file">
            <FileUpload
              @name="files"
              @id="upload-file"
              @multiple={{false}}
              @accept="image/png,image/jpeg"
              @onfileadd={{action 'didSelectFiles'}}
            >
              <span class="btn btn-sm">
                <i class="fas fa-upload"></i>
                {{if model.logo 'Replace' 'Upload'}}
                Logo
              </span>
            </FileUpload>
          </div>
          <div class="help-block">
            Please upload your horizontal logo in either png or jpeg format. It will be proportionally resized to be no larger than 500 x 200 px.
          </div>
        </div>
      {{/if}}
      {{#if (not-eq model.memberType 'developer')}}
        <h3 class="member-results">
          Contact Information
        </h3>
        {{#if (is-empty model.contacts)}}
          <div class="col-md-9 col-md-offset-3">
            <BsAlert @dismissible={{false}} @type="danger">
              There are no contacts in your contacts list. Please
              <LinkTo
                @route="providers.show.contacts.new"
                @model={{model.id}}
                @id="add-contact"
              >
                add at least one contact
              </LinkTo>
              .
            </BsAlert>
          </div>
        {{else}}
          <div class="col-md-9 col-md-offset-3">
            <BsAlert @dismissible={{false}} @type="info">
              Contacts are created
              <LinkTo @route="providers.show.contacts" @model={{model.id}}>
                in the contacts section
              </LinkTo>
              and then assigned roles here.
            </BsAlert>
          </div>
          {{#if (not-eq model.memberType 'consortium_organization')}}
            {{#form.element
              controlType='power-select'
              id='voting-contact'
              label='Voting Representative'
              property='votingContact'
              optionLabelPath='name'
              options=model.filteredContacts
              helpText="Your organization's voting representative."
              destination=votingContact as |el|
            }}
              <el.control
                @searchEnabled={{false}}
                @search={{action 'searchContact'}}
                @searchField="name"
                @searchPlaceholder="Search contact..."
                @onChange={{action 'selectVotingContact'}}
                @placeholder="Select Contact" as |item|
              >
                {{item.displayName}}
              </el.control>
            {{/form.element}}
          {{/if}}
          {{#form.element
            controlType='power-select'
            id='service-contact'
            label='Service Contact'
            property='serviceContact'
            optionLabelPath='displayName'
            options=model.filteredContacts
            helpText="Your organization's service contact."
            destination=serviceContact as |el|
          }}
            <el.control
              @searchEnabled={{false}}
              @search={{action 'searchContact'}}
              @searchField="name"
              @searchPlaceholder="Search contact..."
              @onChange={{action 'selectServiceContact'}}
              @placeholder="Select Contact" as |item|
            >
              {{item.displayName}}
            </el.control>
          {{/form.element}}
          {{#form.element
            controlType='power-select'
            id='secondary-service-contact'
            label='Secondary Service Contact'
            property='secondaryServiceContact'
            optionLabelPath='name'
            options=model.filteredContacts
            helpText="Your organization's secondary service contact."
            destination=secondaryServiceContact as |el|
          }}
            <el.control
              @searchEnabled={{false}}
              @search={{action 'searchContact'}}
              @searchField="name"
              @searchPlaceholder="Search contact..."
              @onChange={{action 'selectSecondaryServiceContact'}}
              @placeholder="Select Contact"
              @allowClear={{true}} as |item|
            >
              {{item.displayName}}
            </el.control>
          {{/form.element}}
          {{#form.element
            controlType='power-select'
            id='technical-contact'
            label='Technical Contact'
            property='technicalContact'
            optionLabelPath='name'
            options=model.filteredContacts
            helpText="Your organization's technical contact."
            destination=technicalContact as |el|
          }}
            <el.control
              @searchEnabled={{false}}
              @search={{action 'searchContact'}}
              @searchField="name"
              @searchPlaceholder="Search contact..."
              @onChange={{action 'selectTechnicalContact'}}
              @placeholder="Select Contact"
              @allowClear={{true}} as |item|
            >
              {{item.displayName}}
            </el.control>
          {{/form.element}}
          {{#form.element
            controlType='power-select'
            id='secondary-technical-contact'
            label='Secondary Technical Contact'
            property='secondaryTechnicalContact'
            optionLabelPath='name'
            options=model.filteredContacts
            helpText="Your organization's secondary technical contact."
            destination=secondaryTechnicalContact as |el|
          }}
            <el.control
              @searchEnabled={{false}}
              @search={{action 'searchContact'}}
              @searchField="name"
              @searchPlaceholder="Search contact..."
              @onChange={{action 'selectSecondaryTechnicalContact'}}
              @placeholder="Select Contact"
              @allowClear={{true}} as |item|
            >
              {{item.displayName}}
            </el.control>
          {{/form.element}}
          {{#if (not-eq model.memberType 'consortium_organization')}}
            {{#form.element
              controlType='power-select'
              id='billing-contact'
              label='Billing Contact'
              property='billingContact'
              optionLabelPath='name'
              options=model.filteredContacts
              helpText="Your organization's billing contact."
              destination='billingContact' as |el|
            }}
              <el.control
                @searchEnabled={{false}}
                @search={{action 'searchContact'}}
                @searchField="name"
                @searchPlaceholder="Search contact..."
                @onChange={{action 'selectBillingContact'}}
                @placeholder="Select Contact" as |item|
              >
                {{item.displayName}}
              </el.control>
            {{/form.element}}
            {{#form.element
              controlType='power-select'
              id='secondary-billing-contact'
              label='Secondary Billing Contact'
              property='secondaryBillingContact'
              optionLabelPath='name'
              options=model.filteredContacts
              helpText="Your organization's secondary billing contact."
              destination=secondaryBillingContact as |el|
            }}
              <el.control
                @searchEnabled={{false}}
                @search={{action 'searchContact'}}
                @searchField="name"
                @searchPlaceholder="Search contact..."
                @onChange={{action 'selectSecondaryBillingContact'}}
                @placeholder="Select Contact"
                @allowClear={{true}} as |item|
              >
                {{item.displayName}}
              </el.control>
            {{/form.element}}
          {{/if}}
        {{/if}}
      {{/if}}
      {{#if
        (and
          (not-eq model.memberType 'consortium_organization')
          (not-eq model.memberType 'developer')
        )
      }}
        <h3 class="member-results">
          Billing Information
        </h3>
        <form.element
          @controlType="text"
          @id="billing-information-department"
          @label="Billing Department"
          @property="billingInformation.department"
          @helpText="Your organization's specific department that is responsible for payment"
          @required={{false}}
        />
        <form.element
          @controlType="text"
          @id="billing-information-organization"
          @label="Billing Organization"
          @property="billingInformation.organization"
          @helpText="Your organization's name for billing purposes if different from the official name"
          @required={{false}}
        />
        <form.element
          @controlType="text"
          @id="billing-information-street"
          @label="Billing Street"
          @property="billingInformation.address"
          @helpText="Your organization's street for billing purposes"
          @required={{false}}
        />
        <form.element
          @controlType="text"
          @id="billing-information-city"
          @label="Billing City"
          @property="billingInformation.city"
          @helpText="Your organization's city for billing purposes"
          @required={{false}}
        />
        <form.element
          @controlType="text"
          @id="billing-information-postcode"
          @label="Billing Zip/Post Code"
          @property="billingInformation.postCode"
          @helpText="Your organization's Zip/post code for billing purposes"
          @required={{false}}
        />
        <form.element
          @controlType="power-select"
          @id="billing-information-country"
          @label="Billing Country"
          @property="billingInformation.country"
          @optionLabelPath="name"
          @options={{countries}}
          @helpText="Your organization's country for billing purposes."
          @destination={{billingInformation.country}} as |el|
        >
          <el.control
            @onChange={{action 'selectBillingCountry'}}
            @search={{action 'searchCountry'}}
            @searchField="name"
            @placeholder="Select Country"
            @searchPlaceholder="Type to search..."
            @allowClear={{true}} as |item|
          >
            {{item.name}}
          </el.control>
        </form.element>
        {{#if showStateSearch}}
          <form.element
            @controlType="power-select"
            @id="billing-information-state"
            @label="Billing State/Province"
            @property="billingInformation.state"
            @optionLabelPath="name"
            @options={{states}}
            @helpText="Your organization's state/province for billing purposes."
            @destination={{billingInformation.country}} as |el|
          >
            <el.control
              @onChange={{action 'selectBillingState'}}
              @search={{action 'searchState'}}
              @searchField="name"
              @placeholder="Select State/Province"
              @searchPlaceholder="Type to search..."
              @allowClear={{true}} as |item|
            >
              {{item.name}}
            </el.control>
          </form.element>
        {{/if}}
      {{/if}}
      {{#if (can 'create provider')}}
        <form.element
          @controlType="checkbox"
          @id="is-active"
          @label="Account is active"
          @property="isActive"
          @required={{false}}
          @helpText="This account can manage repositories and prefixes"
        />
      {{/if}}
      <div class="col-md-9 col-md-offset-3">
        <BsAlert @dismissible={{false}} @type="warning">
          The contacts entered may receive notifications about administration, webinars, product testing, 
          or news that will impact the use of DataCite services and/or membership. Individuals may remove 
          themselves from mailings by following the unsubscribe link provided in every DataCite email. 
          For information about our privacy practices and commitment to protecting your privacy, please 
          review our
          <a
            target="_blank"
            rel="noreferrer"
            href="https://datacite.org/privacy.html"
          >
            Privacy Policy
          </a>
          .
        </BsAlert>
      </div>
      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (provider-form-errors model))}}
          <button
            type="submit"
            id="update-provider"
            class="btn btn-sm btn-fill"
            disabled={{false}}
          >
            Update
            {{if
              (eq model.memberType 'consortium_organization')
              'Organization'
              'Member'
            }}
          </button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this
            {{if
              (eq model.memberType 'consortium_organization')
              'organization,'
              'member,'
            }}
            first resolve the errors with these fields:
            {{provider-form-errors model}}
            .
          </BsAlert>
          <button
            type="submit"
            id="update-provider"
            class="btn btn-sm btn-fill"
            disabled={{true}}
          >
            Update
            {{if
              (eq model.memberType 'consortium_organization')
              'Organization'
              'Member'
            }}
          </button>
        {{/if}}
        <button class="btn btn-sm" id="cancel" {{action 'cancel' model}}>
          Cancel
        </button>
      </div>
    </BsForm>
  </div>
</div>