<div class="row">
  <div class="col-md-3">
    {{#if (can 'update provider' model)}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group-vertical btn-group-sm">
              <LinkTo
                @route="providers.show.change"
                @model={{model.id}}
                class="btn btn-warning"
                @id="set-password-provider"
              >
                <i class="fas fa-key"></i>
                Set Password
              </LinkTo>
              <LinkTo
                @route="providers.show.edit"
                @model={{model.id}}
                class="btn btn-warning"
                @id="edit-provider"
              >
                <i class="fas fa-pencil-alt"></i>
                Update
                {{if
                  (eq model.memberType 'consortium_organization')
                  'Organization'
                  'Member'
                }}
              </LinkTo>
              {{#if (and (not admin) (can 'delete provider' model))}}
                <LinkTo
                  @route="providers.show.delete"
                  @model={{model.id}}
                  class="btn btn-warning"
                  @id="delete-provider"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                  {{if
                    (eq model.memberType 'consortium_organization')
                    'Organization'
                    'Member'
                  }}
                </LinkTo>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    <RepositorySidebar @model={{model}} />
  </div>
  <div class="col-md-9">
    {{#if (is-empty model.contacts)}}
      <BsAlert @dismissible={{false}} @type="danger">
        Please register at least one contact for this
        {{if
          (eq model.memberType 'consortium_organization')
          'organization'
          'member'
        }}
        .
      </BsAlert>
    {{/if}}
    <h3 class="member-results">
      Organization Information
    </h3>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#if (not admin)}}
          <h5>
            Member ID
          </h5>
          {{model.symbol}}
        {{/if}}
        {{#if model.rorId}}
          <h5>
            ROR ID
          </h5>
          <a href="{{model.rorId}}">
            {{model.rorId}}
          </a>
        {{/if}}
        {{#if (and (can 'create provider') model.salesforceId)}}
          <h5>
            Salesforce ID
          </h5>
          {{model.salesforceId}}
        {{/if}}
        {{#if (and (can 'token provider') model.globusUuid)}}
          <h5>
            Globus UUID
          </h5>
          {{model.globusUuid}}
        {{/if}}
        {{#if (not admin)}}
          <h5>
            Member Type
          </h5>
          {{titleize (humanize model.memberType)}}
          <h5>
            Tax Status
          </h5>
          {{titleize model.nonProfitStatus}}
          <h5>
            Organization Name
          </h5>
          {{model.name}}
        {{/if}}
        {{#if (eq model.memberType 'consortium_organization')}}
          <h5>
            Consortium
          </h5>
          {{model.consortium.name}}
        {{/if}}
        <h5>
          System Email
        </h5>
        <a href="mailto:{{model.systemEmail}}">
          {{model.systemEmail}}
        </a>
        {{#if model.groupEmail}}
          <h5>
            Group Email
          </h5>
          <a href="mailto:{{model.groupEmail}}">
            {{model.groupEmail}}
          </a>
        {{/if}}
        {{#if model.website}}
          <h5>
            Website
          </h5>
          <a href="{{model.website}}">
            {{model.website}}
          </a>
        {{/if}}
        {{#if model.twitterHandle}}
          <h5>
            Twitter
          </h5>
          <a href="{{twitter-url model.twitterHandle}}" id="twitter-url">
            {{twitter-url model.twitterHandle}}
          </a>
        {{/if}}
        {{#if model.country}}
          <h5>
            Country
          </h5>
          {{model.country.name}}
        {{/if}}
        {{#if model.description}}
          <h5>
            Description
          </h5>
          {{markdown-to-html model.description}}
        {{/if}}
        {{#if model.organizationType}}
          <h5>
            Organization Type
          </h5>
          {{titleize (humanize (underscore model.organizationType))}}
        {{/if}}
        {{#if model.focusArea}}
          <h5>
            Focus Area
          </h5>
          {{titleize (humanize (underscore model.focusArea))}}
        {{/if}}
        {{#if model.joined}}
          <h5>
            Date joined
          </h5>
          {{format-time model.joined year='numeric' month='long' day='numeric'}}
        {{/if}}
        {{#if (not model.hasPassword)}}
          <h5>
            Password
          </h5>
          <span class="small icon-warning">
            has not been set
          </span>
        {{/if}}
      </div>
    </div>
    <h3 class="member-results">
      Contact Information
    </h3>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#if (is-empty model.contacts)}}
          <BsAlert @dismissible={{false}} @type="danger">
            There are no contacts in your contacts list, please first <LinkTo
              @route="providers.show.contacts.new"
              @model={{model.id}}
              @id="add-contact"
            >
              add a contact
            </LinkTo> before assigning roles.
          </BsAlert>
        {{else}}
          {{#if (not-eq model.memberType 'consortium_organization')}}
            <h5>
              Voting Representative
            </h5>
            <div cy-data="voting">
              {{#if model.votingContact}}
                {{format-contact model.votingContact}}
              {{else}}
                <span class="small icon-warning">
                  Please provide this information.
                </span>
              {{/if}}
            </div>
          {{/if}}
          <h5>
            Service Contact
          </h5>
          <div cy-data="service">
            {{#if model.serviceContact}}
              {{format-contact model.serviceContact}}
            {{else}}
              <span class="small icon-warning">
                Please provide this information.
              </span>
            {{/if}}
          </div>
          {{#if model.secondaryServiceContact}}
            <h5>
              Secondary Service Contact
            </h5>
            <div cy-data="secondary-service">
              {{format-contact model.secondaryServiceContact}}
            </div>
          {{/if}}
          {{#if model.technicalContact}}
            <h5>
              Technical Contact
            </h5>
            <div cy-data="technical">
              {{format-contact model.technicalContact}}
            </div>
          {{/if}}
          {{#if model.secondaryTechnicalContact}}
            <h5>
              Secondary Technical Contact
            </h5>
            <div cy-data="secondary-technical">
              {{format-contact model.secondaryTechnicalContact}}
            </div>
          {{/if}}
          {{#if (not-eq model.memberType 'consortium_organization')}}
            <h5>
              Billing Contact
            </h5>
            <div cy-data="billing">
              {{#if model.billingContact}}
                {{format-contact model.billingContact}}
              {{else}}
                <span class="small icon-warning">
                  Please provide this information.
                </span>
              {{/if}}
            </div>
            {{#if model.secondaryBillingContact}}
              <h5>
                Secondary Billing Contact
              </h5>
              <div cy-data="secondary-billing">
                {{format-contact model.secondaryBillingContact}}
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if (not-eq model.memberType 'consortium_organization')}}
      <h3 class="member-results">
        Billing Information
      </h3>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if model.formattedBillingInformation}}
            {{#if model.billingContact.familyName}}
              {{model.billingContact.givenName}}
              {{model.billingContact.familyName}}
              <br />
            {{/if}}
            {{#if model.billingInformation.department}}
              {{model.billingInformation.department}}<br />
            {{/if}}
            {{#if model.billingInformation.organization}}
              {{model.billingInformation.organization}}<br />
            {{else}}
              {{model.name}}<br />
            {{/if}}
            {{#if model.formattedBillingInformation}}
              {{#each model.formattedBillingInformation as |line|}}
                {{line}}<br />
              {{/each}}
            {{/if}}
          {{else}}
            <span class="small icon-warning">
              Please provide this information.
            </span>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>