<div class="row">
  <div class='col-md-3'>
    {{#if (can "update provider" model)}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group-vertical btn-group-sm">
              <LinkTo @route="providers.show.change" @model={{model.id}} class="btn btn-warning" @id="set-password-provider">{{fa-icon "key"}} Set Password</LinkTo>
              <LinkTo @route="providers.show.edit" @model={{model.id}} class="btn btn-warning" @id="edit-provider">{{fa-icon "pencil"}} Update {{if (eq model.memberType "consortium_organization") 'Organization' 'Member'}}</LinkTo>
              {{#if (and (not admin) (can "delete provider" model))}}
                <LinkTo @route="providers.show.delete" @model={{model.id}} class="btn btn-warning" @id="delete-provider">{{fa-icon "trash"}} Delete {{if (eq model.memberType "consortium_organization") 'Organization' 'Member'}}</LinkTo>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}

    <RepositorySidebar @model={{model}} />
  </div>
  <div class="col-md-9">
    <div class="panel panel-transparent">
      <div class="panel-body">

        <h4>Organization Information</h4>
        {{#if (not admin)}}
          <h5>Member ID</h5>
          {{model.symbol}}
        {{/if}}

        {{#if model.rorId}}
          <h5>ROR ID</h5>
          <a href="{{model.rorId}}">{{model.rorId}}</a>
        {{/if}}

        {{#if (and (can "create provider") model.salesforceId)}}
          <h5>Salesforce ID</h5>
          {{model.salesforceId}}
        {{/if}}

        {{#if (and (can "token provider") model.globusUuid)}}
          <h5>Globus UUID</h5>
          {{model.globusUuid}}
        {{/if}}

        {{#if (not admin)}}
          <h5>Member Type</h5>
          {{titleize (humanize model.memberType)}}

          <h5>Tax Status</h5>
          {{titleize model.nonProfitStatus}}

          <h5>Organization Name</h5>
          {{model.name}}
        {{/if}}

        {{#if (eq model.memberType "consortium_organization")}}
          <h5>Consortium</h5>
          {{model.consortium.name}}
        {{/if}}

        <h5>System Email</h5>
        <a href="mailto:{{model.systemEmail}}">{{model.systemEmail}}</a>

        {{#if model.groupEmail}}
          <h5>Group Email</h5>
          <a href="mailto:{{model.groupEmail}}">{{model.groupEmail}}</a>
        {{/if}}

        {{#if model.website}}
          <h5>Website</h5>
          <a href="{{model.website}}">{{model.website}}</a>
        {{/if}}

        {{#if model.twitterHandle}}
          <h5>Twitter</h5>
          <a href="{{twitter-url model.twitterHandle}}">{{twitter-url model.twitterHandle}}</a>
        {{/if}}

        {{#if model.country}}
          <h5>Country</h5>
          {{model.country.name}}
        {{/if}}

        {{#if model.description}}
          <h5>Description</h5>
          {{markdown-to-html model.description}}
        {{/if}}

        {{#if model.organizationType}}
          <h5>Organization Type</h5>
          {{titleize (humanize (underscore model.organizationType))}}
        {{/if}}

        {{#if model.focusArea}}
          <h5>Focus Area</h5>
          {{titleize (humanize (underscore model.focusArea))}}
        {{/if}}

        <br>
        <h4>Service Contact Information</h4>

        {{#if model.technicalContact.email}}
          <h5>Primary Technical Contact</h5>
          {{model.technicalContact.givenName}} {{model.technicalContact.familyName}}<br>
          <a href="mailto:{{model.technicalContact.email}}">{{model.technicalContact.email}}</a>
        {{/if}}

        {{#if model.secondaryTechnicalContact.email}}
          <h5>Secondary Technical Contact</h5>
          {{model.secondaryTechnicalContact.givenName}} {{model.secondaryTechnicalContact.familyName}}<br>
          <a href="mailto:{{model.secondaryTechnicalContact.email}}">{{model.secondaryTechnicalContact.email}}</a>
        {{/if}}

        {{#if model.serviceContact.email}}
          <h5>Primary Service Contact</h5>
          {{model.serviceContact.givenName}} {{model.serviceContact.familyName}}
          <br>
          <a href="mailto:{{model.serviceContact.email}}">{{model.serviceContact.email}}</a>
        {{/if}}

        {{#if model.secondaryServiceContact.email}}
          <h5>Secondary Service Contact</h5>
          {{model.secondaryServiceContact.givenName}} {{model.secondaryServiceContact.familyName}}
          <br>
          <a href="mailto:{{model.secondaryServiceContact.email}}">{{model.secondaryServiceContact.email}}</a>
        {{/if}}

        {{#if (not-eq model.memberType "consortium_organization")}}
          {{#if model.votingContact.email}}
            <h5>Voting Representative</h5>
            {{model.votingContact.givenName}} {{model.votingContact.familyName}}<br>
            <a href="mailto:{{model.votingContact.email}}">{{model.votingContact.email}}</a>
          {{/if}}
        {{/if}}

        {{#if model.joined}}
          <h5>Date joined</h5>
          {{format-time model.joined year='numeric' month='long' day='numeric'}}
        {{/if}}

        {{#if (not model.hasPassword)}}
          <h5>Password</h5>
          <span class="small icon-warning">has not been set</span>
        {{/if}}

        {{#if (not-eq model.memberType "consortium_organization")}}
          <h4>Billing Information</h4>
          {{#if (not isBillingEmpty)}}
            {{#if model.billingInformation.organization}}
              <h5>Billing Organization</h5>
              {{model.billingInformation.organization}}
            {{/if}}
            {{#if model.billingInformation.department}}
              <h5>Billing Department</h5>
              {{model.billingInformation.department}}
            {{/if}}

            {{#if model.billingInformation.address}}
              <h5>Billing Address</h5>
              {{model.billingInformation.address}}
            {{/if}}
            {{#if model.billingInformation.city}}
              <h5>Billing City</h5>
              {{model.billingInformation.city}}
            {{/if}}
            {{#if model.billingInformation.state}}
              <h5>Billing State/Province</h5>
              {{model.billingInformation.state}}
            {{/if}}
            {{#if model.billingInformation.postCode}}
              <h5>Billing Zip/PostCode</h5>
              {{model.billingInformation.postCode}}
            {{/if}}
            {{#if model.billingInformation.country}}
              <h5>Billing Country</h5>
              {{model.billingInformation.country.name}}
            {{/if}}

            {{#if model.billingContact.email}}
              <h5>Billing Contact</h5>
              {{model.billingContact.givenName}} {{model.billingContact.familyName}}
              <br>
              <a href="mailto:{{model.billingContact.email}}">{{model.billingContact.email}}</a>
            {{/if}}

            {{#if model.secondaryBillingContact.email}}
              <h5>Secondary Billing Contact</h5>
              {{model.secondaryBillingContact.givenName}} {{model.secondaryBillingContact.familyName}}
              <br>
              <a href="mailto:{{model.secondaryBillingContact.email}}">{{model.secondaryBillingContact.email}}</a>
            {{/if}}

          {{else}}
            <span class="small icon-warning">has not been provided</span>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
