<div class="row">
  <div class="col-md-9">
    {{#each this.flashMessages.queue as |flash|}}
      <FlashMessage @flash={{flash}} />
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {{#if (can 'update provider' this.model)}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group-vertical btn-group-sm">
              <LinkTo
                @route="providers.show.change"
                @model={{this.model.id}}
                class="btn btn-warning"
                id="set-password-provider"
              >
                <i class="fas fa-key"></i>
                Set Password
              </LinkTo>
              <LinkTo
                @route="providers.show.edit"
                @model={{this.model.id}}
                class="btn btn-warning"
                id="edit-provider"
              >
                <i class="fas fa-pencil-alt"></i>
                Update
                {{if
                  (eq this.model.memberType 'consortium_organization')
                  'Organization'
                  'Member'
                }}
              </LinkTo>
              {{#if (and (not this.admin) (can 'delete provider' this.model))}}
                <LinkTo
                  @route="providers.show.delete"
                  @model={{this.model.id}}
                  class="btn btn-warning"
                  id="delete-provider"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                  {{if
                    (eq this.model.memberType 'consortium_organization')
                    'Organization'
                    'Member'
                  }}
                </LinkTo>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    <RepositorySidebar @model={{this.model}} />
  </div>
  <div class="col-md-9">
    <h3 class="member-results">
      Organization Information
    </h3>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#unless this.admin}}
          <h5>
            Member ID
          </h5>
          {{this.model.symbol}}
        {{/unless}}
        {{#if this.model.rorId}}
          <h5>
            ROR ID
          </h5>
          <a href="{{this.model.rorId}}">
            {{this.model.rorId}}
          </a>
        {{/if}}
        {{#if (and (can 'create provider') this.model.salesforceId)}}
          <h5>
            Salesforce ID
          </h5>
          {{this.model.salesforceId}}
        {{/if}}
        {{#if (and (can 'token provider') this.model.globusUuid)}}
          <h5>
            Globus UUID
          </h5>
          {{this.model.globusUuid}}
        {{/if}}
        {{#unless this.admin}}
          <h5>
            Member Type
          </h5>
          {{titleize (humanize this.model.memberType)}}
          <h5>
            Tax Status
          </h5>
          {{titleize this.model.nonProfitStatus}}
          <h5>
            Organization Name
          </h5>
          {{this.model.name}}
        {{/unless}}
        {{#if (eq this.model.memberType 'consortium_organization')}}
          <h5>
            Consortium
          </h5>
          {{this.model.consortium.name}}
        {{/if}}
        <h5>
          System Email
        </h5>
        <a href="mailto:{{this.model.systemEmail}}">
          {{this.model.systemEmail}}
        </a>
        {{#if this.model.groupEmail}}
          <h5>
            Group Email
          </h5>
          <a href="mailto:{{this.model.groupEmail}}">
            {{this.model.groupEmail}}
          </a>
        {{/if}}
        {{#if this.model.website}}
          <h5>
            Website
          </h5>
          <a href="{{this.model.website}}">
            {{this.model.website}}
          </a>
        {{/if}}
        {{#if this.model.country}}
          <h5>
            Country
          </h5>
          {{this.model.country.name}}
        {{/if}}
        {{#if this.model.description}}
          <h5>
            Description
          </h5>
          <MarkdownToHtml @markdown={{this.model.description}} />
        {{/if}}
        {{#if this.model.organizationType}}
          <h5>
            Organization Type
          </h5>
          {{titleize (humanize (underscore this.model.organizationType))}}
        {{/if}}
        {{#if this.model.focusArea}}
          <h5>
            Focus Area
          </h5>
          {{titleize (humanize (underscore this.model.focusArea))}}
        {{/if}}
        {{#if this.model.joined}}
          <h5>
            Date joined
          </h5>
          {{format-time this.model.joined year='numeric' month='long' day='numeric'}}
        {{/if}}
        {{#unless this.model.hasPassword}}
          <h5>
            Password
          </h5>
          <span class="small icon-warning">
            has not been set
          </span>
        {{/unless}}
      </div>
    </div>
    {{#if (not-eq this.model.memberType 'developer')}}
      <h3 class="member-results">
        Contact Information
      </h3>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if (is-empty this.model.contacts)}}
            <BsAlert @dismissible={{false}} @type="danger">
              There are no contacts in your contacts list. Please
              <LinkTo
                @route="providers.show.contacts.new"
                @model={{this.model.id}}
                id="add-contact"
              >
                add at least one contact
              </LinkTo>
              .
            </BsAlert>
          {{else}}
            {{#if (not-eq this.model.memberType 'consortium_organization')}}
              <h5>
                Voting Representative
              </h5>
              <div cy-data="voting">
                {{#if this.model.votingContact.email}}
                  {{format-contact this.model.votingContact}}
                {{else}}
                  <span class="small icon-warning">
                    Please provide this information.
                  </span>
                {{/if}}
              </div>
            {{/if}}
            <h5>
              Service Contact
            </h5>
            <div cy-data="service">
              {{#if this.model.serviceContact.email}}
                {{format-contact this.model.serviceContact}}
              {{else}}
                <span class="small icon-warning">
                  Please provide this information.
                </span>
              {{/if}}
            </div>
            {{#if this.model.secondaryServiceContact.email}}
              <h5>
                Secondary Service Contact
              </h5>
              <div cy-data="secondary-service">
                {{format-contact this.model.secondaryServiceContact}}
              </div>
            {{/if}}
            {{#if this.model.technicalContact.email}}
              <h5>
                Technical Contact
              </h5>
              <div cy-data="technical">
                {{format-contact this.model.technicalContact}}
              </div>
            {{/if}}
            {{#if this.model.secondaryTechnicalContact.email}}
              <h5>
                Secondary Technical Contact
              </h5>
              <div cy-data="secondary-technical">
                {{format-contact this.model.secondaryTechnicalContact}}
              </div>
            {{/if}}
            {{#if (not-eq this.model.memberType 'consortium_organization')}}
              <h5>
                Billing Contact
              </h5>
              <div cy-data="billing">
                {{#if this.model.billingContact.email}}
                  {{format-contact this.model.billingContact}}
                {{else}}
                  <span class="small icon-warning">
                    Please provide this information.
                  </span>
                {{/if}}
              </div>
              {{#if this.model.secondaryBillingContact.email}}
                <h5>
                  Secondary Billing Contact
                </h5>
                <div cy-data="secondary-billing">
                  {{format-contact this.model.secondaryBillingContact}}
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    {{#if
      (and
        (not-eq this.model.memberType 'consortium_organization')
        (not-eq this.model.memberType 'developer')
      )
    }}
      <h3 class="member-results">
        Billing Information
      </h3>
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if this.model.formattedBillingInformation}}
            {{#if this.model.billingContact.familyName}}
              {{this.model.billingContact.givenName}}
              {{this.model.billingContact.familyName}}
              <br />
            {{/if}}
            {{#if this.model.billingInformation.department}}
              {{this.model.billingInformation.department}}<br />
            {{/if}}
            {{#if this.model.billingInformation.organization}}
              {{this.model.billingInformation.organization}}<br />
            {{else}}
              {{this.model.name}}<br />
            {{/if}}
            {{#if this.model.formattedBillingInformation}}
              {{#each this.model.formattedBillingInformation as |line|}}
                {{line}}<br />
              {{/each}}
            {{/if}}
          {{else}}
            <span class="small icon-warning">
              Please provide this information.
            </span>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>