<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "destroyAction"}} @submitOnEnter={{true}} as |form|>
        <div class="form-group">
          <label class="control-label">Are you sure you want to delete the DOI {{this.model.doi}}? This action cannot be undone.</label>
          <form.element @controlType="text" @property="confirmDoi" id="confirm-doi" @helpText="Please add the DOI to confirm." @showValidationOn="input" as |el|>
            <el.control id="confirm-doi-field" autofocus={{true}} />
          </form.element>
        </div>

        <div class="pseudo-footer">
          <div class="btn-toolbar pull-right">
            <button class="btn btn-sm" type="button" {{action "cancelAction"}}>Cancel</button>
            <button disabled={{v-get this.model 'confirmDoi' 'isInvalid'}} id="delete-doi" class="btn btn-sm btn-fill" type="button" {{action "destroyAction"}}>Delete</button>
          </div>
          <div class="clearfix"/>
        </div>
      </BsForm>
    </div>
  </div>
</div>