<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3">
      <BsForm @formLayout="vertical" @model={{model}} @onSubmit={{action "destroy"}} @submitOnEnter={{true}} as |form|>
        <form.group>
          <label class="control-label">Are you sure you want to delete the DOI {{model.doi}}? This action cannot be undone.</label>
          <form.element @controlType="text" @property="confirmDoi" @helpText="Please add the DOI to confirm." @showValidationOn="input" @autofocus={{true}} />
        </form.group>

        <div class="pseudo-footer">
          <div class="btn-toolbar pull-right">
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
            <button {{action "destroy"}} disabled={{v-get model 'confirmDoi' 'isInvalid'}} class="btn btn-sm btn-fill">Delete</button>
          </div>
          <div class="clearfix"/>
        </div>
      </BsForm>
    </div>
  </div>
</div>