<div class="col-md-9 col-md-offset-3">
  <h2 class="doi">{{model.doi}}</h2>
</div>

<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3 form-help-header">
      <h3 class="help-header">Update DOI (Form)</h3>
      <div class="help-block">
        More information about DOI registration via form can be found on our <a target="_blank" rel="noopener" href="https://support.datacite.org/docs/fabrica-create-doi-form">Support
          Website</a>.
      </div>
    </div>
    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model}} @onSubmit={{action "submit" model}} as |form|>
      <form.element @controlType="text" @label="DOI" @property="doi" @helpText="The globally unique string that identifies
the resource and can't be changed." @disabled={{true}} />

      <DoiState @model={{model}} @form={{form}} />
      
      <form.element @id="url" @controlType="text" @label="URL" @property="url" @helpText="The location of the landing page with more information about the resource."  @required={{false}} />

      <DoiCreators @model={{model}} @form={{form}} />
      <DoiTitles @model={{model}} @form={{form}} />

      <form.element @id="publisher" @controlType="text" @label="Publisher" @property="publisher" @helpText="The name of the entity that
      holds, archives, publishes prints, distributes, releases, issues, or produces the resource." @required={{false}} />
      <form.element @id="publication-year" @controlType="text" @label="Publication Year" @property="publicationYear" @helpText="The year when the
      resource was or will be made publicly available. Must be between 1450 and 2021." @required={{false}} />

      <DoiTypes @model={{model}} @form={{form}} />
      <DoiDescriptions @model={{model}} @form={{form}} />

      <ModelValidationErrors @model={{model}} @form={{form}} />

      <div class="col-md-9 col-md-offset-3">
        <button type="submit" id="update-doi" class="btn btn-sm btn-fill" disabled={{v-get model 'isInvalid'}}>Update DOI</button>
        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>

  </div>
</div>