<div class="row">
  <div class='col-md-3'>
    <div class="panel facets add">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group-vertical btn-group-sm">
            {{#if (can "edit doi" model)}}
            <LinkTo @route="dois.show.edit" @model={{model.id}} class="btn btn-warning" @id="edit-doi">{{fa-icon "wpforms"}} Update DOI (Form)</LinkTo>
            {{/if}}
            {{#if (can "modify doi" model)}}
            <LinkTo @route="dois.show.modify" @model={{model.id}} class="btn btn-warning" @id="modify-doi">{{fa-icon "upload"}} Update DOI (File Upload)</LinkTo>
            {{/if}}
            {{#if (can "transfer doi" model)}}
            <LinkTo @route="dois.show.transfer" @model={{model.id}} class="btn btn-warning" @id="transfer-doi">{{fa-icon "arrow-circle-o-right"}} Transfer DOI</LinkTo>
            {{/if}}
            {{#if (and (can "delete doi" model) model.isDraft)}}
            <LinkTo @route="dois.show.delete" @model={{model.id}} class="btn btn-warning" @id="delete-doi">{{fa-icon "trash"}} Delete DOI</LinkTo>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <RepositorySidebar @model={{model}} />
  </div>
  <div class='col-md-9'>
    <DoiUrl @model={{model}} />
    <DoiMetadata @model={{model}} />

    {{#if model.showCitation}}
    <DoiCitation @model={{model}} />
    {{/if}}

    {{#if (and model.landingPage.checked (can "viewHealth doi" model))}}
    <DoiHealth @model={{model}} />
    {{/if}}
  </div>
</div>