<div class="panel panel-transparent">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-3 form-help-header">
      <h3 class="help-header">Update DOI (File Upload)</h3>
      <div class="label-vertical">
        More information about DOI registration via file upload can be found on our <a target="_blank" rel="noopener"
          href="https://support.datacite.org/docs/fabrica-create-doi-form">Support Website</a>.
      </div>
    </div>

    <BsForm @formLayout="horizontal" @horizontalLabelGridClass="col-md-3" @model={{model}} @onSubmit={{action "submit" model}} as |form|>
      <div class="form-group required-nested-label">
        <label class="control-label col-md-3">DOI</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The globally unique string that identifies the resource and can't be changed.</div>
          <form.element @controlType="text" @id="doi" @property="doi" @disabled={{true}} />
        </div>
      </div>

      <DoiState @class="required-nested-label" @model={{model}} @form={{form}} />

      <div class="form-group required-nested-label {{if (v-get model 'url' 'isInvalid') 'has-error' 'has-feedback'}}">
        <label class="control-label col-md-3">URL</label>
        <div class="col-md-9 input-fragment">
          <div class="label-vertical">The location of the landing page with more information about the resource.</div>
          <form.element @id="url" @controlType="text" @property="url" @placeholder="URL" @helpText="Should be a https URL, http and ftp are also supported." @required={{false}} />
        </div>
      </div>

      <DoiUpload @model={{model}} @form={{form}} />

      <div class="col-md-9 col-md-offset-3">
        {{#if (is-empty (doi-form-errors model))}}
          <button type="submit" id="doi-modify" class="btn btn-sm btn-fill" disabled={{false}}>Update DOI</button>
        {{else}}
          <BsAlert @dismissible={{false}} @type="danger">
            To save this DOI, first resolve the errors with these properties: {{doi-form-errors model}}.
          </BsAlert>

          <button type="submit" id="doi-modify" class="btn btn-sm btn-fill" disabled={{true}}>Update DOI</button>          
        {{/if}}

        <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
      </div>
    </BsForm>
  </div>
</div>
