{{#if (can "read client" model)}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{#if (can "read provider" model.provider)}}
        <ol class="breadcrumb">
          {{#if (can "read index")}}
            <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
            <li class="breadcrumb-item">{{#link-to "providers"}}Providers{{/link-to}}</li>
          {{/if}}
          <li class="breadcrumb-item">{{#link-to "providers.show" model.provider.id}}{{model.provider.name}}{{/link-to}}</li>
          <li class="breadcrumb-item">{{#link-to "providers.show.clients" model.provider.id}}Clients{{/link-to}}</li>
        </ol>
      {{/if}}

      <div class="row">
        <div class="col-md-9" id="show">
          <div class="panel panel-transparent" id="content-member">
            <div class="panel-title work">
              <h2>{{model.name}}</h2>
            </div>
          </div>

          <div class="tab-content nav-tabs-member">
            {{#bs-nav type="tabs" as |nav|}}
              {{#nav.item}}{{#nav.link-to "clients.show.index" model.id class="nav-link"}}Info{{/nav.link-to}}{{/nav.item}}
              {{#nav.item}}{{#nav.link-to "clients.show.settings" model.id class="nav-link"}}Settings{{/nav.link-to}}{{/nav.item}}
              {{#nav.item}}{{#nav.link-to "clients.show.users" model.id class="nav-link"}}Users{{/nav.link-to}}{{/nav.item}}
              {{#nav.item}}{{#nav.link-to "clients.show.prefixes" model.id class="nav-link"}}Prefixes{{/nav.link-to}}{{/nav.item}}
              {{#nav.item}}{{#nav.link-to "clients.show.dois" model.id class="nav-link"}}DOIs{{/nav.link-to}}{{/nav.item}}
            {{/bs-nav}}
          </div>
        </div>
        {{#if model.repository}}
          <div class="col-md-3">
            <a href="http://www.re3data.org/repository/{{model.repository.id}}"><img class="img-responsive" src="{{model.badgeUrl}}"></a>
          </div>
        {{/if}}
      </div>

      {{outlet}}
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
