<div class="row">
  {{model-search model=model}}
</div>

<div class="row">
  <div class='col-md-9 panel-list' id="content">
    {{#if model}}
      {{#if (gt model.meta.total 1)}}
        <h3 class="member-results">{{#if (gt model.meta.total 1)}}{{format-number model.meta.total}}{{/if}} DOIs</h3>
      {{/if}}
      {{#each model as |work|}}
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="work">
              {{#link-to "works.show" work.id}}{{work.title}}{{/link-to}}
            </h3>
            {{{format-author work.author}}}
            <div class="metadata">
              {{format-metadata work.published resourceType=work.resourceTypeSubtype containerTitle=work.containerTitle}}
            </div>
            {{#if work.description}}
              <div class="description">
                {{format-text work.description limit=75}}
              </div>
            {{/if}}
            {{#if work.license}}
              <div class="license">
                {{work.license}}
              </div>
            {{/if}}
            <div class="pseudo-footer">
              <span class="pull-right">{{titleize work.resourceTypeId}}</span>
              <a href="{{work.identifier}}">{{fa-icon "external-link"}} {{work.identifier}}</a>
            </div>
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.meta.total_pages 1)}}
          {{page-numbers content=content showFL=true}}
        {{/if}}
      </div>
    {{else}}
      {{#bs-alert dismissible=false type="warning"}}
        No DOIs found.
      {{/bs-alert}}
    {{/if}}
  </div>
  <div class='col-md-3'>
    {{#if model.meta.resource-types}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Resource Types</h4>
          <ul>
            {{#each model.meta.resource-types as |resource-type|}}
              <li>
                {{#if model.otherParams.resource-type-id}}
                  {{#link-to "works" (query-params resource-type-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to "works" (query-params resource-type-id=resource-type.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{resource-type.title}}</div>
                <span class="number pull-right">{{format-number resource-type.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.years}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Publication Year</h4>
          <ul>
            {{#each model.meta.years as |year|}}
              <li>
                {{#if model.otherParams.year}}
                  {{#link-to "works" (query-params year='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to "works" (query-params year=year.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{format-number year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.data-centers}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Clients <span class="small">{{fa-icon "question-circle"}}{{#bs-tooltip placement="top"}}Filter DOIs by client managing them.{{/bs-tooltip}}</span></h4>
          <ul>
            {{#each model.meta.data-centers as |data-center|}}
              <li>
                {{#if model.otherParams.data-center-id}}
                  {{#link-to "works" (query-params data-center-id='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to "works" (query-params data-center-id=data-center.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{data-center.title}}</div>
                <span class="number pull-right">{{format-number data-center.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if model.meta.schema-versions}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Schema Versions</h4>
          <ul>
            {{#each model.meta.schema-versions as |schema-version|}}
              <li>
                {{#if model.otherParams.schema-version}}
                  {{#link-to "works" (query-params schema-version='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                {{else}}
                  {{#link-to "works" (query-params schema-version=schema-version.id)}}{{fa-icon "square-o"}}{{/link-to}}
                {{/if}}
                <div class="facet-title">{{schema-version.title}}</div>
                <span class="number pull-right">{{format-number schema-version.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>
