{{#if (can "read work" model)}}
  <ol class="breadcrumb">
    {{#if (can "read index")}}
      <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
    {{/if}}
    <li class="breadcrumb-item">{{#link-to "members.show" model.member.id}}{{model.member.title}}{{/link-to}}</li>
    <li class="breadcrumb-item">{{#link-to "data-centers.show" model.data-center.id}}{{model.data-center.title}}{{/link-to}}</li>
  </ol>

  <h2 class="work">{{model.doi}}</h2>
  <div class="row">
    <div class="col-md-9">
      <h3 class="member-results">URL</h3>
    </div>
  </div>

  {{work-url model=model}}
  {{work-metadata model=model}}
{{else}}
  <div class="row">
    <div class='col-md-9'>
      {{#bs-alert dismissible=false type="warning"}}
        You have no permissions to access this page.
      {{/bs-alert}}
    </div>
  </div>
{{/if}}
