<div class="row">
  <div class="col-md-3">
    {{#if (can "write prefix" model.prefixes)}}
      <div class="panel facets">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
              <LinkTo @route="providers.show.prefixes.new" @model={{model.provider.id}} class="btn btn-warning">{{fa-icon "link"}}Assign Prefix
              </LinkTo>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <div class="edit"></div>
        </div>
      </div>
    {{/if}}

    {{#if model.prefixes.meta.states}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>State <span class="small">{{fa-icon "question-circle-o"}}<BsTooltip @placement="top">Filter prefixes by whether they have been assigned to a repository.</BsTooltip></span></h4>
          <ul>
            {{#each model.prefixes.meta.states as |state|}}
              <li>
                {{#if model.prefixes.query.state}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash state=null}}>{{fa-icon "check-square-o"}}
                  </LinkTo>
                {{else}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash state=state.id}}>{{fa-icon "square-o"}}</LinkTo>
                {{/if}}
                <div class="facet-title">{{state.title}}</div>
                <span class="number pull-right">{{state.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}

    {{#if model.prefixes.meta.years}}
      <div class="panel facets add">
        <div class="panel-body">
          <h4>Year created</h4>
          <ul>
            {{#each model.prefixes.meta.years as |year|}}
              <li>
                {{#if model.prefixes.query.year}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash year=null}}>{{fa-icon "check-square-o"}}
                  </LinkTo>
                {{else}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash year=year.id}}>{{fa-icon "square-o"}}
                  </LinkTo>
                {{/if}}
                <div class="facet-title">{{year.title}}</div>
                <span class="number pull-right">{{year.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    {{#if (eq link "prefixes")}}
      <div class="panel facets">
        <div class="panel-body">
          <h4>Providers <span class="small">{{fa-icon "question-circle-o"}}<BsTooltip @placement="top">Filter prefixes by DOI Registration Provider they work with.</BsTooltip></span></h4>
          <ul>
            {{#each model.prefixes.meta.providers as |provider|}}
              <li>
                {{#if model.prefixes.query.provider-id}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash provider-id=null}}>{{fa-icon "check-square-o"}}</LinkTo>
                {{else}}
                  <LinkTo @route="providers.show.prefixes" @query={{hash provider-id=provider.id}}>{{fa-icon "square-o"}}</LinkTo>
                {{/if}}
                <div class="facet-title">{{provider.title}}</div>
                <span class="number pull-right">{{provider.count}}</span>
                <div class="clearfix"/>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-9 panel-list" id="content">
    <ModelSearch @model={{model.prefixes}} @sortable={{true}} @link="providers.show.prefixes" />
    
    {{#if model.prefixes}}
      {{#each model.prefixes as |provider-prefix|}}
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h3 class="work"><LinkTo @route="providers.show.prefixes.show" @models={{array model.provider.id provider-prefix.prefix.id}}>{{provider-prefix.prefix.id}}</LinkTo></h3>

            <h5>{{pluralize provider-prefix.repositories.length "Repository" without-count=true}}</h5>
            {{#if provider-prefix.repositories}}
              {{#each provider-prefix.repositories as |repository|}}
                <LinkTo @route="repositories.show.prefixes.show" @models={{array repository.id provider-prefix.prefix.id}}>{{repository.name}}</LinkTo><br/>
              {{/each}}
              {{#if features.useElasticsearch}}
                <h5>DOIs</h5>
                <LinkTo @route="providers.show.dois" @model={{provider-prefix.provider.id}} @query={{hash prefix=provider-prefix.prefix.id}}>DOIs for prefix {{provider-prefix.prefix.id}}</LinkTo>
              {{/if}}
            {{else}}
              <span class="icon-warning">No repositories found.</span>
            {{/if}}

            <h5>Added</h5>
            {{format-time provider-prefix.created year='numeric' month='long' day='numeric' hour='numeric' minute='numeric' second='numeric' timeZone='UTC' timeZoneName='short' hour12=false}}
          </div>
        </div>
      {{/each}}
      <div class="text-center">
        {{#if (gt model.prefixes.meta.totalPages 1)}}
          <PageNumbers @model={{model.prefixes}} @link="providers.show.prefixes" />
        {{/if}}
      </div>
    {{else}}
      <BsAlert @dismissible={{false}} @type="warning">
        No prefixes found.
      </BsAlert>
    {{/if}}
  </div>
</div>
