<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-md-3 col-sm-4'>
      <h4>About DataCite</h4>
      {{nav-links links=model.about_links}}
    </div>
    <div class='col-md-3 col-sm-4'>
      <h4>Services</h4>
      {{nav-links links=model.services_links}}
    </div>
    <div class='col-md-3 col-sm-4'>
      <h4>Resources</h4>
      {{nav-links links=model.resources_links}}
      <h4>Community</h4>
      {{nav-links links=model.community_links}}
    </div>
    <div class='col-md-3'>
      <h4 class="share">Contact us</h4>
      <a href='mailto:support@datacite.org' class="share">
        <i class='fa fa-at'></i>
      </a>
      <a href='https://blog.datacite.org' class="share">
        <i class='fa fa-rss'></i>
      </a>
      <a href='https://twitter.com/datacite' class="share">
        <i class='fa fa-twitter'></i>
      </a>
      <a href='https://www.linkedin.com/company/datacite' class="share">
        <i class='fa fa-linkedin'></i>
      </a>
      {{nav-links links=model.contact_links class="share"}}
    </div>
  </div>
</footer>
