<div class="header" id="navtop">
  <div class="{{navbar-class currentRouteName}}" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{site-title currentRouteName}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if (can "read member")}}
            <li>{{#link-to "members" activeClass="active"}}Members{{/link-to}}</li>
          {{/if}}
          {{#if (can "list data-center")}}
            <li>{{#link-to "data-centers" activeClass="active"}}Clients{{/link-to}}</li>
          {{/if}}
          {{#if (can "list user")}}
            <li>{{#link-to "users" activeClass="active"}}Users{{/link-to}}</li>
          {{/if}}
          {{#if (can "read settings")}}
            <li>{{#link-to "settings" activeClass="active"}}Settings{{/link-to}}</li>
          {{/if}}
          <li><a href="https://support.datacite.org">{{t "general.support"}}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="services">Services <span class="caret"></span></a>
            {{menu-links links=model.header_links class="dropdown-menu" role="menu"}}
          </li>
          {{user-menu}}
        </ul>
      </div>
    </div>
  </div>
</div>
