<title>
  {{model.title}}
</title>
<meta property="og:site_name" content="{{this.model.siteName}}" />
{{#if this.model.title}}
  <meta property="og:title" content="{{this.model.title}}" />
{{/if}}
{{#if this.model.description}}
  <meta property="og:description" content="{{this.model.description}}" />
{{/if}}
{{#if this.model.image}}
  <meta property="og:image" content="{{this.model.image}}" />
{{/if}}
{{#if this.model.schemaOrg}}
  <script type="application/ld+json"></script>
{{/if}}
<link href="{{this.model.contentUrl}}" rel="stylesheet" type="text/css" />
{{#if this.model.dataDomain}}
  <script
    async
    defer
    data-domain="{{this.model.dataDomain}}"
    src="https://plausible.io/js/plausible.js"
  ></script>
{{/if}}