{{#bs-navbar class=(navbar-class currentRouteName) fluid=true collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}{{#if (can "read index")}}{{site-title}}{{/if}}{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class="navbar-right" as |nav|}}
      {{#if (can "list member" model)}}
        {{#nav.item}}{{#nav.link-to "members" activeClass="active"}}Members{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#if (can "list data-center" model)}}
        {{#nav.item}}{{#nav.link-to "data-centers" activeClass="active"}}Clients{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#if (can "read user")}}
        {{#nav.item}}{{#nav.link-to "users" activeClass="active"}}Users{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#if (can "list work")}}
        {{#nav.item}}{{#nav.link-to "works" activeClass="active"}}DOIs{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#if (can "read settings")}}
        {{#nav.item}}{{#nav.link-to "settings" activeClass="active"}}Settings{{/nav.link-to}}{{/nav.item}}
      {{/if}}
      {{#nav.item}}
        <a href="https://support.datacite.org">{{t "general.support"}}</a>
      {{/nav.item}}
      {{menu-links links=model.header_links class="dropdown"}}
      {{menu-user class="dropdown"}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
