{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    {{index-header}}

    <div class="content">
      <div class="row">
        {{bar-chart data=model.providerCount label="Member" link="providers"}}
        {{bar-chart data=model.repositoryCount label="Repository" link="repositories"}}
        {{bar-chart data=model.doiCount label="DOI" link="dois" cumulative=false}}
      </div>

      {{#if (can "read messages" model)}}
        <div class="row">
          <div class="col-md-9">
            {{#each flashMessages.queue as |flash|}}
              {{flash-message flash=flash}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
