{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{index-header}}

      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
      
      {{provider-show model=model admin=true}}
    </div>
  </div>
{{else}}
  {{application-header}}
  {{landing-page}}
{{/if}}
