<ApplicationHeader @sign-in={{true}} />
<div class="wrapper">
  <div
    class="register-background"
    style={{html-safe (concat 'background-image: url(' (cdn-url) '/images/fabrica/header.png);')}}
  >
    <div class="container">
      <div class="row">
        <div
          class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"
        >
          <div class="register-card">
            <h3 class="title">
              Set Password
            </h3>
            <span class="help-block">
              Click
              <a
                class="action-link"
                data-test-password-suggestion
                {{action 'generate'}}
              >
                here
              </a>
              for a password suggestion.
            </span>
            <BsForm
              @formLayout="vertical"
              @model={{this.model}}
              @onSubmit={{action 'doSubmit' this.model}}
              @submitOnEnter={{true}} as |form|
            >
              <form.element
                @controlType="text"
                @property="symbol"
                @label="Account ID" as |el|
              >
                <el.control @disabled=true />
              </form.element>
              <form.element
                @controlType="hidden"
                @property="confirmSymbol"
              />
              <form.element
                @controlType="password"
                id="password-input" 
                @property="passwordInput"
                @label="New Password" as |el|
              >
                <div class="password-container-fp">
                  <el.control id="password-input-field" placeholder="Password" />
                  <i class="bi bi-eye-slash" id="togglePassword" {{action 'togglePassword'}}></i>
                </div>
              </form.element>
              <form.element
                @controlType="password"
                id="confirm-password-input" 
                @property="confirmPasswordInput"
                @label="Confirm Password" as |el|
              >
              <div class="password-container-fp">
                <el.control id="confirm-password-input-field" placeholder="Confirm Password" />
                <i class="bi bi-eye-slash" id="toggleConfirmPassword" {{action 'toggleConfirmPassword'}}></i>
             </div>
              </form.element>
              <div class="pseudo-footer">
                <div class="btn-toolbar pull-right">
                  <button class="btn btn-sm btn-cancel" type="button" {{action 'cancel'}}>
                    Cancel
                  </button>
                  <button type="submit" {{action 'doSubmit' this.model}} class="btn btn-sm btn-fill">
                    Submit
                  </button>
                </div>
                <div class="clearfix"></div>
              </div>
            </BsForm>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>