<ApplicationHeader @sign-in={{true}} />
<div class="wrapper">
  <div
    class="register-background"
    style="background-image: url('https://datacite.org/images/fabrica/header.png');"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"
        >
          <div class="register-card">
            <h3 class="title">
              Set Password
            </h3>
            <span class="help-block">
              Click
              <a
                class="action-link"
                data-test-password-suggestion
                {{action 'generate'}}
              >
                here
              </a>
              for a password suggestion.
            </span>
            <BsForm
              @formLayout="vertical"
              @model={{this.model}}
              @onSubmit={{action 'submit' this.model}}
              @submitOnEnter={{true}} as |form|
            >
              <form.element
                @controlType="text"
                @property="symbol"
                @label="Account ID" as |el|
              >
                <el.control disabled />
              </form.element>
              <form.element @controlType="hidden" @property="confirmSymbol" />
              <form.element
                @controlType="password"
                @property="passwordInput"
                @label="New Password" as |el|
              >
                <el.control placeholder="Password" />
              </form.element>
              <form.element
                @controlType="password"
                @property="confirmPasswordInput"
                @label="Confirm Password" as |el|
              >
                <el.control placeholder="Confirm Password" />
              </form.element>
              <div class="pseudo-footer">
                <div class="btn-toolbar pull-right">
                  <button class="btn btn-sm btn-cancel" {{action 'cancel'}}>
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-sm btn-fill">
                    Submit
                  </button>
                </div>
                <div class="clearfix"></div>
              </div>
            </BsForm>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>