<div class="container-fluid">
  <div class="content">
    {{#if (can "list user")}}
      <div class="row">
        {{model-search model=model}}
      </div>

      <div class="row">
        <div class='col-md-9 panel-list' id="content">
          {{#if model}}
            {{#if (gt model.meta.total 1)}}
              <h3 class="member-results">{{#if (gt model.meta.total 1)}}{{format-number model.meta.total}}{{/if}} Users</h3>
            {{/if}}
            {{#bs-accordion as |acc|}}
              {{#each model as |user|}}
                {{#acc.item value=user.orcid as |aitem|}}
                  {{#aitem.title}}
                    {{user.creditName}} {{#if user.role}}<span class='small pull-right'>{{humanize user.role}}</span>{{/if}}
                  {{/aitem.title}}
                  {{#aitem.body}}
                    {{#if user.email}}
                      <h5>Email</h5>
                      <a href="mailto:{{user.email}}">{{user.email}}</a>
                    {{/if}}
                    {{#if user.member}}
                      <h5>Member</h5>
                      {{#link-to "members.show" user.member.id}}{{user.member.title}}{{/link-to}}
                    {{/if}}

                    {{#if user.role}}
                      <h5>Role</h5>
                      {{humanize user.role}}
                    {{/if}}

                    <h5>Account created</h5>
                    {{format-date user.created}}

                    <div class="pseudo-footer">
                      <a href="{{user.id}}">{{fa-icon "external-link"}} {{user.id}}</a>
                      <div class="btn-toolbar pull-right">
                        <div class="btn-group btn-group-sm">
                          {{#link-to "users.edit" user.id}}{{fa-icon "pencil"}}{{/link-to}}
                        </div>
                      </div>
                      <div class="clearfix"/>
                    </div>
                  {{/aitem.body}}
                {{/acc.item}}
              {{/each}}
            {{/bs-accordion}}
            <div class="text-center">
              {{#if (gt model.meta.total_pages 1)}}
                {{page-numbers content=content showFL=true}}
              {{/if}}
            </div>
          {{else}}
            {{#bs-alert dismissible=false type="warning"}}
              No users found.
            {{/bs-alert}}
          {{/if}}
        </div>
        <div class='col-md-3'>
          {{#if model.meta.roles}}
            <div class="panel facets">
              <div class="panel-body">
                <h4>Roles</h4>
                <ul>
                  {{#each model.meta.roles as |role|}}
                    <li>
                      {{#if model.otherParams.role}}
                        {{#link-to "users" (query-params role='')}}{{fa-icon "check-square-o"}}{{/link-to}}
                      {{else}}
                        {{#link-to "users" (query-params role=role.id)}}{{fa-icon "square-o"}}{{/link-to}}
                      {{/if}}
                      <div class="facet-title">{{humanize role.title}}</div>
                      <span class="number pull-right">{{format-number role.count}}</span>
                      <div class="clearfix"/>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
