<div class='row'>
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h3 class="edit">Add DOI (Form)</h3>

        {{#bs-form formLayout="vertical" model=model.doi onSubmit=(action "submit" model.doi) as |form|}}
          {{doi-doi model=model.doi client=model.client form=form}}

          {{form.element controlType="text" label="URL" placeholder="URL" property="url" helpText="The location of the landing page with more information about the resource." required=false}}

          {{form.element controlType="hidden" property="xml" value=null}}

          {{multi-input-form model=model.doi}}
          {{form.element controlType="textarea" label="Title" placeholder="Title" property="title" rows=2 helpText="A name or title by which the resource is known." required=false}}
          {{form.element controlType="text" label="Publisher" placeholder="Publisher" property="publisher" helpText="The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource." required=false}}

          {{doi-published model=model.doi form=form}}
          {{doi-resource-type model=model.doi form=form}}
          
          {{form.element controlType="textarea" label="Description" placeholder="Description" property="description" rows=8 helpText="All additional information that does not fit in any of the other categories." required=false}}            

          {{doi-state model=model.doi form=form}} 

          <div class="pseudo-footer">
            <div class="btn-toolbar pull-right">
              <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
              <button type="submit" disabled={{v-get model.doi 'isInvalid'}} class="btn btn-sm btn-fill">Save</button>
            </div>
            <div class="clearfix"/>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>
